[2021-04-28 03:52] JasonTypesCodes opened #634 "StackOverflowError When using Eureka With OpenIdProviderMetadata"
See: #623

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create an Application with Eureka and OAuth2 Support and configure it to support OpenID Connect
2. Create a `EndSessionEndpoint` that takes a `OpenIdProvid

[2021-04-29 01:03] LGalabov commented on #629
Ok, now it makes sense. Thanks! :)

[2021-04-29 16:11] adrnola commented on #256
@jameskleeh - Thanks. I did some more investigating into this.

I now have the following configuration:

[1] CustomJwtClaimsValidator implements GenericJwtClaimsValidator - which I use for Authentication of JWT (isIssuerValid && isAudienceValid && isGrantTypeValid && isAuthorizedPartyValid && isNotExpired) by using ammplication.xml entries

[2] I created a Custom SecurityRule and created a corresp

[2021-04-29 16:13] adrnola commented on #256
@jameskleeh - Thanks. I did some more investigating into this.

I now have the following configuration:

[1] CustomJwtClaimsValidator implements GenericJwtClaimsValidator - which I use for Authentication of JWT (isIssuerValid && isAudienceValid && isGrantTypeValid && isAuthorizedPartyValid && isNotExpired) by using ammplication.xml entries

[2] I created a Custom SecurityRule and created a corresp

[2021-04-29 16:15] adrnola commented on #256
@jameskleeh - Thanks. I did some more investigating into this.

I now have the following configuration:

[1] CustomJwtClaimsValidator implements GenericJwtClaimsValidator - which I use for Authentication of JWT (isIssuerValid && isAudienceValid && isGrantTypeValid && isAuthorizedPartyValid && isNotExpired) by validating using application.xml entries below

[2] I created a Custom SecurityRule and c

[2021-04-29 17:33] JasonTypesCodes commented on #634
This morning, @jameskleeh advised that injecting a `Provider` in the custom endpoint implementation.  It makes sense given that `AbstractEndSessionRequest` is requesting a Supplier rather than the instance itself.  I'll give that a try, and assuming everything works out (I think it will) I'll close this.  Thanks!

[2021-04-30 01:26] #634 closed

[2021-05-04 01:53] IgorEulalio commented on #12
I have a case in my company.

We have client credentials per department and need to authorize in a external system to generate a JWT and send to a gateway, that will validate this token.

I try this code:
[code]
My client is configured:

[code]

When i call this API, i receive this error:
22:36:30.433 [default-nioEventLoopGroup-1-3] ERROR i.m.h.s.netty.RoutingInBoundHandler - Unexpected error occu

[2021-05-04 03:30] sdelamo commented on #12
@IgorEulalio create a separate issue with more details and a reproducible applications or steps to reproduce.

[2021-05-04 14:15] jjchiw commented on #370
Hi!

Did this change was merged?

I see the change in the commit

https://github.com/micronaut-projects/micronaut-security/blob/e94a521da1e93f2af5f5112bdc2a41c5b521697f/security-oauth2/src/main/java/io/micronaut/security/oauth2/url/DefaultOauthRouteUrlBuilder.java#L114

But it doesn't appear in the tag `2.0.1`

https://github.com/micronaut-projects/micronaut-security/blob/v2.0.1/security-oauth2/sr

[2021-05-04 14:15] IgorEulalio opened #642 "ERROR WITH: Support Client Credentials Grant"
I can't share the code because company policies, but i will try to explain at the maximum.
Linked with this issue: https://github.com/micronaut-projects/micronaut-security/issues/12
Oriented by @sdelamo i create a new issue to relate my problem.

Explain:
I have a lot of microservices, this microservices don't handle with the generate token process directly, have a thirdy party authorization in my

[2021-05-04 14:16] IgorEulalio commented on #12
Thank you @sdelamo, follow the new issue: https://github.com/micronaut-projects/micronaut-security/issues/642

[2021-05-04 14:18] jameskleeh commented on #370
@jjchiw It appears I failed to create a PR for the branch. I just did https://github.com/micronaut-projects/micronaut-security/pull/643

[2021-05-04 14:42] jameskleeh commented on #642
What version of Micronaut?

[2021-05-04 14:57] IgorEulalio commented on #642
<micronaut.version>2.4.2</micronaut.version>

[2021-05-04 15:18] IgorEulalio commented on #642
To generate this token, my call look like this:

[code]

[2021-05-05 11:03] #253 closed

[2021-05-06 17:45] chuanhhoang opened #645 "How to register a customer LoginHandler"
In the documentation, it is said that you can register your own implementation of LoginHandler but there is no mention of how to it. How can I register my own implementation of LoginHandler?

[2021-05-13 20:04] ratcashdev opened #648 "DefaultAuthorizationExceptionHandler does not send "WWW-AUTHENTICATE" header"
### Steps to Reproduce

1. Follow the guide for basic authentication here: https://guides.micronaut.io/latest/micronaut-security-basicauth-gradle-java.html
2. Stop after step 4.3.
3. Micronaut config:
[code]
4. Call the resource from your browser

### Expected Behaviour

for HTTP 401 the browser should show a window asking for username and password
https://stackoverflow.com/questions/3297048/403-f

[2021-05-17 07:54] sdelamo commented on #645
You create a class which implements `LoginHandler` and annotate it as @Singleton.

[2021-05-17 07:54] #645 closed

[2021-05-18 07:45] sdelamo commented on #648
Hi, thanks for the feedback.

I don't think we can create a generic solution since the value of `WWW-Authenticate` header will depend on the user application. However, you can create replace the default handler `DefaultAuthorizationExceptionHandler `for  `AuthorizationExceptionHandler` such as:

[code]

[2021-05-18 07:45] #648 closed

[2021-05-18 08:32] ratcashdev commented on #648
Understood.
While updating the doc, you could mention, that even though someone throws a `AuthenticationException` from his `AuthenticationProvider` (like below), he is still supposed to handle an `AuthorizationException`. Quite unintuitive and took me great deal of time to figure out why isn't it working.

[code]

[2021-05-18 13:03] sdelamo commented on #648
He does not need to handle the exception. There is a `DefaultAuthorizationExceptionHandler`

[2021-05-18 15:43] ratcashdev commented on #648
@sdelamo you're right. The point I was trying to make was that while i attempted to add the WWW-Authenticate header myself inside the `AuthenticationExceptionHandler`, it was not called and I had to debug the framework to realize that such a handler is not going to be called (ever?) and instead i have to implement an `AuthorizationExceptionHandler`.
In other words the unintuitive thing is, that i

[2021-06-17 07:55] ilopmar opened #688 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-17 10:06] njimenezotto commented on #550
Hello,
I'm also interested on this feature where the endpoints of your services are not secured because AWS or GCP already gives you the security layer. However, the HTTP clients in the service that are used to call other endpoints requires an access token provided by a 3 party.

[2021-06-17 11:39] tcrespog opened #689 "Request body is not present in `SecurityRule`"
### Task List

- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Download the [example application](https://github.com/tcrespog/mn-security-rule-body).
2. Run the `PetControllerTest`, which performs a request to an endpoint secured with a `CustomSecurityRule`.
3. The `C

[2021-06-18 09:16] graemerocher opened #691 "Security Session not compatible with native image"
The class https://github.com/micronaut-projects/micronaut-security/blob/dbabb49615cf701e67b7b6868207d77a3a52f1b9/security/src/main/java/io/micronaut/security/authentication/AuthenticationUserDetailsAdapter.java is placed into the session by `micronaut-security-session` but has no `@Introspected` or reflection annotations so breaks when running in native with:

[code]

See https://github.com/pgress

[2021-06-29 15:18] ilopmar opened #713 "Improve deprecation docs for 3.0.0"
During the upgrade of micronaut-graphql to Micronaut 3.0 I needed to upgrade the security and use 3.0.0-M1 that removed a lot of deprecations and removals.
The [documentation about the breaking changes](https://micronaut-projects.github.io/micronaut-security/3.0.0-M1/guide/index.html#breaks) only explains the things that have been removed but not which classes I need to use as replacement. For doi

[2021-06-30 11:10] ecmel opened #714 "security.redirect.prior-to-login Does not work with urls more than 1 slash"
I am using AWS Cognito Oauth2 client, if the protected url is https://host.com/task the redirect works as expected after login but if the url is https://host.com/task/1 it redirects to home page.

[2021-07-05 08:08] dileepnaik opened #715 "Is there any way in Micronaut, where I can do an authentication to the JWT authentication provider ?"
I can Only see the documentation for the authentication mechanism in the same server.
But in  my case, I have the JWT auth provider, and the clients will directly call and get the jwt token.
Clients, While sending the request it includes the bearer token, but I have to go and validate against the Auth provider. Is there any way in micronaut I can override the behaviour and make a call to AuthProvi

[2021-07-05 08:18] #715 closed

[2021-07-06 21:25] jeffbrown opened #717 "Minor Wording Issue"
Section 15.3.2.1 at [micronaut-projects.github.io/micronaut-security/2.5.0/guide/#clientecredentialshttpclient](https://micronaut-projects.github.io/micronaut-security/2.5.0/guide/#clientecredentialshttpclient) includes the following incomplete sentence:

[2021-07-07 06:54] tcrespog commented on #689
I found this PR which explains the change of behavior: https://github.com/micronaut-projects/micronaut-core/pull/5261.

Now I understand that the absence of body in filters is intentional, therefore it won't be present in security rules as they are executed in the [`SecurityFilter`](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/fi

[2021-07-07 13:16] logineimer opened #718 "JWT refresh token cookie will not be cleared on logout"
### Steps to Reproduce

1. Configure your app to use JWT cookie auth
2. Login with the default `JWTCookieLoginHandler` (`/login`)
3. Logout with the default `JWTCookieClearerLogoutHandler` (`/logout`)

### Expected Behaviour

The `JWT_REFRESH_TOKEN` should be cleared.

### Actual Behaviour

The `JWT_REFRESH_TOKEN` is not cleared. I assume this is the case because in `JWTCookieClearerLogoutHandler#

[2021-07-12 09:14] idleherb commented on #718
I've stumbled over the exact same issue yesterday when setting up a micronaut app with oauth. The `JWT_REFRESH_TOKEN` is restricted to the `/oauth/access_token` path, so it never reaches `/logout`.

The `JWT` token gets cleared as expected, but that doesn't help much because when the frontend makes a subsequent request to `/oauth/access_token` to refresh the access token, the refresh token cookie

[2021-07-12 12:22] #691 closed

[2021-07-13 04:44] yertym opened #720 "Allow the LDAP group search filter argument to be configured"
The LDAP group search is hardcoded to only use the DN of the user as a filter argument. This causes non-standard LDAP setups to fail.

### Steps to Reproduce
[code]
User
[code]
Group
[code]
Using the configuration above it works correctly when authenticating the user but when searching for groups that the user is in returns no results because memberUid doesn't use the DN of the user but rather use

[2021-07-14 21:08] hedgehogs-mind commented on #718
Experiencing the same issue with Micronaut 2.5.8.  Proposal by logineimer seems to be the best fit, as it's not possible to set multiple paths for a cookie.

[2021-07-14 21:55] logineimer commented on #718
I wrote a workaround too but yours is more clever as you don't rewrite the whole class. I might adapt my solution to yours until my fix is hopefully getting merged and released to public. 😇

[code]

[2021-07-15 11:07] #717 closed

[2021-07-15 17:21] ozooxo opened #1010 "Support `@WithMockUser`"

[2021-07-30 21:59] Z-EMB opened #737 "Unexpected SESSION cookie is created under a different path causing unauthorized redirect"
### Expected Behavior

When I am logged in, all of my controllers with `@Secured(SecurityRule.IS_AUTHENTICATED)` are resolved without throwing unauthorized and redirecting me to login page.

### Actual Behaviour

Getting redirected to unauthorized page when navigating to example: `/download/game/os` because a cookie is created instead of reading existing one.

### Steps To Reproduce

[code]

2 con

[2021-08-05 18:31] #558 closed

[2021-08-05 18:42] #718 closed

[2021-08-05 18:50] #282 closed

[2021-08-05 19:59] jameskleeh commented on #713
Going to close this because its not something we typically do. We document in the javadoc in the deprecated code what should be done to upgrade. The deprecated code should be handled prior to the upgrade. Re-documenting that in breaks would take a ton of time

[2021-08-05 19:59] #713 closed

[2021-08-05 20:00] jameskleeh commented on #714
@ecmel This should be resolved in the next 2.5.x and 3.0.x releases. Please let me know if it persists after

[2021-08-05 20:19] #720 closed

[2021-08-05 20:20] jameskleeh commented on #720
Now possible with:

[code]

[2021-08-06 15:50] #688 closed

[2021-08-06 23:54] kamaydeo opened #750 "HttpClient OAuth2 Client Credentials times out"
### Expected Behavior

HTTP Call should return successfully

### Actual Behaviour

HTTP calls times out. The token is received and you can see that in the trace logs, but the chain of calls hang, and no call to bitbucket is ever made. Application goes in a strange hung state and any subsequent calls fail.

### Stacktrace
[code]

### Steps To Reproduce

**Refer to README.md**
1.  Build and run the

[2021-08-10 06:19] sdelamo commented on #750
Read timeout for Micronaut HTTP client defaults to 10 seconds.

You could update it to a more sensible default for your use case:

[code]

See [Configuring HTTP Clients](https://docs.micronaut.io/latest/guide/#clientConfiguration)

Please, reopen if this does not fix the issue.

[2021-08-10 17:55] sturlapati-adaptive opened #751 "Support for including an audience parameter when requesting OAuth token"
### Feature description

Auth0 expects to receive the audience parameter when requesting a token from them. This applies to following flows: AuthorizationCode, ClientCredentials, Password.

Please provide a way to specify the audience value in the oauth configuration when requesting a token.

NOTE: I already wrote the code and I can do pull request. I need some guidance on the expected tests.

tha

[2021-08-10 18:14] sturlapati-adaptive commented on #751
Can you please give me permission to push changes to a branch so i can create a PR?

[2021-08-10 22:23] kamaydeo commented on #750
Suggested fix does not resolve above issue. It times out after 15s. Anyways, please run the example I have provided. BTW, I can't reopen the issue. Would you reopen it on my behalf or do you want me to open a new issue and link this one?

[2021-08-10 22:30] kamaydeo opened #752 "HttpClient with OAuth2 Client Credentials doesn't work"
### Expected Behavior

HTTP Call should return successfully

### Actual Behaviour

HTTP calls times out. The token is received and you can see that in the trace logs, but the chain of calls hang, and no call to bitbucket is ever made. Application goes in a strange hung state and any subsequent calls fail.

### Stacktrace
[code]

### Steps To Reproduce

Refer to README.md

- Build and run the examp

[2021-08-10 22:31] kamaydeo commented on #752
opening a new one since https://github.com/micronaut-projects/micronaut-security/issues/750 was closed incorrectly.

[2021-08-11 05:44] sdelamo commented on #751
@sturlapati-adaptive you will need to fork the repository and create a pull request from your fork.

[2021-08-11 05:51] sdelamo commented on #714
@jameskleeh are you referring to core or security releases?

[2021-08-11 05:58] sdelamo commented on #689
Yes, the absence of body in filters is intentional.

[2021-08-13 08:24] sdelamo commented on #689
Yes, I am going to write a documentation snippet. We should have clarified this.

[2021-08-13 09:39] braeluca opened #755 "JWT Cookie "SameSite" is ignored"
### Expected Behavior

The Cookie with the JWT should have the "SameSite" Property, if it is specified.

### Actual Behaviour

When specifying the "SameSite" configuration, the cookie with the JWT does not have the property.

However I had to rewrite the default "LoginController" because the HTTP-Client throw a ReadTimeoutException, with the redirect response. I had to alter the response to 200, t

[2021-08-13 10:07] braeluca commented on #755
I did some further Investigation. The configuration must exactly equals the Enum Name. However my IDE did autocomplete it to "strict" and not to "Strict".  This should be referenced in the Documentation or it should work case insensitive...

[2021-08-13 13:31] Xaseron opened #757 "BasicAuthUtils parser does not accept an empty password"
### Expected Behavior

We are implementing a service that fetches data from SonarQube and we like to test it. As the SonarQube documentation states:

https://docs.sonarqube.org/latest/user-guide/user-token/
This also means that the password field in basic auth is empty.

We implemented a Controller with BasicAuth to test our implementation.

The assumption in [BasicAuthUtils](https://github.com/mi

[2021-08-13 15:17] paulbandler commented on #3
This issue describes exactly the use-case I am facing - i.e. a Micronaut resource server receives an opaque bearer access tokens from a (JavaScript/Angular) OpenID client that needs to be validated using the UserInfo endpoint provided by the issuing Identity Service.  @jameskleeh can you please clarify whether this use-case can be implemented with the Micronaut security framework, and if so, which

[2021-08-13 15:25] jameskleeh commented on #3
@paulbandler Please ask this question in [Gitter](https://gitter.im/micronautfw) or create a [discussion](https://github.com/micronaut-projects/micronaut-core/discussions)

[2021-08-17 19:03] jameskleeh commented on #757
The implementation is not wrong, imo. The [RFC](https://datatracker.ietf.org/doc/html/rfc2617#section-2) makes no mention of the password being optional. It appears to me sonarqube are making use of the functionality in a way that wasn't intended.

[2021-08-18 08:14] Xaseron commented on #757
That's true. We solved it by implementing our own `BasicAuthAuthenticationFetcher` and replacing the default one `@Replaces(BasicAuthAuthenticationFetcher::class)`.

[2021-08-18 08:14] #757 closed

[2021-08-18 21:32] sdelamo commented on #689
I am closing this issue. I have added a documentation snippet which explains that you cannot read HTTP Body from a `SecurityRule`

[2021-08-18 21:32] #689 closed

[2021-08-20 10:11] ecmel commented on #714
Not fixed in micronaut 3.0.0 just FYI

[2021-08-22 04:22] #714 closed

[2021-08-22 16:15] kamaydeo commented on #750
@sdelamo Any updates?

[2021-09-02 11:25] sdelamo opened #771 "JWKS not been cached"
### Discussed in https://github.com/micronaut-projects/micronaut-security/discussions/765

<div type='discussions-op-text'>

<sup>Originally posted by **enzomotta** August 24, 2021</sup>
Hi there,

I was using only AWS Cognito to authenticate my users and everything was perfect til I had to support Google and Apple native logins. So, to validate those jwts so I added the respective JWKS on my appl

[2021-09-03 13:16] sdelamo commented on #755
thanks for reporting @braeluca

I have documented that value is case sensitive and added a test for this. I think value should be case insensitive. But it will require a a PR to `http-server` module.

[2021-09-03 14:22] sdelamo commented on #755
I've documented here https://github.com/micronaut-projects/micronaut-security/pull/772

and submitted a [PR to make it case insensitive in 3.1.x of Micronaut core](https://github.com/micronaut-projects/micronaut-core/pull/6093).

[2021-09-03 14:22] #755 closed

[2021-09-03 15:27] sdelamo commented on #752
@kamaydeo I saw you deleted the sample application. Could you upload it again?

Moreover, note many of the contributors to Micronaut were on vacation during many weeks in august. Plus we were in the middle of Micronaut 3 release.

[2021-09-04 14:06] braeluca commented on #755
Thanks, for changing this behavior...

[2021-09-06 11:08] sdelamo commented on #751
@sturlapati-adaptive I just created a Micronaut application and used Auth0 and I did not need to supply the audience.

I have written a guide: https://github.com/micronaut-projects/micronaut-guides/pull/500

Can you point me what I am missing ?

[2021-09-08 19:13] imre-kerr commented on #751
I'm not sure why it's not required in that case, but at least for Client Credentials flow the docs say it's required: https://auth0.com/docs/authorization/flows/call-your-api-using-the-client-credentials-flow#request-tokens

And the response (HTTP 403) when it's missing seems to confirm it:
[code]

[2021-09-08 19:17] jameskleeh commented on #751
Because "audience" is not part of the standard I'm not sure we should support it explicitly, but perhaps with a map of configurable claims:

[code]

[2021-09-09 08:37] frehov commented on #254
sorry to necro this issue.

but it's possible to remap the `RolesFinder` to fetch the "roles" from the "scope" claim/attribute by using `micronaut.security.token.roles-name=scope` and then you can use `@Rolesallowed` annotation with the entries from the scope attribute instead.
This only works if you're not including any roles in the claims as it directly changes what attribute is used to map role

[2021-09-09 08:51] frehov commented on #256
I'd like to chime in here with the same answer I've fiven on #254.

If you're not including roles in the claims, then you can use `micronaut.security.token.roles-name=scope` to remap the ttribute used by the default `RolesFinder` and use the `@RolesAllowed` annotation to achieve securing routes with scopes from JWT.
This would only work as long as you're not dependenent on mapping roles from the d

[2021-09-10 12:01] frehov opened #774 "support usage of jakarta annotations for micronaut-security"
### Feature description

Hi,

I'd like to request that the jakarta annotations for RolesAllowed, PermitAll and DenyAll be included in the annotation mappers pressent in the security-annotation package for micronaut.
They should be the same as their javax equivalents, but in a new namespace.

We hit this gotcha when trying to use `@RolesAllowed` from the jakarta annotations library and our authenti

[2021-09-10 13:42] graemerocher commented on #774
good idea, seems fairly simple to address, would you like to send a PR?

[2021-09-10 13:52] frehov commented on #774
I can probably take a stab at it.
Is there anything that I should keep in mind for the PR?

[2021-09-10 14:27] graemerocher commented on #774
the way we have done this before is subclass the `javax` mappers and overrride the annotation name however that does require changing them from a `TypedAnnotationMapper` to a `NamedAnnotationMapper` but at least avoids some duplication

[2021-09-10 14:55] frehov commented on #774
alright, let's see if I have this correct.

By changing to a NamedAnnotationMapper like the following
[code]

and then subclassing the next one like this
[code]

would solve it?

[2021-09-10 16:24] graemerocher commented on #774
yes, the new one would need to be added into the `META-INF/services` config as well

[2021-09-10 20:57] frehov commented on #751
I've had a look at the backing code for the client credentials.
I've especially had a look at the `ClientCredentialsTokenRequestContext` which seems like it would be the most elegant place to inject those extra request parameters.

By hooking up the `ClientCredentialsTokenRequestContext` as the place to inject the extra parameters it's less vulnerable to someone overwriting parts of the secure gra

[2021-09-10 21:46] sturlapati-adaptive commented on #751
I agree with @jameskleeh. @frehov  i am ok with your approach and if @jameskleeh  agrees please go ahead with the PR

[2021-09-12 18:52] sdelamo commented on #751
@frehov give me a couple of days before submitting the PR. I am working on a guide with an example of Auth0 and client credentials authentication. I want to discuss the options with everyone after I am finished with the example.

[2021-09-12 18:56] sdelamo commented on #751
@frehov never mind I saw you submitted your PR. I will check it out.

[2021-09-13 07:30] sdelamo commented on #751
I've written a guide which shows how to use client-credentials flow with Auth0 and Micronaut:

https://github.com/micronaut-projects/micronaut-guides/pull/513

If you name your OAuth 2.0 client `auth0`. You may have a configuration such as:

[code]

And you can add an extra `audience`by replacing `@Named("auth0") ClientCredentialsClient`. E.g:

[code]

[2021-09-14 10:15] #751 closed

[2021-09-14 11:51] moazharuddin commented on #165
@jameskleeh request.getCertificate() is returning empty.
https://stackoverflow.com/questions/63353788/not-able-to-fetch-client-certificate-in-authenticationfetcher-micronaut

[2021-09-14 12:33] sdelamo commented on #550
An easy way to achieve this is to create a  `SecurityRule` which allows everything.

[code]

[2021-09-16 22:53] caiolopes commented on #408
Hey @sdelamo, I am facing a problem right now because of this automatic exposure of `/health`.

Basically, I created a small separated library with all auth logic. When I add this library I created which uses `micronaut-security` as a dependency of another micronaut project, I get:

[code]

is there a way of disabling this route or removing this dependency?

[2021-09-17 14:55] #774 closed

[2021-09-20 19:21] ecmel commented on #209
Still having a similar issue with AWS cognito and micronaut. It happens when I restart the application or upload a new version to the server.

[code]

[2021-09-24 15:09] frehov opened #787 "micronaut-security-jwt: scopes are not converted to list/iterable when remapping the rolesfinder"
### Expected Behavior

When remapping `DefaultRolesFinder` to read roles from the scope attribute with `security.token.roles-name=scope` I expect to find multiple roles attached to the authentication object.

### Actual Behaviour

When remapping `DefaultRolesFinder` to read roles from the scope attribute with `security.token.roles-name=scope` I find only one entry in the list of roles.

### Steps

[2021-09-26 18:22] morki opened #788 "Regression in native image support for OpenID Connect"
### Expected Behavior

The native image build of Micronaut application with OpenID Connect features works out of the box in build time and run time.

The problem is probably with change in Micronaut 3.x where `@Introspected` beans are no longer added automatically to `reflect-config.json`.

As a workaround, it can be solved with adding this to `reflect-config.json` as generated with native agent:

[2021-09-27 07:58] ilopmar commented on #788
Those classes should be annotated with `@ReflectiveAccess`. @morki would you like to submit a PR? :-)

[2021-09-27 08:06] morki commented on #788
@ilopmar Of course :)

[2021-09-28 07:19] #788 closed

[2021-09-28 08:01] sdelamo commented on #787
I don't think this is a bug.

However, we could add some flexibility via configuration.

 Maybe we could add a new configuration property `security.token.roles-separator` (defaul to `null` to avoid being a breaking change).

And if in your case you could set it to

[code]

@frehov what do you think?

[2021-09-28 08:09] sdelamo commented on #408
@caiolopes You could  disable the health endpoint via:

[code]

You can test it via:

https://sergiodelamo.com/blog/micronaut-test-health-endpoint.html

[2021-09-28 08:46] frehov commented on #787
I think that would work.
I had something more extensive in mind, but this is probably the most elegant solution.

It's probably not a bug per se, as you're only relying on what the nimbuds library is parsing and returning as the `ClaimsSet`

I can most likely have a PR for this up within the day if that's of any interest?

[2021-09-28 09:30] graemerocher commented on #408
still seems like a bug, why does `micronaut-security` directly depend on `micronaut-management`?

[2021-09-28 09:42] sdelamo commented on #408
`SecurityFilter` replaces `EndpointsFilter`https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/filters/SecurityFilter.java#L54

[2021-09-28 09:43] sdelamo commented on #787
Yes, PR are welcome. I will review it and get it merged.

[2021-09-28 09:56] frehov commented on #787
I do have one question though.
Should the splitting be part of the `DefaultRolesFinder`, or should it provide a consistent experience so that every `RolesFinder` will get the same inital map of attributes, i.e not having to implement the splitting yourself when implementing a `RolesFinder`

I believe the best option is going for the consistent feel, and thus doing the separation in `DefaultJwtAuth

[2021-09-28 10:15] sdelamo commented on #787
I think it probably best to have it in the `DefaultRolesFinder`. Users maybe using non JWT authentication.

[2021-09-28 10:58] graemerocher commented on #408
It should be a `compileOnly` dependency with `@Requires(classes=EndpointsFilter)` in that case

[2021-09-28 10:59] graemerocher commented on #408
No module should directly depend on `micronaut-management` as it eliminates the option to easily remove it

[2021-09-28 11:39] frehov commented on #787
Alright, I've submitted the PR with the change on the `DefaultRolesFinder`

[2021-09-28 16:04] sdelamo commented on #408
If we do this change and a user has `security` in his application but not `management`, the security will not be loaded and thus security will be disabled. That it is a breaking change and I am not sure if it is worth it for the risk.

[2021-09-28 16:08] graemerocher commented on #408
seems the solution in that case would be to replace EndpointsFilter with just an implementatio that proceeds when security is present and removes the `@Replaces` from `SecurityFilter` which seems the wrong place for it

[2021-09-28 21:56] caiolopes commented on #408
@sdelamo Thanks for answering and the test example. I have a very similar test (except that I test `health/liveness` and `health/readiness`). And it's exactly this test that is failing.

I don't know if made myself clear: I have two repos A and B, both are micronaut projects.

- A uses `micronaut-security` as a dependency, and has some custom auth related code that we need to integrate with our in

[2021-09-29 08:49] #787 closed

[2021-09-29 08:57] sdelamo commented on #408
@caiolopes A publishes an artifact which includes and `application.yml` B has its own `application.yml` ?

[2021-09-29 09:36] sdelamo commented on #408
@graemerocher

I've created to related PRs:

https://github.com/micronaut-projects/micronaut-core/pull/6242

and:

https://github.com/micronaut-projects/micronaut-core/pull/6243

[2021-09-29 10:26] caiolopes commented on #408
Exactly!

[2021-09-30 10:16] sdelamo commented on #408
My statement 👆🏻 is  incorrect.

@jameskleeh pointed me that `@Replaces` should work if you use `compileOnly`. I added a test in the ldap module (which does not contain the `management` dependency). The test verifies that you can have a filter annotated with `@Replaces` replacing a class which is only `compileOnly`. The test verifies that the `SecurityFilter` exists and the `health` endpoint is not

[2021-10-05 16:15] #550 closed

[2021-10-15 17:52] Steven-M-Brown commented on #771
We see this too; it seems to consider each jwk source independently after sorting.

This results in the following behaviors (using your yml as an example and the assumption that is the sort order):
1. Get jwt signed by awscognito:
    * checks awscognito, passes, continues.
2. Get jwt signed by google:
    * checks awscognito, fails, refreshes awscognito, still fails
    * checks google, passes, c

[2021-10-16 20:22] morki opened #811 "Support Keycloak in OpenID Connect end session endpoint"
### Feature description

We may support Keycloak as other providers (Okta, Cognito, Auth0) in `EndSessionEndpointResolver`.
- It can be resolved by checking the issuer for pattern `/auth/realms/` and creating `KeycloakEndSessionEndpoint`.
- The url can be deduced from issuer by appending`/protocol/openid-connect/logout`.
- The only argument (query parameter) for this endpoint is `redirect_uri` wit

[2021-10-17 16:19] jaybcee opened #812 "[JWT] Ability to modify default "/login" response to include more fields."
### Feature description

Currently, in the implementation of the [AuthenticationProvider](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/authentication/AuthenticationProvider.java) interface an `AuthenticationResponse` is returned. This response resembles the following
[code]

The authentication response signature I'm using is the

[2021-10-18 17:22] morki opened #816 "Possibility to provide redirect paths for authentication endpoints"
### Feature description

This feature request is about adding optional query parameter `redirect_url` or something similar to multiple endpoints in this security module. The imlementation should be some extension or widening of already presented concept `PriorToLoginPersistence`.

**Use cases for OAuth2 / OIDC login**
Now we are unable to make some routes anonymous, but with login button, which re

[2021-10-18 18:03] jaybcee commented on #812
I apologize, I believe you are right! The class names are a bit confusing however. I have seen the same issue here https://github.com/micronaut-projects/micronaut-core/issues/712 and there appears to be a solution. I believe this should be documented. I will try to contribute once I have figured it out. Thanks for your response.

[2021-10-19 07:44] #816 closed, assigned to nobody

[2021-10-19 09:29] #812 closed, assigned to nobody

[2021-10-19 09:41] morki opened #817 "Write a Keycloak integration guide"
Write a [https://guides.micronaut.io](guide) for Keycloak integration.

[2021-10-19 11:00] #817 closed, assigned to nobody

[2021-10-20 10:09] sdelamo opened #819 "Support Macaroons"
### Issue description

See [https://github.com/nitram509/jmacaroons](https://github.com/nitram509/jmacaroons)

[2021-10-26 20:55] dlangerenken opened #825 "interceptUrlMap is ignoring context path"
### Expected Behavior

The interceptUrlMap will consider the context-path, such that the following config allows me to access /home/app/anything:
[code]

### Actual Behaviour

I need to add the context-path as part of my pattern for each interceptUrlMap entry:
[code]

`/home/app/anything` is not accessible otherwise.

### Steps To Reproduce

Use the following application.yml
[code]
Try to access a

[2021-11-04 17:51] jhoweaa opened #830 "AuthorizationException does not reference original error/exception from custom AuthenticationProvider"
When creating a custom AuthenticationProvider and a custom AuthorizationException handler, details about errors that happen in the AuthenticationProvider are not available to the exception handler code.

### Task List

- [X] Steps to reproduce provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

Buil

[2021-11-06 15:46] jhoweaa commented on #830
I was debugging this and I may have hit on the issue. From what I can tell, my custom AuthenticationProvider is called by the BasicAuthAuthenticationFetcher. The key bits of code from BasicAuthAuthenticationFetcher are found here:

[code]
When the code evaluates the **authenticationResponse** in the switchMap, it checks to see if the **response**
 is valid. In my case, the **response** is an insta

[2021-11-08 17:04] sdelamo commented on #825
I am not sure what to think. I don't think we should change behaviour because it could be consider a breaking changing. Thus, it may break already existing applications.

A current user may have:

[code]

and we we change it, then intercept-url-map pattern maybe considered `/home/home/foo/**` and thus break their application.

I think we could add a boolean configuration property such as `micronau

[2021-11-09 09:50] sdelamo commented on #771
@Steven-M-Brown I have a PR which I think helps. Can you check it out and let me know what you think?

https://github.com/micronaut-projects/micronaut-security/pull/823

[2021-11-09 16:07] alejandropg opened #844 "Make JWT Cookie login/logout redirect optional"
### Feature description

Hi @sdelamo

as you told me I open a new issue to "reactivate" the subject. But take into account that this is a duplication/continuation of #96 and #97

The suggested feature is to make optional the JWT Cookie login/logout redirect.

The use case is that sometimes (for me is rather always 😅) you develop a REST API that is consumed by a Web/JavaScript client. In this scena

[2021-11-09 23:23] Steven-M-Brown commented on #771
Sure, I'll review it first thing tomorrow morning.

[2021-11-10 08:38] sdelamo commented on #844
I think `micronaut.security.redirect.enabled` with a default to `true` works. Would you be willing to contribute a PR ?

[2021-11-10 09:28] alejandropg commented on #844
I could try 😅
Let me some time, at least one week (you know, I have to do it in my free time). If in the end, I can't, I will notify you.

[2021-11-10 14:02] sdelamo commented on #844
If you cannot do it, it is fine. I will try to included it in 3.2. or 3.3 of Micronaut Security.

[2021-11-23 06:29] #811 closed

[2021-11-23 11:37] sdelamo commented on #771
@Steven-M-Brown thanks for your help with this issue. I am releasing 3.1.1 with the fix now.

[2021-11-23 11:37] #771 closed

[2021-12-06 04:01] volgin opened #860 "More than 1 route matched: POST - /login, POST - /login"
### Expected Behavior

I am following the guide for JWT security:
https://guides.micronaut.io/latest/micronaut-security-jwt-maven-java.html

I added suggested classes and tests to my project. All tests pass. However, when I deploy the app to Google App Engine, I get the following error:

'''More than 1 route matched the incoming request. The following routes matched /login: POST - /login, POST - /

[2021-12-09 19:53] graemerocher commented on #860
sounds like the shaded JAR contains duplicate classes

[2021-12-10 16:38] volgin commented on #860
All the controllers that I explicitly defined are working correctly. So it's limited to Micronaut security.

I have the following dependencies:

micronaut-security-jwt
micronaut-inject
micronaut-validation
micronaut-http-client
micronaut-http-server-netty
micronaut-runtime
micronaut-data-jdbc
micronaut-jdbc-hikari
micronaut-reactor
micronaut-reactor-http-client
micronaut-gcp-logging
javax.annotati

[2021-12-17 11:21] sdelamo opened #870 "Remove OAuth 2 GraalVM Warnings"
### Issue description

Steps to reproduce:

Clone https://github.com/micronaut-advocacy/micronaut-live-newsletter

run `./gradlew :app:nativeCompile`

[code]

[2021-12-19 11:54] matt-snider commented on #332
@sdelamo Any context on the point about `invalidateToken()` and why it wasn't implemented? Is there a recommendation for how to do this? I saw the preceding discussion in #315 but it looks like it was not mentioned again in #397

[2021-12-23 14:08] sdelamo commented on #332
@matt-snider It will depend application. In this example app, https://guides.micronaut.io/latest/micronaut-security-jwt-gradle-java.htmlI am revoking the refresh tokens by flagging them as revoked in the DB. not sure if this helps.

[2021-12-23 16:04] jameskleeh commented on #332
@matt-snider The logout handler is only responsible for determining what should be done after a logout. Any refresh token persistence can listen for the `LogoutEvent` and do whatever is appropriate

[2021-12-23 22:12] destan opened #878 "Wrong logger name for IpPatternsRule class"
### Expected Behavior

Expect the logger name of `IpPatternsRule` to be `io.micronaut.security.rules.IpPatternsRule`

### Actual Behaviour

the logger name is `io.micronaut.security.rules.InterceptUrlMapRule`

### Steps To Reproduce

set the logger to debug and make a request

logger:
  levels:
    io.micronaut.security: DEBUG

see https://github.com/micronaut-projects/micronaut-security/blob/mast

[2021-12-26 19:46] matt-snider commented on #332
@jameskleeh @sdelamo Thank you for your advice!

I think an approach that works for me is to implement a DAO method for revoking tokens as in the guide, and then additionally listen for `LogoutEvent` to revoke the token in that case too. I think this combined with a task that periodically clears expired & revoked tokens will work well.

[2021-12-29 22:58] simon04 opened #880 "Doc: Unresolved directive in <stdin>"
https://micronaut-projects.github.io/micronaut-security/latest/guide/#configuration shows

[code]

[2022-01-03 05:57] sdelamo commented on #878
@destan Thanks for reporting

[2022-01-03 06:11] #878 closed

[2022-01-03 06:13] #880 closed

[2022-01-03 08:41] sdelamo commented on #844
@alejandropg check linked PR. I think it fulfils your requirements.

[2022-01-03 17:04] alejandropg commented on #844
Hi @sdelamo

First of all, really thanks a lot because that should have been my job, but between work and the Christmas vacations it has been impossible for me to get down to it.

I checked the code and it looks reeeeally good, also build and test the branch in my local and it looks like work like a charm 👌

Thanks!

[2022-01-04 10:45] morki opened #888 "Login with `APPLICATION_FORM_URLENCODED` does not work in native image"
### Expected Behavior

Login will work like when using JVM

### Actual Behaviour

![image](https://user-images.githubusercontent.com/3584190/148047562-f02c9a2c-59db-457d-806d-60e71323d105.png)

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.2.4

[2022-01-04 11:10] morki commented on #888
My fault, it is another problem, closing.

[2022-01-04 11:10] #888 closed

[2022-01-05 02:29] doris-yolabs opened #891 "ExpirationJwtClaimsValidator is never enabled or can be enabled"
### Expected Behavior

`ExpirationJwtClaimsValidator` is default enabled and can be controlled via `micronaut.security.token.jwt.claims-validators.expiration` config.

### Actual Behaviour

Property `micronaut.security.token.jwt.claims-validators.expiration` is always resolved to false, so `ExpirationJwtClaimsValidator` is never created (with or without explicit enabling).

### Steps To Reproduce

[2022-01-05 05:17] sdelamo commented on #891
You don't need to enable it. It is enabled by default.

You can reproduce it by [create an application with `security-jwt` feature](https://micronaut.io/launch?type=DEFAULT&name=demo&package=com.example&javaVersion=JDK_11&lang=JAVA&build=GRADLE&test=JUNIT&features=security-jwt&version=3.2.4)

The following test

[code]

It passes if you don't set anything or if you set enable it (not necessary)

[

[2022-01-05 05:17] #891 closed

[2022-01-05 18:57] morki opened #893 "Use locale from `LocaleResolver` when `ui_locales` is empty in OIDC"
### Feature description

I think this does make sense, because almost everytime user is logging in, he wants to use login form in the locale that he is already using in the application. What do you think @sdelamo? I can create PR for this.

[2022-01-06 17:47] tchiotludo commented on #750
@sdelamo @jameskleeh please consider reopening the issue please?

I have also the issue on my side, with differents oauth2 authority (pingone & google on my side).
This error is raised only just after startup of the app, during the first init of an oauth login.

The oauth client fetch the well-know during the first init on the application.
This files is static & deliver in micro seconds by provide

[2022-01-06 17:48] tchiotludo commented on #752
I have also the issue on my side, with differents oauth2 authority (pingone & google on my side).
This error is raised only just after startup of the app, during the first init of an oauth login.

The oauth client fetch the well-know during the first init on the application.
This files is static & deliver in micro seconds by providers.
I've tried to raise the timeout to 5 minutes without any chang

[2022-01-06 18:09] graemerocher commented on #752
@tchiotludo can you provide an example that reproduces the issue?

[2022-01-06 19:46] tchiotludo commented on #752
I will try but I can't reproduce the issue on my machine but I've doubt to succeed.
I was able to reproduce the issue on local with this command `sudo cpulimit --pid 663800 --limit 10` but It don't seems to be relevant.

I've the feeling that the issue is mostly on docker env deployed to the cloud (limited by cpu like 2 cores). I've 95% reproduction on my env (private code), no matter when the con

[2022-01-06 20:44] graemerocher commented on #752
Does configuring a separate event loop for the server help? https://docs.micronaut.io/latest/guide/#threadPools

[2022-01-10 12:15] sdelamo commented on #893
Yes, PR is welcome. Do you have any authorization server in mind to test it (Google, Okta. e.g.) ?

[2022-01-10 12:19] morki commented on #893
We use Keycloak, do you think we need to you use real instance of authorization server in test?

[2022-01-11 07:50] alejandropg commented on #844
Continues in #885

[2022-01-11 07:50] #844 closed

[2022-01-12 04:36] sdelamo commented on #893
We have tests which use Keycloak via test container in case you want to check them.

[2022-01-12 07:53] morki commented on #893
Thank you, will check them.

[2022-01-12 13:44] #165 closed

[2022-01-18 01:53] volgin commented on #860
When I deploy the example app from the guide to the App Engine, I get the same error. The only difference is that I have to add appengine-maven-plugin in order to deploy to the App Engine.

[2022-01-19 09:00] sdelamo opened #905 "Refactor LdapAuthenticationProvider to make ease to customize LDAP roles mapping"
### Discussed in https://github.com/micronaut-projects/micronaut-security/discussions/904

<div type='discussions-op-text'>

<sup>Originally posted by **mboogi** January 17, 2022</sup>
If for example have an Security annotated endpoint that requires role admin and we use multiple Ldap servers where in one of the servers the users have equivalent roles but not the same (for example instead of ADMIN

[2022-01-21 21:18] tchiotludo commented on #752
I overestimate the 95% reproduction.

I've try few time since your message and I'm not sure about the result:
Seems that when I restart the pod and hit the request, No timeout is coming.
So I tried with or without the threadPools, don't see any change.
But don't have reproduction at this time.

I've the feeling now, that if we start the server, don't hit the oauth login for long time (health check

[2022-01-21 21:56] Jim-Harrington opened #909 "HttpClient with OAuth2 Client Credentials on tomcat often attaches the auth token twice leafing to HTTP 401"
### Expected Behavior

One copy of the auth token should get attached

### Actual Behaviour

About 2/3 of server starts result in the server starting in a state that causes the auth token being duplicated, causing HTTP 401 results.

### Steps To Reproduce

OK, I'm not sure I know what causes this, but I think this info points at the issue.  Basically, about 2/3 of the time the server comes up such

[2022-01-21 22:11] Jim-Harrington commented on #752
I think issue #909 may be related.  In trying to figure out what was going on with my #909 problem, I switched from running on micronaut-http-server-tomcat to micronaut-http-server-netty.  As soon as I did that, the problem went from the auth token being attached twice to outgoing HTTP requests timing out.

[2022-01-21 22:14] tchiotludo commented on #752
Not really sure @Jim-Harrington, I'm on netty since the beginning (2.x, 3.x)

[2022-01-21 22:20] Jim-Harrington commented on #752
...and so was I when my #909 problem turned into the socket timeouts you're reporting here.

My turn out not to be related, but there are certainly several issues in this auto propagation stuff.

[2022-01-22 15:43] sdelamo opened #911 "Create bom module"
### Issue description

create a new bom module.

see: https://github.com/micronaut-projects/micronaut-views/tree/master/views-bom

[2022-01-31 10:12] sdelamo opened #918 "Micronaut Security Handlers should use ErrorProcessor API"
### Issue description

For an example, see [`HttStatusHandler](https://github.com/micronaut-projects/micronaut-core/blob/3.3.x/http-server/src/main/java/io/micronaut/http/server/exceptions/HttpStatusHandler.java)

The following handlers are not using the `ErrorProcessor` api.

- [AuthenticationExceptionHandler](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/

[2022-02-01 09:20] timyates opened #925 "test: Update the version of Keycloak under test"
### Issue description

We currently test with Keycloak 8 for the openid connect tests

We should move to a more recent version

[2022-02-02 16:53] #925 closed

[2022-02-08 16:08] LPalmerMSI opened #927 "Make OpenIdAuthenticationMapper.createAuthenticationResponse reactive"
### Feature description

 Currently, the OpenIdAuthenticationMapper interface method "createAuthenticationResponse" does not return a Publisher.

Upon receiving an ID token from an OpenID provider, the application may want to retreive user permissions or attributes from other resources, like a database. The application would need to block in order to retreive those before adding them to the Authen

[2022-02-12 10:37] ThraaxSession opened #931 "Webauthn support"

[2022-02-12 16:18] sdelamo opened #930 "Evaluate support of Biscuit tokens"
### Issue description

https://github.com/biscuit-auth/biscuit

https://github.com/CleverCloud/biscuit-java

[2022-02-15 10:22] aleksey-dv opened #933 "JWT Signature verification failed with JWK Set Keys (Key ID not found)"
### Expected Behavior

Hello!
I am trying set up odic authorization woth Keycloak in akhq (https://github.com/tchiotludo/akhq) wich based on micronaut 3.2.
My config:
[code]

Keycloak JWKS json response (long fields shorten with `...`):
[code]

JWT token header:
[code]

### Actual Behaviour

Falied with:
[code]

The strangest part is
[code]
there are not such keyIDs in JWKS json response, and this

[2022-02-15 10:59] #933 closed

[2022-02-15 11:00] aleksey-dv commented on #933
sorry, it was wrong keycloak cluster configuration 😅

[2022-02-16 13:13] donarus commented on #604
Any progress on this ? Seems unresolved so far . I'm struggling with the identical issue.

Micronaut 3.3.0
ECS
Oauth over Keycloak
Health endpoint enabled

Running locally just fine .. running in ECS failing on this error

Is the cause known or would it be helpful to provide more derails?

[2022-02-16 14:30] graemerocher commented on #604
@donarus does the workaround described in the issue report resolve the issue?

[2022-02-16 22:55] donarus commented on #604
@graemerocher yes, it does, but as Elliot mentioned, it shouldn't be.

[2022-02-17 11:41] sdelamo commented on #931
Some links: https://webauthn.guide/

[2022-02-17 11:43] sdelamo commented on #911
We created it

[2022-02-17 11:43] #911 closed

[2022-02-17 12:43] ThraaxSession commented on #931
@sdelamo yes I know this site. My question is if you plan to integrate the FIDO standard or if we need to integrate any Lib and mix micronaut code with it up.

[2022-02-21 10:07] sdelamo commented on #905
@mboogi  You could do this by creating a custom implementation of `ContextAuthenticationMapper` and transform the `groups` into `roles` as your application requires.

[code]

[2022-02-21 10:07] #905 closed

[2022-02-22 11:03] sdelamo commented on #931
@ThraaxSession We need to consider it first. No decision made yet whether to integrate it or note.

[2022-02-26 05:39] j1cs opened #946 "Error running native image with oauth2 oidc google"

[2022-03-01 17:22] sdelamo opened #939 "BREAKING: Force developers to implement SensitiveEndpointRule::checkSensitiveAuthenticated"
### Issue description

Currently, because of:

[code]

Any authenticated user will be able to consume every endpoint. We have [documentation explaining users what do if they want to require a particular role](https://micronaut-projects.github.io/micronaut-security/latest/guide/#builtInEndpointsAccess) to access the endpoints.

However, it is probably best to throw an exception and force users to b

[2022-03-01 17:22] sdelamo commented on #939
@graemerocher Please, let us know if you have any concerns about this change. @timyates is going to implement it as soon as possible.

[2022-03-01 20:53] graemerocher commented on #939
No concerns I agree with the change

[2022-03-03 06:40] #939 closed

[2022-03-03 18:29] burtbeckwith opened #944 "Jackson error in native image using OIDC"
### Expected Behavior

_No response_

### Actual Behaviour

[code]

### Steps To Reproduce

I saw this working on the https://github.com/micronaut-projects/micronaut-guides/pull/819 guide. Build the guide, then use the app in `build/code/micronaut-cloud-oidc-oracle/micronaut-cloud-oidc-oracle-gradle-java` to build a native image (`./gradlew nC`).

Export the 3 env vars

[code]

and start the app.

[2022-03-08 15:36] strmik opened #951 "RFC 7636: Proof Key for Code Exchange (PKCE)"
### Feature description

PKCE ([RFC 7636](https://tools.ietf.org/html/rfc7636)) is an extension to the [Authorization Code flow](https://oauth.net/2/grant-types/authorization-code/) to prevent CSRF and authorization code injection attacks.

It's an optional extension for OAuth2.0 for confidential clients. Draft of OAuth 2.1 suggest that PKCE is [mandatory](https://oauth.net/2.1/) (including confid

[2022-03-08 15:38] graemerocher commented on #951
@burtbeckwith next time you have engineering cycles please take this on

[2022-03-08 15:38] graemerocher commented on #951
@sdelamo add to the roadmap

[2022-03-09 15:26] hari09krishna opened #956 "Authentication Request Input Validation"
### Feature description

Micronaut Security module authenticate the request before processing it further.
Request flow : User input --> Micronaut HTTP server --> Micronaut Security HTTP Filter --> Micronaut Security LoginController --> Authentication Provided (user/client will control this).

During the request flow, credentials are not validated for any pattern and only checking for "length of th

[2022-03-09 16:54] sdelamo commented on #951
PCKE is typically used in platforms (e.g. mobile phone native apps) where redirect URLs are not available. Not sure what we can do on our side but let's consider it.

[2022-03-14 14:24] strmik commented on #951
I don't think this is limited to platforms, as OAuth2.1 draft makes that mandatory for confidential clients (like Micronaut)... If I understood this right, the actual change should be quite small. It's about generating a random number, hashing it and send the hash with the request for authorization code. Then add the random number to the request for tokens...

[2022-03-18 16:32] sdelamo opened #962 "Remove CookieBasedAuthenticationModeCondition from JwtCookieTokenReader"
### Discussed in https://github.com/micronaut-projects/micronaut-security/discussions/958

<div type='discussions-op-text'>

<sup>Originally posted by **mitushy** March 10, 2022</sup>
If I'm not missing something, I think we can safely remove the authentication mode condition from JwtCookieTokenReader (and JwtCookieConfigurationProperties).
https://github.com/micronaut-projects/micronaut-security/

[2022-03-29 08:33] mitushy commented on #962
Thanks, @sdelamo. Btw, this seems to somewhat duplicate https://github.com/micronaut-projects/micronaut-security/issues/419

[2022-03-29 16:11] ttimt96 opened #971 "Multiple Login Handlers"
### Issue description

Referring to this issue https://github.com/micronaut-projects/micronaut-security/issues/374

Is there a way to achieve multiple authentication modes?

My Micronaut is mainly serving APIs, but we have some UI like Swagger etc.
We want them to be secured with cookie in the browser, where the user is logged through some front end server.
However the front end client does not ha

[2022-04-08 19:06] albrechtflo-hg opened #979 "PasswordGrantCondition is broken"
### Expected Behavior

OAuth2 Password Grant should be usable e.g. for HTTP client connections.

### Actual Behaviour

OAuth2 Password Grant is not initialized properly in the application context.

This is most likely due to this commit:
https://github.com/micronaut-projects/micronaut-security/commit/663cb062549d536764570bb1857204ebfb75538e#diff-88fced055e131397c9a1d120c000f301af40cac7049c325b1f37

[2022-04-08 20:46] albrechtflo-hg opened #980 "PasswordGrant is not sent correctly"
### Expected Behavior

I still want to use the Resource Owner Password Credentials Flow with an HttpClient and Oauth2. The request to retrieve the token shall be sent correctly to the token endpoint.

### Actual Behaviour

The request is sent incomplete to the token endpoint - client_id and client_secret are missing. Most likely, this is caused by a wrong Grant object set as the body of the reques

[2022-04-08 20:53] albrechtflo-hg commented on #980
Closing for being invalid - the Map indeed implements the SecureGrant interface; auth-method was missing in token endpoint configuration.

[2022-04-08 20:53] #980 closed

[2022-04-13 21:16] mkrasuski opened #983 "JWT tutorial sample does not work for tomcat/undertow"
### Expected Behavior

Sample app from https://guides.micronaut.io/latest/micronaut-security-jwt-gradle-java.html works perfectly, but if we change runtime to "tomcat" or "undertow", `/login` endpoint fails with `401`. Authentication seems to be successful, but during forming of response with token something is broken. Here is the debug log. I've tried to return `Publishers.just()` and `Mono.just`

[2022-04-13 21:48] mkrasuski commented on #983
setting debug to all micronaut packages gave little bit more info

[code]

[2022-04-17 11:28] ttimt96 commented on #604
Encountered same issue on 3.4.2 and had to apply the workaround

[2022-04-25 14:31] ggerbaud opened #991 "ClientCredentials filter cache should not cache errors"
### Expected Behavior

When using ClientCredentialsClient errors should not be cached, or at least with a TTL.

### Actual Behaviour

Errors are cached and never cleared

For a given scope, the token request Flux is put in the map ([L83](https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/client/clientcredentials/AbstractC

[2022-04-28 07:28] ggerbaud commented on #991
Just add an example application

[2022-05-02 11:06] renovate[bot] opened #994 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update dependency org.jetbrains.kotlin:kotlin-stdlib-jdk8 to v1.6.21
 - [ ] chore(deps): update mikepenz/action-junit-report action

[2022-05-08 00:54] jameskleeh opened #1006 "The reject-not-found javadoc is incorrect"
### Issue description

https://micronaut-projects.github.io/micronaut-security/latest/guide/configurationreference.html#io.micronaut.security.config.SecurityConfigurationProperties

The default is true so it should say set to false and the sentence is cut off

[2022-05-16 08:24] HelloTo4x opened #1013 "how I can use OAuth2 server"
### Issue description

Hi, how can i use OAuth2 server with Micronaut security, maybe it doesn't support

[2022-05-20 09:46] sdelamo commented on #1013
Yes, we support it.

We have many steps by steps tutorials.

See `Micronaut Security` section in [Micronaut Guides](https://micronaut.io/guides/)

see also [Micronaut Security OAuth 2.0 documetnation](https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth)

[2022-05-20 09:46] #1013 closed

[2022-05-22 16:13] sdelamo commented on #979
@alvarosanchez can you investigate this?

[2022-05-22 16:24] #1006 closed

[2022-05-23 08:02] sdelamo opened #1020 "IP Patterns rules throws exception when using it with MicronautAwsProxyRequest.java"
### Issue description

[code]

[2022-05-24 14:58] sdelamo commented on #1020
Clsoed via https://github.com/micronaut-projects/micronaut-security/pull/1022

[2022-05-24 14:58] #1020 closed

[2022-05-25 08:23] morki opened #1023 "Support OIDC back-channel logout"
### Feature description

https://openid.net/specs/openid-connect-backchannel-1_0.html

It is needed when front-channel logout is not always available nowadays (due to SameSite etc.)

[2022-05-25 08:39] morki opened #1024 "Support Keycloak 17+"
### Feature description

## Keycloak 17

In Keycloak 17 the default distribution is [powered by Quarkus](https://www.keycloak.org/2022/02/keycloak-1700-released) and default endpoints has changed (removed the `/auth` prefix) so autoconfiguration of `EndSessionEndpoint` is failing.

See https://github.com/micronaut-projects/micronaut-security/pull/1009

## Keycloak 18

In Keycloak 18 there are even

[2022-05-26 13:33] graemerocher commented on #1024
would you consider sending a PR for this? I think it makes sense to add a separate keycloak18 config so that older versions continue to be supported

[2022-05-26 19:29] morki commented on #1024
@graemerocher I think the same, what do you think about the proposed solution above? Any naming or other recommendations?

[2022-05-27 08:43] graemerocher commented on #1024
seems fine, will need to be documented though

[2022-06-03 19:58] brendonanderson opened #1028 "New refresh token with each login"
### Issue description

I have gone through the JWT example and implemented it locally.

It seems with each authentication using the `/login` endpoint, a new refresh token is generated, which makes sense.  But the table holding the refresh tokens continues to grow.

What is the recommended way to deal with these refresh tokens that seemingly will be around forever and continue to fill up table spac

[2022-06-07 22:00] carl-mastrangelo opened #1034 "Bean definition [io.micronaut.security.token.jwt.validator.JwtTokenValidator] could not be loaded"
### Expected Behavior

More lenient parsing of openid metadata

### Actual Behaviour

Unable to parse OpenID metadata when an optional field `device_authorization_endpoint` is present.

### Steps To Reproduce

Using Micronaut Security with Google Oauth results in a Bean not being constructible.    The stack trace on boot looks like:

[code]

### Environment Information

JDK 17

### Example Applica

[2022-06-07 22:16] carl-mastrangelo commented on #1034
I believe this was triggered by a (shared) ObjectMapper being marked to fail on unknown properties.   I can probably work to change this back in our code, though I feel the objectmapper / reader for Micronaut security could be a little more explicit about how it reads JSON.  I'm happy to send a PR to fix.

[2022-06-09 09:38] mircoporetti opened #1036 "Error instantiating bean of type [io.micronaut.security.token.jwt.validator.JwtTokenValidator]"
### Issue description

As discussed with @sdelamo we have the following issue:

On Kubernetes we have a Deployment of a Micronaut app. Sometimes it happens that after deploying, the pod continues to restart and it gives us some log:

[code]

After the next deploy, it usually runs normally.
It doesn't happen  running the application locally.

We use the following configuration for security:

[code]

[2022-06-13 08:54] morki opened #1038 "Serialization of Authentication object into Redis session no longer works"
### Expected Behavior

Serialization of attributes into Redis session works as before.

### Actual Behaviour

It somehow does not populate attributes into `Authentication` object:

[code]

### Steps To Reproduce

Micronaut team has a sample application in `micronaut-graal-tests`, which can be simply modified to reproduci this behaviour: https://github.com/micronaut-graal-tests/micronaut-security-s

[2022-06-13 08:54] morki commented on #1038
More information here: https://github.com/micronaut-projects/micronaut-security/pull/890#issuecomment-1153642049

[2022-06-13 11:05] yawkat commented on #1038
Are you sure this is a regression? I tested with security 3.5 and it still broke the same way. In which version did this work?

[2022-06-13 11:57] morki commented on #1038
Before this commit https://github.com/micronaut-projects/micronaut-security/commit/38714d1ff58a49227bf489fd64c9dac914b96bbd

[2022-06-13 12:00] morki commented on #1038
Before that commit, adding `TypeHint` or `ReflectiveAccess` made it work, but after that commit, there is no more solution to make it work. See description of https://github.com/micronaut-projects/micronaut-security/pull/890

[2022-06-13 14:51] yawkat commented on #1038
Which branch on micronaut-security-session-graal is that? I just tested 3.2.x also, which has security 3.2.3 which does not include that commit, and it produces the same NPE.

[2022-06-13 15:34] morki commented on #1038
Branch 3.0.x is working, I will try others.

[2022-06-13 15:37] morki commented on #1038
Branch 3.1.x is not working, so it is something in between those two.

[2022-06-13 15:41] morki commented on #1038
Sorry, it was my fault that i thought it was that referenced commit that created the problem, it seems it was a version before that.

[2022-06-13 15:53] morki commented on #1038
When I did diff between those branches of `micronaut-security`, there seems to be no change that can do this, I will dig deeper.

[2022-06-14 08:37] yawkat commented on #1038
the regression happened because prior to 3.1.x the request context was not available in the lettuce reactive handler. My guess is that this changed in one of @dstepanov's improvements to reactive context propagation. I'm not going to bother tracking down the specific change, since it's certainly better for the request context. I'll work on a fix on the security side instead.

[2022-06-14 14:33] #1038 closed

[2022-06-16 10:45] ThraaxSession commented on #931
Hi @sdelamo when can you give feedback?

[2022-06-22 02:55] Kushan2021 opened #1043 "Custom OpenIdAuthenticationMapper not working 3.5.x"
### Expected Behavior

Micronaut version 3.4.1

Custom class created by using implement `OpenIdAuthenticationMapper` and it calls `createAuthenticationResponse`.

        `@Singleton
       public class CustomOpenIdAuthenticationMapper implements OpenIdAuthenticationMapper {

        @Override
        public AuthenticationResponse createAuthenticationResponse(String providerName,  OpenIdTokenRespo

[2022-06-22 14:06] sdelamo commented on #1043
Do you have a sample app?

[2022-06-22 14:09] sdelamo commented on #1043
I think you need to add a `@Named("yourOAuth2ClientName")` qualifier.

[2022-06-22 14:22] sdelamo commented on #1043
Have you tried adding `@Replaces(DefaultOpenIdAuthenticationMapper.class)`if you want to replace the global mapper? If not, you will need to add a `@Named` qualifier.

https://micronaut-projects.github.io/micronaut-security/latest/guide/#openid-user-details`

[2022-06-22 14:36] sdelamo commented on #1036
I am not sure but I think the issue maybe that `JWKSSet.load` is timing out when trying to fetch the JWKS fom Okta Authorization server.

https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/jwks/JwksSignature.java#L#L216

Do you think this maybe when trying to hit the health endpoint to see if the pod is healthy?

[2022-06-22 14:43] sdelamo commented on #1034
Do you have a sample app @carl-mastrangelo ?

[2022-06-22 14:47] mircoporetti commented on #1036
That's an idea. But I'm wondering why the pod continues to restart with the same error and after deploying again usually it works without the problem

[2022-06-22 14:55] sdelamo commented on #1024
Thanks for the request @morki

I think we have to support [OpenID Connect RP-Initiated Logout 1.0](https://openid.net/specs/openid-connect-rpinitiated-1_0.html). And I think we have to be able to specify whether you want to use that logout request or a custom.

[2022-06-22 14:58] sdelamo opened #1045 "Support OpenID Connect RP-Initiated Logout"
### Issue description

see https://openid.net/specs/openid-connect-rpinitiated-1_0.html

See classes under `io.micronaut.security.oauth2.endpoint.endsession.request` package

Relates to:

https://github.com/micronaut-projects/micronaut-security/issues/1024

[2022-06-23 04:29] Kushan2021 commented on #1043
Yes I already used `@Named` qualifier, but forgot to add on sample code.

This is my application.yml.

`micronaut:
    security:
        oauth2:
            enabled: true
            clients:
                keycloak:
                    enabled: true
                    grant-type: password
                    client-id: <<my client id>>
                    client-secret: <<my client secret>>

[2022-06-23 04:51] Kushan2021 commented on #1043
Application works fine after upgraded into version 3.5.0 and downgraded this dependancy.

		`<dependency>
			<groupId>io.micronaut.security</groupId>
			<artifactId>micronaut-security-oauth2</artifactId>
			<version>3.4.1</version>
			<scope>compile</scope>
		</dependency>`

[2022-06-23 05:29] Kushan2021 commented on #1043
Once I downgrade in version 3.4.1  `io.micronaut.security.authentication.Authenticator`  variable `authenticationProviders` contains `OpenIdPasswordAuthenticationProvider`.
But new version  `authenticationProviders` contains empty array.

[2022-06-30 14:27] elfelli opened #1048 "Exception loading JWK URL (behind a proxy corporate)"
### Expected Behavior

Validate a JWT behind a proxy corporate

### Actual Behaviour

I'm trying to configure AKHQ (0.21.0) based on micronaut v3.0.1 with okta oauth2. (okta is accessible only with a proxy corporate )

But i got a TimeoutException when trying to load JWKS URL behind the proxy

micronaut:
  http:
    client:
      proxy-type: HTTP
      proxy-address: proxy.company.net:8080

https:

[2022-07-02 08:02] tcharlesc opened #1051 "Refresh Token endpoint fails with invalid token request (refresh_token and grant_type are required)"
### Expected Behavior

A new refresh token is returned from endpoint since parameters are provided and refresh token is valid.

### Actual Behaviour

End point returned an error:
[code]

### Steps To Reproduce

1. Checkout  demo
2. Login as "test"
3. Refresh token receive from login

### Environment Information

- OSX 10.15.7
- JDK 17.0.2 2022-01-18 LTS

### Example Application

https://github.com

[2022-07-05 08:33] morki commented on #1024
New version for this proposal can use property `vendor` instead of `mode`:

[code]

This new version can be used for https://github.com/micronaut-projects/micronaut-test-resources/pull/44 and will enable multiple versions of Keycloak for example.

[2022-07-11 05:38] j1cs commented on #1043
Probably I'm hijacking this issue but i think is related.
it is possible to use micronaut.security.authentication: bearer with https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth2-user-details?
when I run my project doesn't seems to reach my OauthAuthenticationMapper implementation.
i made an example. never passed through here (never print) https://github.com/j1cs/oauth-map

[2022-07-11 07:54] andreas-mausch commented on #825
I discovered that issue today and I would happily take any solution. Duplicating the context path here is really confusing.

[2022-07-12 05:10] j1cs opened #1052 "Add support for User-Managed Access (UMA) 2.0 and Token Exchange Grant for OAuth 2.0 Authorization"
### Feature description

I was looking for the `grant_type` "urn:ietf:params:oauth:grant-type:uma-ticket" form my project but doesn't exists here:
ttps://github.com/micronaut-projects/micronaut-security/blob/2b276d4dfcf9a020b270abee931a12bc57bf995b/security-oauth2/src/main/java/io/micronaut/security/oauth2/grants/GrantType.java
So I was wondering if it's possible to add support for this specificat

[2022-07-14 06:03] j1cs commented on #1052
An use case can be https://guides.micronaut.io/latest/micronaut-oauth2-client-credentials-cognito-maven-java.html to propagate an access token got it from the resource server.

[2022-07-21 13:55] sdelamo opened #1056 "Create a module security-core which is does not depend on micronaut-http"
### Issue description

The goal is to be able to use Micronaut Security in places where there is not a traditional HTTP Server.  We will have to changes some of our apis to be more generic.

E.g. GRPC or AWS Lambda

see: https://github.com/micronaut-projects/micronaut-grpc/issues

[2022-07-22 14:49] maccuaa opened #1058 "Support for OIDC "claims" Request Parameter"
### Feature description

The current OIDC implementation only supports requesting scopes however some IDPs support requesting additional claims per section 5.5 of the OIDC spec - https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter

This would be nice to have because not all claims are in the standard scope set.

[2022-07-28 11:07] anandjaisy opened #1066 "Security model Serilization not working using Micronaut Serialization"
### Expected Behavior

Creating a JWT token should serialize the access token

[code]

### Actual Behaviour

Access token does not serialize

![image](https://user-images.githubusercontent.com/84489031/181489897-a62b9567-4492-4112-baa8-60468af1aabf.png)

The access token in null, as from the package` io.micronaut.security.token.jwt.render,` it has a dependency of `com.fasterxml.jackson.annotation`

[2022-07-28 11:43] sdelamo commented on #1066
@timyates can you investigate?

[2022-07-28 12:44] timyates commented on #1066
Weird, I can reproduce with the attached project.  The BearerToken is correctly serialized to json, but fails to be deserialized correctly

This can be seen (and by way of a reasonable temporary workaround) if you add a local file

[code]

And then check the result of `client.toBlocking().exchange(request, BearerTokenReceiver.class).body()`

I will continue my investigation

[2022-07-29 07:28] sdelamo commented on #1066
I don't think this is a failure of security but of Micronaut Serialization:

this test fails:

[code]

[2022-07-29 07:41] sdelamo commented on #1066
Closed via https://github.com/micronaut-projects/micronaut-serialization/pull/252

[2022-07-29 07:41] #1066 closed

[2022-08-11 16:52] uulyar opened #1071 "Oauth 2.0 password authentication does not work with openId configuration"
### Expected Behavior

1. `OpenIdPasswordAuthenticationProvider` created by `PasswordGrantFactory` with this configuration.

[code]

### Actual Behaviour

1.  `OpenIdPasswordAuthenticationProvider` does not created because `PasswordGrantCondition` has a bag with finding beans by qualifier:

[code]

 `failureMsgPrefix` should be replaced with `clientConfiguration.getName()`

2. `OpenIdPasswordAuthe

[2022-08-15 20:31] sdelamo opened #1074 "Consider providing an API to ease the implementation of CSRF Prevention"
[Cross Site Request Forgery](https://owasp.org/www-community/attacks/csrf)

[2022-08-18 09:28] sdelamo commented on #983
thanks @mkrasuski we have created a PR which reproduces the issue https://github.com/micronaut-projects/micronaut-security/pull/1076

[2022-08-18 13:06] #983 closed

[2022-08-23 08:16] vutkin opened #1081 "OIDC Azure provider - There are no any groups in response"
### Expected Behavior

If some user in Azure AD has 150+ groups in response (included subgroups) there will be no any groups, and Azure expects that application will do a second separate request to GraphQL request for groups only.

Like dex do for ex. https://dexidp.io/docs/connectors/microsoft/

### Actual Behaviour

Works well when number of Azure AD groups for user is less than JWT/SAML limit

[2022-09-12 04:08] luccasmf commented on #1051
I'm having the same issue, after issuing token and storing it, I'm not able to refresh. Have you managed it already ?

[2022-09-12 04:31] tcharlesc commented on #1051
I have not checked lately. I thought I can work around it by exposing a rest service. Are u using serde serialization? coz it used to work before I switched to serde.

[2022-09-12 04:38] luccasmf commented on #1051
it was that, by disabling Serde, it worked -.- ... since it is a new project I haven't used it before using serde. Thx

[2022-09-12 05:00] tcharlesc commented on #1051
No worries. I needed serde though for performance reasons

[2022-09-13 09:43] rlconst opened #1090 "m-s does not support coroutines"
### Feature description

Currently [SecurityService](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/utils/DefaultSecurityService.java) relies on [ServerRequestContext](https://github.com/micronaut-projects/micronaut-core/blob/3.6.x/http/src/main/java/io/micronaut/http/context/ServerRequestContext.java) which in turn relies on priva

[2022-09-13 13:30] wetted opened #1091 "Investigate/address deprecation comment in `OauthClientConfiguration`"
### Issue description

The `io.micronaut.security.oauth2.configuration.OauthClientConfiguration.getClientCredentials()` method has a "deprecated" inline comment in the code, but is not officially marked as `@Deprecated`.

[code]

Decide what we need to do about it for Micronaut 4.

[2022-09-13 13:38] wetted opened #1092 "Modernize build scripts for master branch"
### Issue description

Modernize the build on the master branch. See the work done for Micronaut 4 on the 4.0.x branch

[2022-09-14 21:21] #1092 closed

[2022-10-01 00:54] LPalmerMSI opened #1102 "OpenIdAuthenticationMapper will not put custom claims in the JWT token returned to the browser."
The OpenIdAuthenticationMapper will not put custom attributes or roles in the JWT token returned to the client.  It will only place the original claims and roles provided by the OpenIdTokenResponse.

The OpenIdAuthentactionMapper is being instantiated and createAuthenticationResponse method is being called but the returned token seems to strip away any custom claims or roles. Only those which were

[2022-10-03 09:00] adamkobor commented on #604
While the proposed workaround probably solves the server related timeout issue, I think it introduces a new one for client calls. With Keycloak set up as our OIDC provider we are facing a weird issue that is super hard to reproduce: when a client call happens very close to the mentioned (blocking) one in `OpenIdClientFactory` after the application starts up, sometimes it will fail with the followi

[2022-10-03 10:18] graemerocher commented on #604
eager initialization seems wise. PRs welcome

[2022-10-06 16:12] zephyrok opened #1109 "Support loading JWKS by file"
### Feature description

We had a requirement where we needed to load the JWKS through a json file because the keys were to exposed as a remote endpoint for security reasons. Currently the framework only support loading JWKS through a remote url.

I got around this by extending the `JwksSignature` class and overriding the `loadJwkSet` method to use the overloaded `JWKSet.load` method that accepts

[2022-10-12 15:03] sdelamo opened #1111 "remove javax.annotation mappers"
### Issue description

see:

https://github.com/micronaut-projects/micronaut-security/blob/master/security-annotations/src/main/java/io/micronaut/security/annotation/JakartaPermitAllAnnotationMapper.java

https://github.com/micronaut-projects/micronaut-security/blob/master/security-annotations/src/main/java/io/micronaut/security/annotation/DenyAllAnnotationMapper.java

https://github.com/micronaut

[2022-10-12 15:25] sdelamo opened #1112 "remove deprecated code"
### Issue description

See `DefaultAuthorizationExceptionHandler`

[2022-10-23 04:57] sdelamo commented on #1102
In your sample application, you are using `idtoken` as the value for `micronaut.security.authentication`.  When you do that, we use the ID token directly passed from the authentication server and save it in a cookie. We cannot modify that token payload. It is signed by the authorization server.  The advantage is that you don't need to add any configuration necessary to sign a new token in your app

[2022-10-23 04:57] sdelamo commented on #1102
@LPalmerMSI I am going to close this issue since I believe it is not a bug. Let me know if you need any extra help.

[2022-10-23 04:57] #1102 closed

[2022-11-04 18:39] lbkulinski opened #1130 "Micronaut CORS configuration does not expose the specified header(s)"
### Expected Behavior

When exposing the `Location` header via the CORS configuration in `application.yml`, I expect the header to be accessible in front-end scripts.

### Actual Behaviour

When exposing the `Location` header via the CORS configuration in `application.yml`, the header is NOT accessible in front-end scripts.

### Steps To Reproduce

1. Clone the repository
2. Start up a Keycloak au

[2022-11-09 06:24] sdelamo commented on #1130
@lbkulinski thanks for reporting. I have created a PR https://github.com/micronaut-projects/micronaut-security/pull/1131 I will release patch versions of Micronaut security  soon.

[2022-11-09 14:27] lbkulinski commented on #1130
Thanks for the prompt response everyone!

[2022-11-10 06:09] sdelamo commented on #1130
@lbkulinski 3.8.2 fixes this https://github.com/micronaut-projects/micronaut-security/releases/tag/v3.8.2

[2022-11-10 12:43] BramMeerten opened #1132 "Get role from nested value in Authentication attributes map"
### Feature description

The property `micronaut.security.token.roles-name` allows you to specify  the authentication attributes map key for the user’s roles.

But my JWT token payload looks like this:
[code]

It would be useful to be able to specify a nested key. In this case that would be:
`micronaut.security.token.roles-name: realm_access.roles`

Relevant code can be found here: https://github.

[2022-11-10 13:01] BramMeerten commented on #1132
This is a workaround that I use:
[code]

In the gitter link in description is another workaround available.

[2022-11-14 01:54] lbkulinski commented on #1130
@sdelamo Do you know if [micronaut-bom](https://github.com/micronaut-projects/micronaut-bom) will be updated to use `micronaut-security` 3.8.2? Currently `micronaut-parent` 3.7.3 in my `pom.xml` still uses `micronaut-security` 3.8.1. Thanks!

[2022-11-17 13:58] sdelamo commented on #604
I think this should fix the issue: https://github.com/micronaut-projects/micronaut-security/commit/e142b12f19edbbbb5dde0bcdb5cfe9f70bb598b6

[2022-11-17 13:58] #604 closed

[2022-11-17 13:58] sdelamo commented on #604
It will be released in Micronaut security 3.9.0

[2022-11-22 10:34] mplanchant opened #1148 "Duplicate Client credentials header token handler"
### Expected Behavior

I'm trying to make use of the Http Client Filter for Client Credentials (https://micronaut-projects.github.io/micronaut-security/latest/guide/#clientecredentialshttpclient)

I have the following config in my properties file:

[code]
I'm expecting the Authorization HTTP header to be added to requests using the `dev` HTTP Client.

### Actual Behaviour

I'm seeing the following

[2022-11-22 16:51] mplanchant commented on #1148
Problem caused by https://github.com/micronaut-projects/micronaut-core/issues/5059

[2022-11-22 16:51] #1148 closed

[2022-11-25 08:40] yoeluk opened #1150 "Add kid to the jwt token header for EC signing"
### Feature description

It looks like we are not adding the kid to the header for EC signed tokens.

https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/ec/ECSignatureGenerator.java#L63

Unless there is a reason behind that choice this would be quite useful.

For example, we are adding the kid for RSA signed jwt

[2022-11-25 11:33] FranPregernik commented on #14
Sorry for hijacking this closed issue.

I also have a use case.
My use case is that the realms are not known upfront (e.g. clients are tenants, sales create tenants).

Spring oauth2 support has [this](https://docs.spring.io/spring-security/reference/reactive/oauth2/resource-server/multitenancy.html) feature.

In a nutshell, the token validator extracts the ISS claim URL and, based on it, fetches (

[2022-11-27 13:37] sdelamo opened #1156 "Use new session module in security"
### Issue description

https://github.com/micronaut-projects/micronaut-session

[2022-11-27 13:39] sdelamo commented on #14
@FranPregernik we support multiple authorisation servers. And you can implement your own https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/JwtClaimsValidator.java or https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/client/IdTokenClai

[2022-11-28 09:28] vutkin commented on #1081
Any update?

[2022-11-28 19:29] timyates commented on #1156
I guess this should come after you merge 3.8 in https://github.com/micronaut-projects/micronaut-security/pull/1147 to avoid more of the same?

[2022-11-29 06:02] FranPregernik commented on #14
I see. I will try to replace the services with custom implementations.
Thank you for pointing me in the right direction.