[2018-09-18 23:19] kastork opened #165 "X509 Certificate Authentication"
Feature request

It would be great if Micronaut had this out of the box with clear instructions on setting up the necessary certificate stores server-side.  Especially the procedure for creating the certificate stores and configuration for complicated PKI like the US DoD's CAC cards, which have 5 root CA's and dozens of intermediate ones.

[2018-09-30 13:48] goeh opened #2 "Add support for OpenID Connect (OIDC)"
It would be nice if Micronaut supported OIDC compliant flows out of the box. That would make it easy to use external identity providers like Auth0 and Okta for authentication in Micronaut services.

OIDC Client support is priority 1, but it's also important to be able to create compliant authorization servers with Micronaut that expose public RSA keys (JWKS) for resource servers to use for signatu

[2018-10-11 12:17] lightoze opened #3 "Support opaque Bearer token with OAuth 2.0 Token Introspection"
When access token is opaque (which is assumed by OpenID Connect spec) it can be validated by resource server using token introspection endpoint.

https://tools.ietf.org/html/rfc7662

Related to #650

[2018-12-27 16:37] vdobrikov opened #7 "Java example for OpenID config"
Please add Java example how to add OpenID config. I saw there is a Groovy one, but unfortunately I'm not that familiar with it. I think the same for many others.

[2019-02-11 11:25] TeNNoX opened #12 "Feature Request: Support Client Credentials Grant"
I see a lot of documentation, but none detailing how to authenticate via OAuth2 in HTTP client.
Is this planned in this library?

Or is it already implement and I just didn't find it?
Or is it already supported by existing micronaut library?

[2019-02-15 20:23] lucasmogari opened #14 "Question: Is it possible to configure keycloak for multiple realms?"
I'd like to authenticate on multiple realms based on the path or param.

Something like this example: https://github.com/keycloak/keycloak/tree/master/examples/multi-tenant/src/main/java/org/keycloak/example/multitenant

[2019-02-25 14:48] graemerocher opened #21 "Rename micronaut.security.oauth2.authorization.scopes to micronaut.security.oauth2.scopes"
I’d recommend getting rid of the “authorization” key and just using “scopes”.

Section https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html#oauth2

[2019-03-08 16:02] luckyswede opened #5 "ServerRequestMeterRegistryFilter is not invoked in case of 401"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Enable security
2. Enable metrics
3. Invoke endpoint that requires auth, but without credentials

### Expected Behaviour

`http.server` metrics with `status=401` shou

[2019-03-17 16:00] mikaelhg opened #23 "Redirect user back to the page where they started, after authentication"
When users enter a OAuth2-secured application through a link to a particular page or resource, they expect to continue using the application from that page, after having gone through authentication, rather than to be redirected to the application root URL.

This is how Spring OAuth2 behaves, as well as most authentication schemes I'm aware of.

Please implement this in micronaut-oauth2, and tell u

[2019-03-25 16:55] jasondlee opened #22 "Default Keycloak algorithm (HS256) reported as not supported."
It's hard to say whether or not this is a valid issue, so I'll describe what I did and saw, and let you make the call. :)

In a nutshell, I took the Okta OAuth2 example and tried to configure it to use Keycloak. On the demo side, I made this change to application.yml:
[code]
I set the following environment variables:
[code]
On the Keycloak side, I created a realm, `micronaut-demo`, leaving everyth

[2019-04-15 19:21] tchiotludo opened #6 "Allow 404 global error to be displayed even with a security enabled"
### Steps to Reproduce

1. Add a global 404 error `@Error(status = HttpStatus.NOT_FOUND, global = true)`
2. Enable security with `micronaut.security.enabled: true`
3. Add a controller with parameter like
[code]
4. Try to reach every child page like `/test/connect/bla`
5. be redirected to unauthorized url
6. Disabled security with `micronaut.security.enabled: false`
7. Try to reach the same page li

[2019-04-16 15:36] sdelamo opened #1 "SessionSecurityFilterOrderProvider should be in security instead of security-session"
`SessionSecurityFilterOrderProvider` should be in `security` annotated with `@Requires(beans = {HttpSessionFilter.class})` with a compileOnly dependency to `session` instead of inside the `security-session` module.

it will achieve correct filter order even if the user is not including the `security-session` module.

[2019-04-18 01:59] ibmsoft opened #4 "custom SecurityRule with multitenancy"
use   multitenancy and configuration:micronaut-multitenancy-gorm

 compile 'io.micronaut:micronaut-multitenancy'
  compile "io.micronaut.configuration:micronaut-multitenancy-gorm"

i my custom
[code]
then
tenantResolver.resolveTenantIdentifier() throw exception
Tenant could not be resolved outside a web request

i just create a demo project

https://github.com/ibmsoft/-micronaut-test-securityrule

[2019-04-18 02:02] graemerocher opened #8 "DefaultAuthorizationResponseHandler should not use RxHttpClient.create"
Currently does this:

https://github.com/micronaut-projects/micronaut-oauth2/blob/02d2a567675e0fed363c90e3fca3ae2c77d88d11/oauth2/src/main/java/io/micronaut/security/oauth2/handlers/DefaultAuthorizationResponseHandler.java#L66

1. If dynamic creation is required then `ctx.createBean(RxHttpClient.class, url)` should be used otherwise distributed tracing, metrics etc. is bypassed. Ideally however a

[2019-04-18 02:02] #8 closed

[2019-04-18 02:02] graemerocher opened #9 "DefaultNotValidIdTokenAccessTokenResponseHandler message"
Should this really just return bad request without an error message?

https://github.com/micronaut-projects/micronaut-oauth2/blob/02d2a567675e0fed363c90e3fca3ae2c77d88d11/oauth2/src/main/java/io/micronaut/security/oauth2/handlers/DefaultNotValidIdTokenAccessTokenResponseHandler.java#L35

[2019-04-18 02:02] #9 closed

[2019-04-18 02:02] graemerocher opened #10 "PasswordGrant scope `@Nullable` issues"
The `scope` field of `PasswordGrant` is `@Nullable`  but `getScope()` is `@Nonnull` so which is it?

[2019-04-18 02:02] #10 closed

[2019-04-18 02:03] graemerocher opened #11 "Rename key-cloack to key-cloak"
Spelling mistake. See https://www.keycloak.org/

[2019-04-18 02:03] #11 closed

[2019-04-18 02:03] TeNNoX opened #13 "Resource access based roles with @Secured annotation"
Hello, I'm trying to get a micronaut microservice working with OpenID Connect.
I managed to get the basic setup working eventually (with help of **micronaut-oauth2**).

But when trying to set up role-based authentication via `@Secured`, I noticed that the default [`SecuredAnnotationRule`](https://github.com/micronaut-projects/micronaut-core/blob/master/security/src/main/java/io/micronaut/security/

[2019-04-18 02:03] #13 closed

[2019-04-18 02:04] #15 closed

[2019-04-18 02:04] graemerocher opened #15 "Use OAuth 2.0 consistently in documentation"
Whenever we refer to OAuth, we try to spell it with two capital letters and add the version – “OAuth 2.0”. This helps eliminate confusion for end users.

[2019-04-18 02:04] graemerocher opened #16 "Auto configure denied handlers"
It seems strange that the end user has to add the classes and templates in the “Denied” section (https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html#denied).

[2019-04-18 02:04] #16 closed

[2019-04-18 02:04] graemerocher opened #17 "Change “Sign up in Okta developer portal” to “Sign up at developer.okta.com”"

[2019-04-18 02:04] #17 closed

[2019-04-18 02:04] graemerocher opened #18 "Rename openid-configuration property to issuer"
Also the `/.well-known/openid-configuration” suffix is standard, so can be hard coded.

Section https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html#oauth2

[2019-04-18 02:04] #18 closed

[2019-04-18 02:05] graemerocher opened #19 "Rename OKTA_* keys"
Should be `OIDC_ISSUER_*`

Section https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html#oauth2

[2019-04-18 02:05] #19 closed

[2019-04-18 02:05] graemerocher opened #20 "Autoconfigure StateProvider, StateFilter and StateValidator"
It seems strange that a developer has to create a StateProvider, StateFilter, and StateValidator. I’d recommend these are auto-enabled somehow.

Section https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html#state

[2019-04-18 02:05] #20 closed

[2019-04-18 02:07] phi1ipp opened #24 "Can't start the app with oauth2 - NoSuchMethodError"
Hi guys,

Trying to inject into my app oauth2 authentication based on your guide for OKTA, but ran into an issue trying to start the app
[code]
Can you give an advice what I can check to fix the issue?

Here is my `build.gradle`
[code]

[2019-04-18 02:07] #24 closed

[2019-04-18 13:04] lucasmogari opened #25 "The setting micronaut.security.token.jwt.cookie.cookie-max-age throws an Exception"
Micronaut: 1.1.0

The bellow settings throws an Exception.
micronaut.security.token.jwt.cookie.cookie-max-age: 86400
micronaut.security.token.jwt.cookie.cookie-max-age: 86400s

Debugging, DefaultConversionService didn't find a TypeConverter that for String -> TemporalAmount.

[code]

[2019-04-18 13:07] lucasmogari commented on #25
Current workaround for cookie-max-age is to use:

micronaut.security.token.jwt.generator.access-token-expiration: 86400

[2019-04-18 15:03] #25 closed

[2019-04-18 15:06] jameskleeh commented on #25
Thanks for the report

[2019-04-23 07:30] sdelamo opened #26 "Micronaut Security docs contains broken images"
![Micronaut_Security](https://user-images.githubusercontent.com/864788/56562753-67b0da80-65aa-11e9-9549-75cdbdf0dcf1.png)

[2019-04-23 08:13] sdelamo opened #27 "latest docs missing"

[2019-04-23 13:11] sdelamo commented on #27
Closed by: https://github.com/micronaut-projects/micronaut-security/commit/ed0027ee964708aac193f99e709be6d52d76dd64

[2019-04-23 13:11] #27 closed

[2019-04-24 17:21] frinka opened #28 "Throw an error when 2 or more security annotations are applied to a method"
Discovered this during @sdelamo deep dive presentation. If you add `@Secured` and `@RolesAllowed`, the method will use the first annotation found. Instead, it should throw an error to let the developer know that only one annotation is supported.

Example:
[code]

[2019-05-02 01:00] jameskleeh commented on #21
its now `micronaut.security.oauth2.clients.*.scopes`

[2019-05-02 01:00] #21 closed

[2019-05-02 01:06] jameskleeh commented on #23
micronaut-oauth2 was reworked to use more of the existing infrastructure of micronaut-security and thus this feature needs reimagined in a way that will work for all authentication use cases

[2019-05-05 01:55] jameskleeh commented on #14
With the latest snapshot this is possible by supplying multiple configurations

[code]

[2019-05-05 02:26] jameskleeh commented on #14
@lucasmogari Can you confirm that meets the need?

[2019-05-05 20:22] jameskleeh commented on #22
I can confirm with the latest snapshot I can authenticate with keycloak using default settings. Please let me know if that is not the case and I'll reopen

[2019-05-05 20:22] #22 closed

[2019-05-05 20:26] jameskleeh commented on #7
The oauth2 config for the above would now be:
[code]

[2019-05-05 20:26] #7 closed

[2019-05-05 20:30] jameskleeh commented on #2
OpenID is supported

[2019-05-05 20:30] #2 closed

[2019-05-05 20:32] jameskleeh commented on #3
@lightoze Can you clarify what you're asking for here?

[2019-05-05 22:39] lightoze commented on #3
@jameskleeh I mean being able to validate non-JWT OAuth 2.0 Bearer tokens. You can get a quick idea by reading https://www.oauth.com/oauth2-servers/token-introspection-endpoint/

[2019-05-05 22:53] jameskleeh commented on #3
Yeah I’m familiar with the endpoint. What functionality from this library
are you expecting in regards to it?

On Sun, May 5, 2019 at 6:39 PM Vladimir Kulev <notifications@github.com>
wrote:

[2019-05-05 23:05] lightoze commented on #3
@jameskleeh This is about creating OAuth resource server with Micronaut. Incoming token from the client needs to be validated which is already doable for JWT but in my case given authorization server uses opaque access tokens and you're supposed to make a request from resource server to validate it.
What I'm expecting is being able to configure Micronaut as a resource server, that is.

[2019-05-05 23:42] jameskleeh commented on #3
Understood. That would be your responsibility to do in the user details
mapper. I’ll see about making it easy to do

On Sun, May 5, 2019 at 7:05 PM Vladimir Kulev <notifications@github.com>
wrote:

[2019-05-06 06:41] lightoze commented on #3
Also it will be quite important to be able to cache token introspection response for performance reasons.

[2019-05-06 12:44] jameskleeh commented on #3
@lightoze Why would it make sense to be cached? The use case you're referring to is a once per login action

[2019-05-06 14:43] lightoze commented on #3
@jameskleeh Sorry if I'm not communicating it clearly but the use case is about access token validation at (normally) stateless resource server side, so the token is validated on every request and there's no session whatsoever.

[2019-05-06 15:20] jameskleeh commented on #3
@lightoze If the token will be validated on the serve (Oauth provider), why do you want to duplicate every call to the provider with an introspection call to validate it ahead of time?

[2019-05-06 15:35] lightoze commented on #3
@jameskleeh Because custom authorization server is a part of our own deployment and my service is a part of "Oauth provider" you're referring to. So when a request comes to my service from a client it should:
1. fetch Bearer authentication token from HTTP header
2. fetch token information from authorization server (with JWT this step is unnecessary)
3. validate token validity, scope, etc.

[2019-05-06 15:40] jameskleeh commented on #3
@lightoze This library is an OAuth 2.0 and OpenID client, not a server (or provider). So anything that is the responsibility of the provider is out of scope for this library

[2019-05-06 15:57] lightoze commented on #3
@jameskleeh It was not very clear at the time I created this feature request :) Also while I can 100% agree that auth server implementation is out of scope and an overkill, resource server support sounds like a very natural fit for this library. Most of the stuff is already there (e.g. token validation once you've got the token).

[2019-05-06 15:59] jameskleeh commented on #3
@lightoze So in your case the application is a middleware between a client with an access token and an authorization server that issued the token?

[2019-05-06 16:13] lightoze commented on #3
Yes, kind of. It doesn't need authorization server for anything except token introspection, really.

[2019-05-06 16:44] jameskleeh commented on #3
@lightoze Are you wanting this library to generate access tokens or just be able to call a remote introspection endpoint?

[2019-05-06 18:05] lightoze commented on #3
@jameskleeh Just to call the endpoint, and then process the response in a way similar to current JWT implementation (sans signature checks).

[2019-05-07 02:05] jasondlee commented on #22
I'm trying to verify now, but this class no longer compiles: https://github.com/micronaut-guides/micronaut-oauth2-okta/blob/master/complete/src/main/java/example/micronaut/DefaultStateProvider.java

Is there a better/more up-to-date example I can work from?

[2019-05-07 02:07] jameskleeh commented on #22
@jasondlee The guide needs updated and its on our todo. The import just needs changed

[2019-05-07 02:10] jasondlee commented on #22
I assumed as much, but I haven't been able to find where the class was moved to. Or what took over the functionality. Or whatever. :) I have micronaut-oauth2 cloned and up-to-date, and the only place I can find StateProvider mentioned is in a couple of Groovy files.

[2019-05-07 02:14] jameskleeh commented on #22
Its in this repository now `micronaut-projects/micronaut-security`. Sorry the name also changed. It's here https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/endpoint/authorization/state/StateFactory.java

[2019-05-07 02:48] jasondlee commented on #22
Ah! OK. I think I have everything fixed up (it's compiling at least). I'll try to validate as quick as I can, but it's going to have to wait until tomorrow. :)

[2019-05-09 14:38] ronane2x opened #30 "Session based authentication logout contains original session cookie"
Invoking the 'logout' endpoint when using the session based authentication results in the same set-cookie session response returned as for a 'login' request.

Steps to reproduce:
1) Clone the Git repository: git clone https://github.com/micronaut-guides/micronaut-security-session.git
2) Run application
3) Login

Example:
[code]

4) Logout (using session from login)

Example:
[code]

Expected: Resp

[2019-05-09 14:53] jameskleeh commented on #30
This is the expected behavior. Logging out removes the authentication object from the session, but does not create a new session. Is this causing a problem for you in some way?

[2019-05-09 15:12] ronane2x commented on #30
Speaking to @jameskleeh on the gitter channel I understand the behaviour better now. We agreed that if I need to invalidate sessions then this can be customised in the SessionLogoutHandler.

Happy for the issue to be closed.

[2019-05-09 15:12] #30 closed

[2019-05-10 13:29] cargillchantry opened #31 "Document AuthenticationFetcher"
I think some documentation is required for users who want to integrate with micronaut security but using custom authentication strategies.

I pass an Authorization header up to my service and then use it to produce some roles through my own methodology (not important here). My main goal is to use the @Secured annotation to secure my endpoints and handle setting up the security context myself.

Aft

[2019-05-11 08:50] chantrybjss commented on #3
I think this is precisely what I am doing in https://github.com/micronaut-projects/micronaut-security/issues/31. Being able to do token validation manually, either as part of the same service or on another service is a pretty important feature.

I have been able to do it, but having documentation about best practices would be nice. For example, during implementation we have to create an instance o

[2019-05-11 11:57] jameskleeh commented on #3
@chantrybjss I think your information is out of date. Currently a user
details object gets created which has a well defined place to put roles.

I’m not sure what you’re trying to say whether this implementation will
change. The oauth2 part of this module has not gone beyond snapshot so to
expect stability at this point is not reasonable.

On Sat, May 11, 2019 at 4:50 AM chantrybjss <notifications

[2019-05-11 12:15] chantrybjss commented on #3
@jameskleeh Good call on the UserDetails object. I completely missed it when I read through the documentation.

I think you misinterpreted me on the stability point. I have only a basic understanding of micronaut security and I am coming at this with a very specific use case in mind. Essentially, I want to be able to pass a token using an Authorization header to my service. Using this token, I wan

[2019-05-11 13:11] jameskleeh commented on #3
I don’t think a call to a remote service for every api call to your
application is a good thing. That’s before the normal business logic

On Sat, May 11, 2019 at 8:15 AM chantrybjss <notifications@github.com>
wrote:

[2019-05-11 13:23] chantrybjss commented on #3
Sadly, that’s not my decision to make. I didn’t design the infrastructure I’m working with.

[2019-05-17 06:14] jameskleeh commented on #31
@chantrybjss
1. No - that is the supported solution
2. It looks like it isn't documented well or at all, so I don't think so

[2019-05-17 06:14] jameskleeh commented on #14
Closing due to a lack of feedback

[2019-05-17 06:14] #14 closed

[2019-05-17 06:19] jameskleeh commented on #1
This was resolved with https://github.com/micronaut-projects/micronaut-security/blame/d54b57ba52df9ae05068593d3c0c1966ce5d0050/security/src/main/java/io/micronaut/security/filters/SessionSecurityFilterOrderProvider.java

[2019-05-17 06:19] #1 closed

[2019-05-24 09:40] dmbeck-e2x opened #47 "Redis as a sessions store does not work"
Enabling Redis as a session cache in Micronaut does not work.

Using the code from the session guide as a starting point:

https://guides.micronaut.io/micronaut-security-session/guide/index.html

Add the following to the `appplication.yml`:

[code]

Using the `io.micronaut.core.serialize.JdkSerializer` you will the following exception when trying to login:

[code]
Switching the serializer to: `io.

[2019-05-30 01:41] #47 closed

[2019-05-31 20:05] andcuevas opened #49 "Allow setting or strategy to indicate all authentication providers must authenticate successfully"
I created an example project:
https://github.com/andcuevas/micronaut-authentication-provider-rejection

There are two authentication providers:
1. FailedAuthenticationProvider
2. SuccesfulAuthenticationProvider

As the names indicate, one authenticates the user and the other doesn't.
If you run the test class micronaut.custom.authentication.FailedAuthProviderTest, the user is authenticated.

The r

[2019-06-01 17:09] JamieCressey opened #50 "JWKS verification failing"
I have two apps running locally, an auth server;

[code]

Which implements a custom `JwkProvider` and `RSASignatureGeneratorConfiguration`;

[code]

[code]

And a client server;

[code]

I can login to the auth server and receive a JWT token;

[code]

And I have successfully verified the generated JWT (and public key) using jwt.io;

[code]
However when I attempt to use that access token against th

[2019-06-06 15:16] BrandonMeilleur opened #51 "@PermitAll annotation currently not working"
While securing some endpoints I noticed that due to the implementation of the SecuredAnnotationRule within the following code snippet, the @PermitAll annotation will yield a 403 Forbidden response:

[code]

The guide available at https://micronaut-projects.github.io/micronaut-security/latest/guide/ denotes that use of these JSR-250 (https://jcp.org/en/jsr/detail?id=250) annotations should be worki

[2019-06-06 20:38] BrandonMeilleur commented on #51
Following up here, I've realized that we bring in a dependency on "io.micronaut:micronaut-security-jwt" instead of "io.micronaut:micronaut-security", which may be responsible for the missing functionality here. I think you can safely ignore this issue for the time being, but hopefully this helps someone else who's made the same misstep.

[2019-06-06 20:38] #51 closed

[2019-06-17 13:08] Malik33000 opened #52 "can't use oauth2 micronaut with snapshot reposistory"
I try to test oauth2 micronaut :

But I can not include security-oauth2 by including in gradle dependencies :

   compile "io.micronaut.configuration:security-oauth2:1.2.0.BUILD-SNAPSHOT"

or
compile "io.micronaut:security-oauth2:1.2.0.BUILD-SNAPSHOT"

with repository :
repositories {
    maven { url "https://oss.sonatype.org/content/repositories/snapshots/" }
    maven { url "https://jcenter.bint

[2019-06-20 09:29] sdelamo opened #53 "OpenIdClientCondition evaluates to false if issuer not present."
`OpenIdClientCondition` evaluates to false for such configuration:

[code]

[2019-06-20 13:34] #53 closed

[2019-06-20 13:35] jameskleeh commented on #52
Please ask questions in gitter. The artifact name is `io.micronaut.configuration:micronaut-security-oauth2`

[2019-06-20 13:35] #52 closed

[2019-06-28 17:35] jameskleeh opened #57 "Support access to request during authentication"

[2019-07-01 18:27] gausnes commented on #50
I ran into a similar issue, but it was the reserve scenario. The algorithm header wasn't being emitted in the `jwks` from our auth server, which blew up.

I was able to ask our security team to emit the `alg` header with the respective keys to fix this issue. I feel like the default behavior maybe should changed for this case as the `alg` header is optional.

Not sure about the `JWT` spec, but it

[2019-07-07 17:45] jlannoy commented on #6
I'm facing this issue. When you said "If a request comes through and **no** security rule explicitly rejects or allows it, it is rejected by default.", I completely agree. It should be the default way of handling. But adding a @Secured(SecurityRule.IS_ANONYMOUS) on one @Error management controller method should not have no effect... As we did explicitly write a well formed security rule.

Maybe it

[2019-07-22 19:55] shkdmhhb opened #59 "Limit access to service based on IP only"
Is it possible to setup access to service based on IP only (using ip-patterns), without setting up any security providers?

Given the tests below, if it passes the ip-patterns, it is still failing with `No rule provider authorized or rejected the request.`

If it fails the ip-patterns, you get `The rule provider io.micronaut.security.rules.IpPatternsRule rejected the request.`

So based on the tes

[2019-07-30 17:36] rafaelrenanpacheco commented on #12
On Spring we use client credentials for communication between microservices, we don't propagate the user's access token because the user's access token expires very often and the backend don't have the user's refresh token to request a new access token. Client credentials access token can have a longer expiration time, which results in few refresh requests between microservices. Also, when the cli

[2019-08-01 13:36] jameskleeh commented on #59
Yeah currently the IP patterns aren't designed to specifically authorize requests, but only reject requests if the IP doesn't match. You could provide your own `SecurityRule` that runs after the ip rule (IpPatternsRule.ORDER + 1) that always returns `ALLOWED`.

[2019-08-01 13:37] jameskleeh commented on #59
I think this is an uncommon enough use case that adding explicit support for it is probably not worth it, especially given that a relatively easy way to get the desired behavior is available.

[2019-08-01 13:37] #59 closed

[2019-08-05 23:54] nkatakkar opened #62 "Accessing using SSL Certificate"
We use SSL certificates to connect to intranet / internet. To extract the certificate in other frameworks I write a Filter and using it get the certificates, parse them and get necessary user credentials to Authenticate.

So accordingly I created a HttpServerFilter however calling getAttribute ("javax.servlet.request.X509Certificate") gives me back null, unlike other frameworks. Can  you please ad

[2019-08-06 06:06] witek1902 opened #63 "Kerberos support"
I want to integrate my Micronaut app with Kerberos Server (using Kerberos authentication protocol). Users should be authenticated against app by opening the URL.
User should not enter a username/password and install additional software.

[2019-08-13 19:31] HectorCastelli opened #64 "Can't inject SecurityService inside of an Around Advice"
I have a custom annotation "Managed" that wants to check for the SecurityService to perform some extra logic.

Here is the source of the annotation:

[code]

The advice that is executed looks like this:
[code]

and example usage of this annotation is as follows:

[code]

Anyone has a clue as to why this bean would not be found during runtime?

Here is the stack-trace for the error-message:

[code]

[2019-08-15 12:56] HectorCastelli commented on #64
Update:
Injecting Princial instead of SecurityService works (for my use-case).

I propose the documentation is updated to reflect the fact that
[code]
works in a Singleton without problems. (As opposed to only working in @Controller s)

[2019-08-23 14:25] larsduelfer opened #72 "Property-based configuration of oauth2 token validation possible?"
While configuring the validation of OAuth 2 tokens for a REST API developed with micronaut, we were wondering, if it should be possible just with properties configured in the application.yaml

We were only able to provide a custom RSASignaturConfiguration class to get the key configured. The class looks likes this

[code]

Next, we were assuming, that the RSASignatureFactory would now automaticall

[2019-09-05 00:33] adityasrini opened #73 "Setting micronaut.session.http.cookie-max-age throws an Exception"
Micronaut: 1.2.0

The bellow settings throws an Exception.
micronaut.session.http.cookie-max-age: 60
micronaut.session.http.cookie.cookie-max-age: 60s

[code]

Environment:
OS: MacOS 10.14.6
JDK: jdk12
Micronaut: 1.2.0

[2019-09-05 00:44] adityasrini commented on #73
Related: I'm getting the same exception blow ups for setting [max inactive and active session intervals](https://docs.micronaut.io/latest/guide/configurationreference.html#io.micronaut.session.SessionConfiguration). This time, however Micronaut crashes before it even boots up.

[2019-09-06 02:29] adityasrini commented on #73
Raising this in the appropriate repo -> https://github.com/micronaut-projects/micronaut-core/issues/2085

[2019-09-06 02:29] #73 closed

[2019-09-06 12:46] danielegts commented on #12
I have a third party software that needs to call an api which I implemented using Micronaut: I would like to use Okta as an Identity manager.

If client_credentials grant is still not available, how can I make the third party software authenticate against the services I exposed using Micronaut?

A partial answer came from this tutorial:
https://piotrminkowski.wordpress.com/2019/04/25/micronaut-tut

[2019-09-11 20:15] pditommaso opened #75 "Invalid Cannot decrypt / verify JWT error message"
When using JWT along with basic authentication method and the latter is used, the error following error message is reported in the log file:

[code]

My understanding is that MN tries to decode the Basic auth token as it were a JWT token, tehn fails and fallback on the basic auth provider.

[2019-09-13 11:06] juliuskrah opened #76 "Oauth2 Security not Using Proxy Headers"
I am currently using `io.micronaut.configuration:micronaut-security-oauth2:1.2.0` behind a proxy.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Application is running on `localhost:8082` and proxy is on `localhost:

[2019-09-13 13:36] jameskleeh commented on #76
So because of the proxy nonsense it will be difficult or impossible for me to debug this issue without full information regarding the proxied request sent to `localhost:8082`. You can debug `DefaultOauthRouteUrlBuilder#buildCallbackUrl`. Let me know what you find

[2019-09-13 15:36] juliuskrah commented on #76
@jameskleeh From debugging, the proxies are being set correctly.

Using nginx works perfectly, however it doesn't work with [Ocelot](https://threemammals.com/ocelot/) because Proxy Host servers are not sent in the request.

Closing issue

[2019-09-13 15:36] #76 closed

[2019-09-13 16:23] juliuskrah opened #77 "Openid Resource Server: Authenticate with Authorization Header"
Feature Request

When I use an access token directly in the Authorization Header with Scheme `Bearer`, I get a 401 response.

Is there a mechanism I can configure for Resource Server?

Micronaut Security: 1.2.0
OS: Windows: 10
JDK: 11

[2019-09-20 15:17] pkinuk opened #78 "Add ldap read timeout in the application.yml"
may I ask if the lap server read timeout can be configured in the application.yml? I found a workaround way is to create my own DefaultContextBuilder as follow and add the explicit timeout value

[code]

[2019-09-23 16:38] jameskleeh commented on #77
It's not clear to me what you're trying to do

[2019-09-23 16:39] jameskleeh opened #79 "Refactor RejectionHandler"
Remove the RejectionHandler interface entirely and throw an exception instead. This can then be handled with an ExceptionHandler or a global/local error handler.

[2019-09-23 16:43] jameskleeh opened #80 "Refactor Token Validation"
The token validator should probably be a prototype bean, or perhaps not a bean at all and instead use a builder style syntax to allow for multiple types of validation in a single app. Current use case is JWT validation of OpenID tokens as well as validation of normal authorization tokens

[2019-09-23 16:49] jameskleeh opened #81 "Refactor AuthenticationResponse"
Currently the login controller makes assumptions that a successful authentication response is a UserDetails and a failed response is an AuthenticationFailed. We should remove that assumption and change the response interface to allow for handling of both types of responses. UserDetails should be an implementation detail instead of a requirement

[2019-09-23 16:50] jameskleeh opened #82 "Provide better logging in security rules"
Most rules currently don't log anything

[2019-09-23 16:54] jameskleeh opened #83 "Rename Oauth controller"
It's really acting as the token endpoint and given our new oauth integration it is confusing what its purpose is by its name

[2019-09-23 16:58] jameskleeh commented on #75
Fixed by https://github.com/micronaut-projects/micronaut-security/commit/e2c90d0533ccac922656ce8fb032321ba69c4389

[2019-09-23 16:58] #75 closed

[2019-09-23 17:09] juliuskrah commented on #77
I want to be able to validate Oauth2 Jwt tokens in a stateless manner using the JWK_Set Url for public key validation. Similar to what Spring Security 5 does for Oauth2 resource server.

What I have done now is use a filter to validate all Jwt Bearer tokens in the Authorization header.

At the moment Micronaut Security Oauth2/OIDC support is stateful using a cookie mechanism.

[2019-09-23 17:11] jameskleeh commented on #77
@juliuskrah That is already being done. The token returned by OpenID providers is validated against their key set URL.

[2019-09-23 17:38] juliuskrah commented on #77
I’m aware of this. In a Microservice architecture only one service, usually the UI will handle the Login (Authorization Code Flow), other services will deal with just the Bearer Tokens.
These tokens must be validated.

Micronaut puts these tokens in the cookie which I cannot validate in the Authorization flow.

In my case one Micronaut service works with Auth Code flow with tokens created by Micro

[2019-09-23 17:41] jameskleeh commented on #77
That is only the case if you have configured it to do so. That is not the default. You can enable the keys controller in the authorization service and have the other services use that

https://micronaut-projects.github.io/micronaut-security/1.2.x/guide/#keys

https://micronaut-projects.github.io/micronaut-security/1.2.x/guide/#jwks

[2019-09-23 17:41] #77 closed

[2019-09-23 17:44] jameskleeh commented on #64
@HectorCastelli If that works then as far as I know that is not intentional

[2019-09-23 17:44] jameskleeh commented on #64
Can you upload a sample app?

[2019-09-23 17:53] juliuskrah commented on #77
I will look at this and revert

[2019-09-23 18:58] jameskleeh commented on #62
How are you obtaining user data from a certificate? I don't understand the use case here at all

[2019-09-23 19:23] #82 closed

[2019-09-23 21:21] juliuskrah commented on #77
@jameskleeh this works. I used

[code]

I wasn't interested in the keys endpoint.

Question: Any suggestion on how to customize the `getName()` to use `preferred_username` instead of `Subject`?

Question: Also any suggestion on how to extract the roles or scopes to participate in the `@Secured({"ROLE_ADMIN", "ROLE_X"})` flow

[2019-09-23 22:02] jameskleeh commented on #77
Please ask questions in Gitter

On Mon, Sep 23, 2019 at 5:21 PM Julius Krah <notifications@github.com>
wrote:

[2019-09-23 22:07] juliuskrah commented on #77
Copy that

[2019-09-24 15:22] sillyoldman commented on #62
Sorry - I should have clarified what I mean by userinfo. I could have worded it better as well. In last few days I also have been able to increase my understanding about Micronaut. I will try to rephrase again.

When user hits the rest end point, she also adds her CA signed certificate with it. This certificate has attributes that has the necessary information about the user e.g. some id used with

[2019-09-25 14:51] KangoV commented on #78
Might be nice to add the other `com.sun.jndi.ldap.connect.pool.*` properties as well from https://docs.oracle.com/javase/jndi/tutorial/ldap/connect/config.html

[2019-09-26 15:01] jameskleeh commented on #78
Closed by https://github.com/micronaut-projects/micronaut-security/commit/d339f30fe023fc822c057279efbbfb708d223359

[2019-09-26 15:01] #78 closed

[2019-09-29 18:37] pditommaso commented on #75
Has this been included in the release 1.2.1 by any chance?

[2019-09-29 22:42] jameskleeh commented on #75
Yes

On Sun, Sep 29, 2019 at 2:37 PM Paolo Di Tommaso <notifications@github.com>
wrote:

[2019-10-03 12:57] dstepanov opened #84 "Token propagation should't override existing token in clients"
Authorization header is getting unexpectedly overridden by the token propagation.

[2019-10-08 12:35] larsduelfer commented on #72
Any news on this?

[2019-10-08 13:28] jameskleeh commented on #72
In order for your bean to be picked up by the default factory, you would just have to add a `@Named` qualifier since `@EachBean` requires a qualifier

[2019-10-08 13:28] #72 closed

[2019-10-08 13:29] jameskleeh commented on #72
We have a test for doing exactly that here https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/test/groovy/io/micronaut/security/token/jwt/signature/rsagenerationvalidation/BooksRsaSignatureConfiguration.java

[2019-10-08 23:39] mrcoto opened #85 "Authenticate user programatically (Security JWT)"
Hello everyone!

Is there a way to authenticate a user programatically (manually)?? I'm using `micronaut-security-jwt` dependency

For example in Spring Boot you can do something like:

[code]
But, there is no SecurityContextHolder in Micronaut.

Thanks in advance!

[2019-10-14 14:51] #26 closed

[2019-10-14 16:07] rkimaoui opened #86 "Token propagation problem"
Token propagation is not working when calling a client oustide of controller.

Example: when calling my client "userClient" on application bootstrap.
[code]

[2019-10-19 09:35] ashwini-desai commented on #85
[Here](https://micronaut-projects.github.io/micronaut-security/1.2.x/guide/#authenticationProviders) are the details in the documentation.
Similar to how we have to implement ```UserDetailsService``` that sets the returned ```UserDetails``` in ```SecurityContext``` in Spring Boot, you have to provide an implementation of ```AuthenticationProvider``` and return a ```UserDetails``` object.

[2019-10-24 13:21] neoneo opened #87 "Open Id end session url from provider is not used"
Our OpenID provider supports end session, and Micronaut also sees this when fetching from `/.well-known/openid-configuration`. `OpenIdProviderMetadata#getEndSessionEndpoint` returns the end_session_endpoint.

However, Micronaut seems to ignore this when resolving the `EndSessionEndPoint` in `EndSessionEndpointResolver`. When no bean is provided that implements that interface, the resolve method on

[2019-10-30 12:01] jvrhenen opened #88 "JwksSignature validation based on kid"
I would like to see support for valiation based on kid.
Currently, it looks like it tries to to the JwksSignature validation based on the Algorithm. But if the JwksSignature has multiple Algorithims of the same type, it causes issues.

Checking the kid of the JWT with the kid of the JwksSignature is a better validation strategy. If the kid is not pressent or not matching, fall back to the Algorith

[2019-10-30 18:40] #88 closed

[2019-10-30 18:44] jvrhenen opened #89 "JwksSignature validation depends on "alg""
The current implementation of the JwksSignature depends on the "alg" attribute of the JSON Web Key (JWK) .
According to the documentation this attribute is optional (https://tools.ietf.org/html/draft-ietf-jose-json-web-key-41#section-4.4).

This implementation cannot handle some openID services, for example Azure AD.
https://login.microsoftonline.com/common/discovery/keys

"When used with JWS or J

[2019-10-30 18:49] jvrhenen commented on #88
Not the real problem, created new issue [https://github.com/micronaut-projects/micronaut-security/issues/89](url)

[2019-10-31 14:20] mbjarland opened #90 "OpenID error for Azure ActiveDirectory: "JWT signature validation failed for provider X""
Edit: Just noticed that this issue seems to be duplicating issue #89, leaving it here anyway as there is a fair bit of information in this issue

# OpenID error for Azure AD: JWT signature validation failed for provider'
When trying to use openid connect against azure active directory, the token signature validation always fails with the error:
[code]
my application.yaml configuration is as follow

[2019-10-31 14:38] mbjarland commented on #90
As noted in issue #89, the ID token returned by azure ad contains the following type of header:

[code]
which specifically identifies the key tht was used to to sign this token. I am no expert in jwt, jwk etc, but seems to me that the micronaut code should be using the indicated key directly instead of looping through and looking for one which supports the algorithm (which in this case does not ex

[2019-10-31 18:17] goeh commented on #90
Seems like issue https://github.com/micronaut-projects/micronaut-security/issues/50 is also related.

[2019-11-01 20:15] svishnyakoff opened #91 "Oauth2 - bearer token validation via token 3rd introspection endpoint"
I believe this request is pretty much similar to https://github.com/micronaut-projects/micronaut-security/issues/3 though here I will give high-level idea about how configuration and implementation might look like

The basic idea is the following:

1. Service with protected resources receives a request with a bearer token
2. To validate token and obtain associated context, server calls authorizati

[2019-11-01 20:26] jameskleeh commented on #91
So I don't think we need separate config for this. The existing Oauth2 client config can handle any additional configuration necessary. The OauthClientConfigurationProperties already has introspection properties and clientid/secret.

Are you planning on implementing this with a filter? How will token expiration be handled?

[2019-11-01 20:35] svishnyakoff commented on #91
I agree, using existing OauthClientConfigurationProperties is better than introducing duplicating config that will serve the same purpose.

You can get a general idea of implementation from here https://github.com/svishnyakoff/micronaut-security/commit/5d0a2e49916ac56cd0491906328d8cf015a9fde3#diff-8642ec23ea2721ea48918389d5d2642f.

Regarding token expiration handling, it is the responsibility of a

[2019-11-01 20:40] jameskleeh commented on #91
So I don't think we should be validating the token for every request given the performance implications. We should retrieve the token if it doesn't exist and cache it. The cache would expire automatically if we know the expiration time. If the request with the token fails because the token is no longer valid for any reason, we should be referring to the originally cached refresh token to get a new

[2019-11-02 00:53] svishnyakoff commented on #91
Caching of introspection response also has a security implication that should be evaluated. RFC considers caching as an option but highlights the idea that a choice of performance vs security depends on the application needs.

I am not against introducing caching for token validation because performance concerns many application, but still, there are those where security might be more important. S

[2019-11-02 01:09] svishnyakoff commented on #91
If ignore cache and cache related configurations for now, here is how client credential configuration might look like
[code]

[2019-11-02 07:10] jameskleeh commented on #91
We would need `micronaut.security.oauth2.clients.*.client-credentials.url-patterns` to denote which URLs should be filtered.

What are
[code]
used for?

[2019-11-02 07:12] jameskleeh commented on #91
Thanks for the caching information. I think we should default to caching until the token is expired because then we are allowing the server to determine what is an acceptable default caching period.

[2019-11-04 09:56] jzuijlek opened #92 "Support for multiple OpenID Connect clients"
When configuring multiple OpenID Connect clients we get the following error:

[code]

According to the documentation this should be supported: https://micronaut-projects.github.io/micronaut-security/latest/guide/#openid-configuration

[2019-11-04 10:46] #92 closed

[2019-11-04 10:46] jzuijlek commented on #92
Fixed in 1.2.5

[2019-11-04 18:36] svishnyakoff commented on #91
It controls the body that will be sent to introspection endpoint. tokenHintsParameters is documented in RFC. Regarding the `tokenParam` so far RFC states it should be `token`, but for example, our organization I am working in uses a different name `access_token` and basically google, github and other top companies started to use introspection endpoint before it was clearly documented in RFC so the

[2019-11-05 17:10] mbjarland commented on #90
@graemerocher I have spent some significant time mulling on this. A few big take aways:

1. I have a lot to learn about jwt, jwk, jws, jwe and friends
2. with that said, after reading and re-reading the specs etc it seems to me that just removing the supported algorithms check will resolve this problem. i.e. just remove the `if(config.supports(algorithm))` clause will solve this as the contained `

[2019-11-07 11:52] dannykruitbosch opened #93 "Token request does not send redirect_uri in Authorization code flow"
I'm trying to setup an Oauth2 Authoization Code flow with Bitbucket Oauth in micronaut. I've setup both Github and Bitbucket in my Mirconaut config for auth.

Whenever I (try to) login with Bitbucket, I get an redirect_uri does not match error.

[code]

After doing some research and enabling some trace logging I see that redirect_uri is missing in the access token request.

[code]

Whenever I recr

[2019-11-07 22:16] zonaut commented on #81
As this is in the same context I would also like to point out the following.
When trying to authenticate against the login controller if always returns an application/json response. This can be seen when posting empty values in the form which fails the Validation on UsernamePasswordCredentials.

Normally this is not a problem but when using a form post I would expect the response to be that form w

[2019-11-19 22:35] mickoallen opened #96 "Make JWT Cookie login/logout redirect optional"
Can the redirect on successful/failed cookie login attempts be configurable? I'm in a situation where it would be preferable for my front end to handle navigation, post login.

[2019-11-20 20:48] mickoallen commented on #96
Something along these lines -
https://github.com/micronaut-projects/micronaut-security/pull/97

[2019-11-22 07:24] stepanv opened #108 "io.micronaut.security.authentication.Authentication breaks the Serializable contract"
# Environment
Micronaut Security 1.2.2

# Description
the `io.micronaut.security.authentication.Authentication` interface extends `Serializable`. In the same time, it declares a method
[code]
if I understand the purpose of the attributes, even the `attributes` should be *serializable*, however, an `Object` may not be `Serializable`.

To implement this interface correctly, if I'm right (at least th

[2019-11-24 19:09] shkdmhhb opened #109 "Netty security patching cycle/strategy"
Since micronaut is built on top of netty, are they any documentations on what netty security patches are applied on each of the micronaut's releases?

Secondly, how does micronaut address CVEs that surfaces in netty (Ie, https://lists.debian.org/debian-lts-announce/2019/09/msg00035.html) , and how is that repatriated into the micronaut's release cycle?

In order for micronaut to be "production" re

[2019-11-25 09:24] TheoMuffin opened #110 "Crash when setting openid provider for Keycloak 8.0.0"
When setting openid issuer to that of Keycloak 8.0.0 then Micronaut crashes with ```Error instantiating bean of type [io.micronaut.security.oauth2.client.DefaultOpenIdClient]: No enum constant io.micronaut.security.oauth2.endpoint.AuthenticationMethod.TLS_CLIENT_AUTH```. The behavior doesn't change with different versions of Micronaut/security/oauth libraries, including snapshot versions. The prob

[2019-11-26 11:55] stepanv opened #114 "Allow to disable token propagation when the feature flag is set to 'false'"
When feature flag
[code]
is set to
[code]
the feature is still enabled because the `@Requires` doesn't check the value.
I'd expect it to behave similarly to the rest of Micronaut feature flags (ending with `enabled`).

It's fixed by https://github.com/micronaut-projects/micronaut-security/pull/113

[2019-11-26 16:26] meamZ commented on #110
Can confirm this. Also if you just go through the steps at https://guides.micronaut.io/micronaut-oauth2-okta/guide/index.html but use Keycloak instead of Okta, you get the same issue.

[2019-11-29 16:21] goeh commented on #110
I can also confirm this. Keycloak 8.0.0 responds with `..., "token_endpoint_auth_methods_supported":["private_key_jwt","client_secret_basic","client_secret_post","tls_client_auth","client_secret_jwt"]` and this leads to exception in micronaut:
[code]

[2019-11-29 16:38] goeh commented on #86
I don't think that use-case is supported. How would Micronaut get access to a token if the call was not initiated from an inbound HTTP request? You don't have a token available at server startup.
I guess you need to get/create the token manually for the user you want use with userClient.

[2019-12-01 06:47] jachinte opened #119 "Passwords should be character arrays in UserState, PasswordEncoder and others"
The [Java Cryptography Architecture Guide](https://docs.oracle.com/javase/6/docs/technotes/guides/security/crypto/CryptoSpec.html#PBEEx) and the [Secure Coding Guidelines for Java SE](https://www.oracle.com/technetwork/java/seccodeguide-139067.html#2) (Guideline 2-2) recommend that passwords should be stored in character arrays. In light of this, should methods [PasswordEncoder#encode(String)](htt

[2019-12-05 11:19] alvarosanchez commented on #90
@mbjarland thank you very much for your contribution. We truly appreciate your detailed analysis plus the accompanying PR. I have just merged it. Keep going!

[2019-12-05 11:19] #90 closed

[2019-12-05 11:23] alvarosanchez commented on #89
Same as #90

[2019-12-05 11:23] #89 closed

[2019-12-05 11:25] alvarosanchez commented on #50
#95 also fixes this issue.

[2019-12-05 11:25] #50 closed

[2019-12-05 11:41] alvarosanchez commented on #92
@jzuijlek do you mean 1.2.2?

[2019-12-05 15:03] graemerocher commented on #109
The netty version is controlled by Micronaut Core (https://github.com/micronaut-projects/micronaut-core/blob/master/gradle.properties#L83). We upgrade Micronaut core to the latest versions of Netty as they become available and release regular patch releases of Micronaut core (every 2 weeks or so).

[2019-12-09 08:37] haris-zynka opened #123 "Implicit security is 403 for everything by default"
Micronaut: 1.2.7
Micronaut security: 1.2.2

So I was trying to login using JWT and continue on with using the API but everything returned 403.
I understand that by default all of the route refuse everything if not explicitly specified what kind of users could go in. I'm not sure is this a good practice but I would suggest at least to have application.yaml option to put in something like default-le

[2019-12-11 10:34] #110 closed

[2019-12-11 11:17] alvarosanchez commented on #123
This is by design. The assumption behind it is that, if everything were open by default, if you forget to guard a new URL, it can take a long time to discover that users had access, whereas if you forget to open access for allowed users when using the locked-down-by-default approach, nobody can access the URL and the error will be quickly discovered. This approach is more work, but much safer.

It

[2019-12-11 11:17] #123 closed

[2019-12-11 11:58] alvarosanchez commented on #119
@jachinte good point. Are you willing to contribute the change?

[2019-12-11 12:00] #114 closed

[2019-12-11 12:03] alvarosanchez commented on #108
@stepanv good point. Willing to contribute the change?

[2019-12-11 16:56] istvanszoboszlai commented on #110
@alvarosanchez, I have checked my [PR](https://github.com/istvanszoboszlai/micronaut-security/commit/e98b5f1c52e551e74f14c875ecd13c9e74c13588) , and indeed, a map call with `String::toUpper` was missing. Sorry for that.

I have also checked the PR that fixes issue #110, and I would like to argue, that the original problem still persists.

The situation is like this: there is a list in the .well-kn

[2019-12-12 08:36] haris-zynka commented on #123
I do not understand the "It is already possible to have an application open by default. Read the documentation about how to do it." as this only explains the part on how to configure security which I did.

As I specified I had to do either application.yml or map configuration, which I did by choosing to add:
`pattern: /**
        access:
          - isAuthenticated()`
in application.yml.

The reas

[2019-12-12 09:12] alvarosanchez commented on #123
Sorry, I might not be understanding your question. `pattern: /** access: - isAuthenticated()` combined with those additional route rules will give you what you want.

[2019-12-12 09:21] alvarosanchez commented on #110
The original problem, as specified, is fixed. There is a test that was using Keycloak that, when upgraded to 8.0.0, reproduced the issue and verified the fix.

The reasoning for using an enum is that the values are fixed by the [OpenID specification](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication).

That being said, it is also true that there are other specifications ([

[2019-12-12 09:30] haris-zynka commented on #123
No problem, I just asked should it be considered to have 1 parameter like `micronaut.security.default-access: isAuthenticated()` without extra pattern field. Reason is that sometimes I have to think about order of the items in intercept part like:

`intercept-url-map:
      -
        pattern: /swagger-ui/**
        access:
          - isAnonymous()
        pattern: /**
        access:
          -

[2019-12-12 09:50] stepanv commented on #108
@alvarosanchez I'm definitely willing to contribute, but to make this right, it requires a design decision that will very likely break backwards compatibility.
At least both options I'm suggesting are like that.
For example, the PR I'm submitting is implementing the option [1].
Not sure what the "serializability" of the `Authentication` is for (honestly) but if it's really needed because of some f

[2019-12-12 09:57] alvarosanchez commented on #123
You can raise a feature request about that config option, and if it gets traction, we can consider it.

You can also have a try yourself and send a PR. Contributions are always welcomed.

[2019-12-12 10:34] alvarosanchez commented on #108
Removing `Serializable` from `Authentication` is a breaking change that could only be done in an upcoming major release (2.x).

Changing `getAttributes()` return type is also breaking, and unfortunately can't be solved by introducing a `default` variant.

The only option I can imagine is to `@Deprecate` `Authentication` and replace it with a whole different interface. @jameskleeh thoughts?

[2019-12-12 19:08] jachinte commented on #119
@alvarosanchez I can give it a try. I'm assuming that I should deprecate the methods using a String and add alternatives with the character array. May I ask you questions about this issue in case I need to?

[2019-12-13 14:43] jameskleeh commented on #108
It's not possible to remove Serializable from `Authentication`. The authentication objects need to support being serialized as part of session support. We can change the map and review any other classes in regards to serializability for 2.0

[2019-12-13 16:36] #93 closed

[2019-12-18 17:28] sanyarnd opened #132 "AuthenticationProvider need parametrization"
Right now `AuthenticationProvider` (and `AuthenticationRequest`) are not parameterized:

[code]

while `AuthenticationRequest` is declared like this:
[code]

This leads to:
[code]
such casts can be avoided.

Is there particular reason to keep `AuthenticationProvider` not parameterized?

[2019-12-19 18:06] alvarosanchez commented on #119
@jachinte deprecate only is not an option. As per semantic versioning, incompatible API changes must me done in the next major version (2.x in this case).

There are workarounds, such as using default methods:

[code]

That would be backwards compatible and could be introduced in an upcoming 1.3.x release.

I haven't reviewed all places where passwords are managed. If you do, make sure there is an

[2019-12-19 22:04] jachinte commented on #119
@alvarosanchez That's what I'm doing. I'm using existing tests to verify the changes are backwards-compatible.

[2019-12-20 07:35] alvarosanchez commented on #119
Note that having the tests passing is not enough. Existing interfaces can't be changed in a minor release. That's why `default` alternatives need to co-exist until the old variants are removed in the next major version.

[2019-12-20 07:46] sdelamo commented on #132
I think it is a good idea to parameterize authentication request

[2019-12-20 08:14] alvarosanchez commented on #132
@sammyrulez the problem is that making these changes would need to happen in the next major version (2.x), since they would be incompatible API changes.

[2019-12-21 23:20] goeh opened #133 "Improve error message when JWKSet can't be loaded"
It took me a while to figure out why I got an error message in my log:

"Exception loading JWK. The JwksSignature will not be used to verify a JWT if further refresh attempts fail"

In production it tried to load a different key I had configured in application.yml. A different key name was configured in application-prod.yml

It would help a lot if the URL could be printed in the error message:

ht

[2019-12-23 14:15] LukasPrediger commented on #110
Is there a know workaround for this problem until the fix is officially release, by for example replacing the default implementation with the new code locally?

[2019-12-23 18:03] alvarosanchez commented on #110
You can use the current build snapshot

[2019-12-24 04:14] nobleach opened #135 "JWT Requires optional field "sub""
While attempting to follow a [short example](https://medium.com/@thegiraffeclub/jwks-authentication-with-micronaut-bf28845d3b61) on using JWKS based JWT auth, I ran into this error:

[code]
Based on RFC-7519 (JWT standard), this is not the case. This field is optional. It appears this is handled [here](https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/

[2019-12-27 22:41] hc-codersatlas commented on #119
Would also be good to wipe the `char[]` at the end of the request flow after all filters etc has been consumed.

[2020-01-02 10:03] sdelamo opened #138 "Link to context events is broken"
<img width="711" alt="Screenshot 2020-01-02 at 11 02 31" src="https://user-images.githubusercontent.com/864788/71661727-6b0e7f80-2d4f-11ea-807e-a770afbe92f5.png">

[2020-01-02 14:09] #138 closed

[2020-01-07 06:38] javirran opened #139 "LDAP authentication: disabling configuration has no effect"
Hello,

it seems that setting enabled to false for a ldap configuration has no effect.

### Steps to Reproduce

1. Create an micronaut app with ldap authentication support by following the instructions on [ldap authentication](https://guides.micronaut.io/micronaut-database-authentication-provider-groovy/guide/index.html#ldapTest)
2. Login successfully to application with euler:password when ldap i

[2020-01-08 07:45] JoergAdler opened #140 "RSASignatureGeneratorConfiguration documentation unclear"
Hi,

I just tried to bring a RSASignatureGeneratorConfiguration up like it is stated in https://micronaut-projects.github.io/micronaut-security/latest/guide/#jwtGeneratorSignature. Unfortunately, the named "generator" bean is not the RSASignatureGeneratorConfiguration but the SignatureGeneratorConfiguration class.

So to bring it up, I had to insert the following factory. I don't know if it is int

[2020-01-08 09:01] alvarosanchez commented on #140
The documentation does say that the bean needs to be qualified with the name `generator`, which is exactly what you did.

What is what you think is missing in the documentation?

[2020-01-08 13:40] JoergAdler commented on #140
The doc states "you need to have in your app a bean of type RSASignatureGeneratorConfiguration, ECSignatureGeneratorConfiguration, SecretSignatureConfiguration qualified with name generator" which is unclear, as it looks like that you can choose between the three.

In fact, it is "you need to have in your app a bean of type SecretSignatureConfiguration qualified with name generator". So erasing th

[2020-01-08 15:23] alvarosanchez commented on #140
Would you be willing to contribute the first option, including your example?

[2020-01-09 08:42] JoergAdler commented on #140
Of course. Pull request is there :-)

[2020-01-09 09:35] #140 closed

[2020-01-09 16:18] #139 closed

[2020-01-09 16:22] jameskleeh commented on #87
@neoneo The issue is that there is no standard about how to construct the request to the URL

You can register your own named `EndSessionEndpoint` bean to allow the functionality to work

[2020-01-10 11:40] #133 closed

[2020-01-10 11:41] #86 closed

[2020-01-10 12:23] alvarosanchez commented on #85
This would be what you would be looking for:

[code]

[2020-01-10 12:23] #85 closed

[2020-01-13 12:47] alvarosanchez commented on #31
@cargillchantry as far as I can tell, the default `TokenAuthenticationFetcher` can do what you do.

It uses a `TokenResolver` to resolve a token from the request, which in turn uses `TokenReader`s, and there is already one `TokenReader` implementation that reads it from an HTTP header.

Once the token is found, it will attempt to validate it using any `TokenValidator`s registered. This is the piec

[2020-01-13 12:52] #64 closed

[2020-01-15 11:03] #31 closed

[2020-01-15 15:48] jameskleeh commented on #5
This was fixed in micronaut-security 1.2.3

[2020-01-15 15:48] #5 closed

[2020-01-16 09:16] alvarosanchez commented on #28
This issue can't be solved unless https://github.com/micronaut-projects/micronaut-core/issues/2644 is implemented,

[2020-01-16 09:16] #28 closed

[2020-01-17 10:23] ckosmowski opened #148 "Some links to API Docs are broken"
I often get a 404 when visiting links in the micronaut documentation:

for example in this document:
https://micronaut-projects.github.io/micronaut-security/latest/guide/#ipPattern

the link to IpPatternsRule is like this:
https://micronaut-projects.github.io/micronaut-security/latest/apiio/micronaut/security/rules/IpPatternsRule.html

which should be this:
https://micronaut-projects.github.io/mic

[2020-01-17 10:57] #148 closed

[2020-01-22 09:35] sdelamo commented on #135
It is possible to turn off `sub` validation with:

`micronaut.security.token.jwt.claims-validators.subject-not-null=false`

Expiration claim (`exp`) is optional as well and we enforce it.

I think it is a sensible default to validate both `sub` and `exp`.

Moreover, sub claims is used by default by :

`AuthenticationJWTClaimsSetAdapter::getName` as the username.

[2020-01-22 09:38] sdelamo opened #149 "Simplify configuration by defaulting micronaut.security.enabled to true"
Right now to enable security you have to add the dependency an enable the module with:

`micronaut.security.enabled: true`

Probably, a more sensible default is to enable it by default. Since adding the dependency, probably indicates you want to enable the security module.

[2020-01-22 09:43] sdelamo opened #150 "Simplify JWT module configuration enable it by default."
Right now to enable security you have to add the dependency an enable the module with:

`micronaut.security.token.jwt.enabled: true`

Probably, a more sensible default is to enable it by default. Since adding the `jwt`dependency, it probably indicates you want to enable the the security-jwt module.

[2020-01-22 09:50] sdelamo opened #151 "Simplify Oauth 2.0 module configuration enabled it by default"
Right now to enable OAuth 2.0 security you have to add the dependency an enable the module with:

`micronaut.security.oauth2.enabled: true`

Probably, a more sensible default is to enable it by default. Since adding the dependency, probably indicates you want to enable the security OAuth 2.0 module.

[2020-01-22 11:37] sdelamo opened #152 "Improve startup time of applications including Oauth 2.0 module"
Right now if you configure an app such as:

[code]

When the application starts a blocking network call to `https://dev-133320.okta.com/oauth2/default/.well-known/openid-configuration`  is executed to retrieve Open ID configuration information and configure the micronaut.

This can add more than 1 second to the startup time.

The call is done in https://github.com/micronaut-projects/micronaut-secu

[2020-01-22 22:16] #152 closed

[2020-01-23 01:10] nobleach commented on #135
While that is indeed possible, do you think it's the right thing to have to turn off validation for an optional field? I don't know the right answer, but I feel that it's not the best experience.

As a side note, I didn't know it was possible to turn this off until I saw the pull request a few days ago. It certainly helped me get around my issue, but I'm not sure what documentation I failed to rea

[2020-01-23 07:57] graemerocher commented on #135
FWIW I am in agreement that from a user experience point of view this could use improving, hence +1 for the PR

[2020-01-23 13:56] sdelamo opened #155 "Remote JWKS which goes offline and then online should validate JWT"
Scenario

App which uses remote auth server via JWKS endpoint exposed by the latter.

1) Remote server is up

2) Generates JWT

3) Remote Auth goes is down

4) App starts

5) Token sent to app. App cannot verify token signature because JWKS endpoint of the auth server is down and it cannot retrieve the public keys of the auth server.

5) Remote server goes up

7 ) Token sent to app. App can verify

[2020-01-24 08:48] sdelamo opened #157 "Configuring an open id client which may expose a jwks_uri via openid configuration should register a JwksSignature bean"
For such configuration:

[code]

if the Open ID Configuration endpoint `https://{yourOktaDomain}/oauth2/default/.well-known/openid-configuration`  exposes a `jwks_uri`. A `JwksSignature` should be configured.

[2020-01-24 09:19] sdelamo opened #158 "Update license header to 2017-2020"

[2020-01-24 09:43] #158 closed

[2020-01-27 10:08] julKali opened #163 "JWT refresh token has same role grants as access token"
When using the built-in JWT features, the refresh token has exactly the same role grants as the access token. In fact, it is an exact copy of the access token only the expiration date is not present.

Example:
When using the login controller with a valid set of credentials, you receive something like this:
[code]
If you decode the access token, you will get the following payload:
[code]
For the re

[2020-02-03 18:53] #155 closed

[2020-02-03 18:53] #157 closed

[2020-02-05 09:40] tchiotludo commented on #6
🆙

[2020-02-11 12:14] cristianrgreco commented on #57
I've run into this today. We authenticate with a third party and need to propagate a request header via the @Client interface. Based on the current API there is no way to access the request header during the authentication flow.

[2020-02-11 18:47] brsanthu opened #169 "Calling logout without session throws error"
/logout actions should be idempotent so calling repeatedly even without any session in place, should return successfully.

But as of now, calling /logout without a valid session, throws following error

[code]

[2020-02-12 01:16] brsanthu opened #170 "Feature: Provide db backed session store"
Provide db backed session store

[2020-02-12 10:05] #3 closed

[2020-02-12 13:10] runarhk opened #171 "Docs reports on unresolved directives"
View latest docs at https://micronaut-projects.github.io/micronaut-security/latest/guide/. You will find this message several places which reports on missing docs from the latest build:

[code]

[2020-02-13 11:11] menesty opened #172 "Google oauth2 Micronaout 1.3"
Micronout 1.3
Java : 11
Get exception
[code]
configuration

[code]

[2020-02-14 14:28] mickoallen commented on #96
added details to pr

[2020-02-18 21:04] abedurftig commented on #172
I have the very same issue (happens also in Micronaut 1.3.1). I just downgraded again to Micronaut 1.2.9 and there the issue does not exist.

[2020-02-18 23:21] mikaelhg commented on #23
While waiting for the reworking, how would you recommend we work around this issue?

[2020-02-19 09:49] ilopmar opened #174 "Review accessToken and refreshToken behavior in other implementations"
According to the RFC: https://tools.ietf.org/html/rfc6749#section-1.4

https://tools.ietf.org/html/rfc6749#section-1.5

This implies that refresh tokens shouldn't be valid to access resources but only to get new access tokens.

At this moment Micronaut allows to access to resources using accessTokens.

Review how other implementations manage this.

[2020-02-19 09:51] ilopmar opened #175 "Set a default expiration for refresh tokens"
At this moment the refresh tokens never expires by default: https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/generator/JwtGeneratorConfigurationProperties.java#L38

It would be good to set an expiration time by default as we do with access tokens. Probably it makes sense to define a little bit longer than the default ex

[2020-02-19 19:33] morki commented on #172
1.3.0 is also working, version 1.3.1 not

[2020-02-19 21:52] jameskleeh commented on #172
@morki @abedurftig @menesty Can one of you upload a sample application? I can't reproduce

[2020-02-19 22:05] jameskleeh commented on #172
https://www.googleapis.com/oauth2/v3/certs Only returns the RS256 algorithm so I don't know where HS256 is coming from.

[2020-02-19 22:15] jameskleeh commented on #172
https://accounts.google.com/.well-known/openid-configuration even only contains ``` "id_token_signing_alg_values_supported": [
  "RS256"
 ],```

[2020-02-20 08:51] morki commented on #172
@jameskleeh I think it is not related to google at all, but to algorithm of **micronaut's** jwt token generation and validation.

Project: https://github.com/morki/micronaut-jwt-test

Steps:
- run ./gradlew run
- go to http://localhost:8080/oauth/login/google
- after return, you see "Not authenticated"
- in console, there is error

[2020-02-20 09:18] morki opened #176 "Missing GraalVM configuration"
There is some missing configuration for oauth2/oidc security. See https://github.com/micronaut-guides/micronaut-oauth2-okta/issues/6

Error:

[code]

This can be solved by adding `com.fasterxml.jackson.databind.PropertyNamingStrategy$SnakeCaseStrategy` to `@TypeHint` annotation like this:

[code]

I think it has to be in this project, because it relates to it, not tu application configuration.
But

[2020-02-20 09:44] menesty commented on #172
@morki I am agree with you, it look like depend to jwt - but I get this exception only when connect oauth google, I create simple test project - auth with google work but still get
 ERROR io.micronaut.security.token.jwt.signature.jwks.DefaultJwkValidator - JOSEException when verifying jwt
com.nimbusds.jose.JOSEException: Unsupported JWS algorithm HS256, must be RS256, RS384, RS512, PS256, PS384 or

[2020-02-20 10:10] alvarosanchez commented on #176
I think where it should really be included is here: https://github.com/micronaut-projects/micronaut-core/blob/master/runtime/src/main/java/io/micronaut/jackson/JacksonConfiguration.java#L42

[2020-02-20 10:30] morki commented on #176
@alvarosanchez ok agree, what about a second exception? I tried add  `io.micronaut.security.oauth2.endpoint.authorization.state.DefaultState` to `@TypeHint` with `ALL_DECLARED_FIELDS` but it did not help.

[2020-02-20 10:41] morki commented on #176
@alvarosanchez maybe annotating class [DefaultState](https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/endpoint/authorization/state/DefaultState.java) with `@Introspected` can help?

[2020-02-20 11:03] morki commented on #176
The proposed solution seems to work. I will made PR...

[2020-02-20 14:07] sdelamo commented on #175
You can set an expiration for refresh tokens `micronaut.security.token.jwt.generator.refresh-token-expiration` with seconds.

[2020-02-20 14:10] alvarosanchez commented on #175
I think the point Iván is trying to make is that there should be a **default** expiration.

[2020-02-20 14:15] ilopmar commented on #175
Yes, that what I was trying to say!

[2020-02-20 18:33] #171 closed

[2020-02-20 18:33] #172 closed

[2020-02-20 19:38] #176 closed

[2020-02-21 21:49] linthar opened #179 "Add support to configure JWKSet cache"
**ENVIRONMENT**
Micronaut Security 1.3.0

**CLASS WITH THE PROBLEM:**
io.micronaut.security.token.jwt.signature.jwks.JwksSignature

**DESCRIPTION**

  The problem is with those two methods code
[code]

[code]

  Once the cache was initilized (this.jwkSet == null) if SignedJWT uses a key (not cached already) authentication will keep failing until JVM restart.

  matches() method will try using keys

[2020-02-21 22:50] developerSid opened #180 "Using Micronuat 1.3.1 causes nullable Authentication parameter in controller method to be null regardless of login status"
Ran across an issue when I was upgrading to Micronaut 1.3.1 this week where any controller method that takes a nullable __io.micronaut.security.authentication.Authentication__ is always null.  This is null regardless of the user being logged in or not.  This issue does not exist when using Micronaut 1.3.0

I created a simple project to illustrate my problem located here -> https://github.com/devel

[2020-02-22 10:51] graemerocher commented on #180
Can you try the just released 1.3.2?

[2020-02-23 03:19] developerSid commented on #180
Tried it, and the problem went away.  I should have waited one more release :(

Thanks for getting back to me!

[2020-02-23 03:19] #180 closed

[2020-02-24 19:30] brsanthu opened #182 "Support for Delegated Authentication Context for new threads"
We are using threads in one of our app and new threads doesn't carry the auth context from source thread. This leads to auth error.

Please provide Delegating Executor similar to Spring Security.

See for more info. https://stackoverflow.com/questions/1381965/spring-security-child-thread-context

[2020-02-25 16:03] apellegr06 opened #184 "Document SSL with LDAP"
Hello,

I need to use ldap in a secured way with ldaps and port 636 and certificate but I don't know how to do that with micronaut lib.

Currently I have a yaml section like that configured on an ldap server without security and it works fine :

  security:
    enabled: true
    ldap:
      default:
        context:
          server: 'ldap://myserver_host:389'
          managerDn: 'uid=toto,ou=tut

[2020-02-26 11:28] duclad opened #185 "propagation not working when using @Client!?"
I have this situation:
Two microservices: gateway and people, consul used for service discovery and a client defined in gateway that is calling the controller implemented in people microservice. For some reason, even of the login is successful and the two controllers separately works perfectly, when I try to use the `@Client` I get an Forbidden error.

Follow all the details:

1. for both microser

[2020-02-26 13:34] vnesek opened #186 "IpPatterRules throws NPE"
When stress testing our service, after some time we get following exception.
No rules are configured in app.

micronaut 1.3.2
micronaut-security-jwt 1.3.1

[code]

[2020-02-26 15:44] duclad commented on #185
Found it!!!!

the Path of the client is missing the /{uuid}

so all good now...

[2020-02-26 15:44] #185 closed

[2020-02-26 19:44] jameskleeh commented on #184
You have to configure it via the Java system properties for SSL

Check out Spring LDAP documentation for connecting to LDAP server over HTTP(S):

As far as self signed certificate is concerned, you can import certificate chain into a truststore and set the following VM arguments:

[code]

[2020-02-26 19:50] jameskleeh commented on #186
Can you debug it and tell me which part of `request.getRemoteAddress().getAddress().getHostAddress()` is null?

[2020-02-26 20:05] vnesek commented on #186
Catching it in debugger and evaluating request.getRemoteAddress() returned null.

Additionally, patternList is initialized to a single pattern of "0.0.0.0" although I haven't setup any ip-patterns in application settings.

Perhaps IpPatternsRule should be conditional on existence of micronaut.security.ip-patterns?
I don't see any reason for it intercepting requests if not explicitly configured.

[2020-02-27 01:43] jameskleeh commented on #175
@ilopmar What would be a sensible default? Why do you think never expiring is not a sensible default?

[2020-02-27 01:48] jameskleeh commented on #170
I don't think we're going to opinionated here. This involves making decisions that really don't have anything to do with security. Given the amount of database providers, key value stores, nosql databases, we can't please everyone.

[2020-02-27 01:48] #170 closed

[2020-02-27 01:50] jameskleeh commented on #165
@kastork This would be a matter of implementing an AuthenticationFetcher and returning the UserDetails created from the data in the certificate. I'm not sure what implementation we could create that would be a sensible default. Is the data in the certificate standard across all applications that use this type of authentication?

[2020-02-27 01:51] jameskleeh commented on #163
Going to close this in favor of the other issue that was created that brings up the larger issue https://github.com/micronaut-projects/micronaut-security/issues/174

[2020-02-27 01:51] #163 closed

[2020-02-27 07:35] ilopmar commented on #175
I think a sensible default for the refresh token is to expire a little bit later than the access token, so the users can use it for refresh the credentials.
Having in mind than a lot of users won't modify the defaults, I think it is better not to have tokens that never expire. As this is about security I think it's better to be more conservative about the defaults.

[2020-02-27 07:55] julKali commented on #174
I would suggest one of the two following two options:
- reserve a special role for refresh tokens, i.e. _REFRESH
- add a `scope` object to the token and move the `roles` declaration into `scope`. Only access tokens have the roles property, refresh tokens have a property `refresh` set to `true`. See example below.

access token:
[code]
refresh token:
[code]

[2020-02-27 08:14] julKali commented on #186
@vnesek what setup/features do you use?

[2020-02-27 08:41] julKali commented on #186
I'm trying to reproduce your issue but I never get this exception. Can you elaborate a bit more about your project? Do you use any request interceptors? What does your stress test look like? How many iterations? Serial or parallel? Are you targeting localhost or 127.0.0.1?
Is it possible to create a project from scratch where you can reproduce the issue?

[2020-02-27 08:48] apellegr06 commented on #184
Hello,

Thank you for the answer, but it's not the truststore that I must used, but it's a keystore.
So I have added that to the start command :

-Djavax.net.ssl.keyStore="<path to keystore file>"
-Djavax.net.ssl.keyStorePassword="<passphrase for keystore>"

And also configure the ldaps url, but it doesn't work.

When I try to log on ldap, it append nothing.

Regards

[2020-02-27 10:13] vnesek commented on #186
I caught it with debugger (OSX Catalina). Tried with 127.0.0.1 and local IP address as well but no luck.

request instance was NettyHttpRequest

[code]

channelHandlerContext was DefaultHandlerChannelHolder, it's handler was HttpRequestDecoder

channel was NioSocketChannel whose remoteAddress() is implemented in AbstractChannel

[code]
I had brackpoints on throw e, and return null so it must be th

[2020-02-27 11:18] julKali commented on #186
Yeah this redirects to [here](https://github.com/netty/netty/blob/6c05d16967df5cadcebcc498223eec3f25bacf89/transport/src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java#L291):
![image](https://user-images.githubusercontent.com/17690423/75439445-186dd000-595a-11ea-84ad-abac6f809fd5.png)

The JavaDoc for `java.net.Socket` says:
![image](https://user-images.githubusercontent.com/17690423/

[2020-02-27 11:45] vnesek commented on #186
Well... this javaChannel() is instance of sun.nio.ch.SocketChannelImpl and it's remoteAddress field is set.

This looks like a race in micronaut and/or netty.

[2020-02-27 14:59] hdjur opened #187 "Using LDAP authentication with sAMAccountName"
Hi,

I am constantly getting "User not found" when trying to authenticate with AD, tried to use both ports 389 or 3268, the result is same. But I don't know how to specify user search filter for sAMAccountName. Is it possible with micronaut at all, and if so, could you provide an example of configuration?

[2020-02-27 16:37] alvarosanchez commented on #175
We should conclude #174 before making a decision here.

For example, in Google refresh tokens never expire, but they do have a revocation list to check, so that if a user removes access for an application, this application's refresh token will not work any more.

In my opinion, what it should be done is:

1. Keep refresh token expiration unset.
2. Make sure the refresh token isn't granted any role

[2020-02-27 17:48] #108 closed

[2020-02-27 19:18] jameskleeh commented on #187
The search filter can be whatever you like https://micronaut-projects.github.io/micronaut-security/latest/guide/#io.micronaut.configuration.security.ldap.configuration.LdapConfiguration$SearchConfiguration. In the future, please ask questions in [Gitter](https://gitter.im/micronautfw)

[2020-02-27 19:18] #187 closed

[2020-02-27 19:24] #169 closed

[2020-02-27 19:32] #184 closed

[2020-02-27 19:37] #186 closed

[2020-02-27 21:56] kastork commented on #165
@jameskleeh

My detailed case was an effort to answer your question.  You are right that some aspects of using the certificate info will necessarily be application-specific (or at least specific to the particular certificate setup of a given organization).  But (at least when I filed this issue) there was no (documented) way to  do the first part of the use case via Micronaut server configuration.

[2020-02-27 22:04] jameskleeh commented on #165
@kastork Thanks for the reply. It seems its possible to do this via the method I described above. One aspect that isn't supported is the "for certain endpoints" portion. We don't currently support only allowing a subset of the authentication fetchers based on the endpoint. Each fetcher is attempted for each request. I'll leave this issue open to act as a request for an example project or documenta

[2020-02-27 22:06] kastork commented on #165
@jameskleeh  Thanks, that will be a great start.

[2020-02-28 02:58] #79 closed

[2020-02-28 02:58] #132 closed

[2020-02-28 03:03] #150 closed

[2020-02-28 03:06] #151 closed

[2020-02-28 09:05] sdelamo commented on #149
We should update all the tests

[2020-02-28 15:27] sdelamo commented on #186
If you are not using IP patterns you replace the bean with:

[code]

[2020-02-29 01:04] jameskleeh commented on #186
That shouldn't be necessary

[2020-02-29 07:16] vnesek commented on #186
Haven't tested, but adding following annotation to class declaration should prevent instantiation.
[code]

[2020-03-01 03:30] #149 closed

[2020-03-01 03:39] #81 closed

[2020-03-01 03:39] #57 closed

[2020-03-01 08:36] Arevico opened #188 "DelegatingAuthenticationProvider Compares Plaintext password"
When following the guide: https://guides.micronaut.io/micronaut-database-authentication-provider-groovy/guide/index.html, `BCryptPasswordEncoderService.encode` never get's called, instead, BCryptPasswordEncoderService get send the plaintext password as entered by the user.

Fix:

Replace
[code]

With
[code]

[2020-03-01 10:16] cristianrgreco commented on #57
Hi @jameskleeh , why has this been closed?

[2020-03-01 14:09] jameskleeh commented on #57
Because it’s finished

On Sun, Mar 1, 2020 at 5:16 AM Cristian Greco <notifications@github.com>
wrote:

[2020-03-01 14:13] cristianrgreco commented on #57
Where can I find the code/docs? There are no associated comments/PRs

[2020-03-01 14:14] jameskleeh commented on #57
In the master branch

On Sun, Mar 1, 2020 at 9:13 AM Cristian Greco <notifications@github.com>
wrote:

[2020-03-01 18:52] jameskleeh commented on #188
@Arevico That is how it should be. The bcrypt encoder compares a raw password with an encoded one. The `authenticationRequest.getSecret()` is the raw one and `user.getPassword()` is the encoded one.

[2020-03-01 18:53] #188 closed

[2020-03-01 18:54] jameskleeh commented on #119
These APIs have been removed in 2.0, thus this is no longer an issue

[2020-03-01 18:54] #119 closed

[2020-03-02 00:09] ivarprudnikov commented on #186
In my specific case (v1.3.1) I got the error when running
[code]

It failed to GET "/" and responded with 502 and stacktrace pointing to that NPE.

It was `micronaut.security.enabled = true` which I think messed things up as documentation states an interesting fact about `micronaut.security.ip-patterns`

As soon as I made sure `ip-patterns` are an empty array then it was responding locally as norm

[2020-03-02 10:59] cristianrgreco commented on #57
Hi @jameskleeh

Am I right in saying this change has been reverted? https://github.com/micronaut-projects/micronaut-security/commit/7f638aa1905e5ba88601b39c79277cb21aca5a8c

[2020-03-02 12:14] ikovalyov commented on #179
we have this issue as well

[2020-03-02 12:52] linthar commented on #179
Hi Illia:

 I have implemented a workaround (it's an ugly patch until this bug is fixed)

 I have added a second matcher called "JwksSignatureTwo" that is a copy/paste of JwksSignature but with the clean cache fix (line 193):
[ It's a full copy/paste because jwkSet is private]

[code]

 this second matcher will be called when the original JwksSignature fails,

 It's ugly but works!

[2020-03-02 14:01] jameskleeh commented on #57
@cristianrgreco No. The request was added then removed from token validators. Still there for authentication providers

[2020-03-02 14:03] cristianrgreco commented on #57
@jameskleeh Thanks. Just to confirm, this isn't available in 1.3.x right?

[2020-03-02 14:03] jameskleeh commented on #57
@cristianrgreco Correct

[2020-03-02 14:39] sdelamo commented on #174
I've checked both Okta and Auth 0 and they don't use JWT as refresh tokens.

[2020-03-02 14:54] sdelamo opened #189 "Don't include refresh_token in the /login response unless scope offline_access is requested"
A request such as:

[code]

will respond

[code]

if it specifies `offline_access` scope it will include a refresh token as well:

[code]

[code]

[2020-03-02 14:54] jameskleeh commented on #57
@cristianrgreco I'm considering releasing a 1.4 to better prepare folks for these changes. It may include this change as an additional method. Not sure though

[2020-03-03 19:56] kastork commented on #165
@jameskleeh

James,  I've found a great write up of the functionality that I'm looking for in the KeyCloak documentation. It may help.

https://github.com/keycloak/keycloak-documentation/blob/master/server_admin/topics/authentication/x509.adoc

[2020-03-03 21:07] jameskleeh commented on #165
@kastork Can you try this on your end and let me know the results. I don't know what is required to get X509 going locally. Create an AuthenticationFetcher implementation that calls `request.getCertificate()`. If the certificate is present, extract the details and create an `Authentication` object. If it meets your needs, we can put together an example/guide from there.

[2020-03-05 05:30] #80 closed

[2020-03-05 21:49] jameskleeh commented on #132
A new default method that takes the request was added and it supports the parameterization

[2020-03-05 21:50] jameskleeh commented on #57
A new default method that takes the request was added

[2020-03-05 23:52] cristianrgreco commented on #57
For anyone else interested the change is here: https://github.com/micronaut-projects/micronaut-security/blob/1.4.x/security/src/main/java/io/micronaut/security/authentication/AuthenticationProvider.java#L49

@jameskleeh Any idea on when a 1.4.x release might happen?

[2020-03-06 00:10] jameskleeh commented on #57
Hoping to do an RC soon

On Thu, Mar 5, 2020 at 7:04 PM Cristian Greco <notifications@github.com>
wrote:

[2020-03-06 19:18] jameskleeh opened #193 "Update guide"
https://guides.micronaut.io/micronaut-database-authentication-provider-groovy

Ensure its relevant for the 2.0 release

[2020-03-11 00:38] JLLeitschuh opened #194 "Please open a security advisory"
Hi Micronaut Team,

I've got another one for you. Please open a security advisory so we can discuss the details privately.

https://github.com/micronaut-projects/micronaut-security/security/advisories

[2020-03-12 13:32] ilopmar opened #197 "java.lang.ClassNotFoundException: io.micronaut.caffeine.cache.SSLA with Micronaut session and GraalVM"
Some changes did in 1.3.x for micronaut-cache doesn't play nice with GraalVM.

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-security-session-graal`
- `cd micronaut-security-session-graal`
- Use GraalVM
- `./build-native-image.sh`
- `./security-session-graal`

### Expected Behaviour

The app should start. The application works with Micronaut 1.2.x.

### Ac

[2020-03-13 17:45] jameskleeh commented on #179
I'm going to implement the clearing of the cache on failure. Rather than introduce additional complication and documentation surrounding expiration, this seems like an easy fix that will work for most folks. If there is a need for this type of feature in the future, a new ticket can be created.

[2020-03-13 17:45] #179 closed

[2020-03-16 16:46] ilopmar commented on #197
New PR sent to core https://github.com/micronaut-projects/micronaut-core/pull/2931

[2020-03-17 08:30] #197 closed

[2020-03-18 11:06] jzuijlek opened #198 "DefaultOpenIdClient onCallback() error handling"
When a user cancels an OpenID login request, or when an error occurs at the OpenID provider side, the **DefaultOpenIdClient** just dump an **AuthorizationErrorResponseException**.

For example: **oauth/callback/openid-provider?error=access_denied....**

We should be able to catch that exception and handle it ourselves.

As a temporary solution I've tried extending the **DefaultOpenIdClient** to ov

[2020-03-20 18:09] jameskleeh commented on #198
@jzuijlek You can create an `ExceptionHandler<AuthorizationErrorResponseException>` to control the response

[2020-03-20 18:09] #198 closed

[2020-03-20 18:17] jameskleeh commented on #87
Closing this due to a lack of feedback

[2020-03-20 18:17] #87 closed

[2020-03-20 18:17] #49 closed

[2020-03-20 18:34] jameskleeh commented on #6
@jlannoy

The security filter doesn't handle anything with an error route. At that point the user was already validated at the entry point of the system.

[code]

If you have an exception route for `SomeException`, adding security logic to that doesn't make any sense because the validation only occurs at the entry point.

[2020-03-20 18:34] #84 closed

[2020-03-26 10:17] ashish-sharma09 commented on #186
Any idea when 1.3.2 will be released containing the fix for this issue, we are frequently seeing this error in our application. Any timelines or plans shared here on this release will be super useful. Thanks in advance.

[2020-03-26 14:53] ivarprudnikov commented on #186
Looks like they are going to leapfrog into v2 with the fix merged in [v2.0.0.M1](https://github.com/micronaut-projects/micronaut-security/releases/tag/v2.0.0.M1) although [1.4.x](https://github.com/micronaut-projects/micronaut-security/tree/1.4.x) branch was not released yet

[2020-03-26 16:21] jameskleeh commented on #186
@ivarprudnikov This fix was done in the 1.3.x branch which means it will be applied to the next 1.3.x release and any future releases (including 1.4 and 2.0)

[2020-03-28 20:25] jlannoy commented on #6
As it concerns 404 not found errors, In this case, no validation occurred... But even, that was not the real point, only one supposition. The real problem to fix was that it was not possible to get a 404 error page on a secured app.

[2020-03-28 20:52] jameskleeh commented on #6
That isn’t true. Authenticated requests to a resource that the user has
access to but does not exist would result in a 404.

On Sat, Mar 28, 2020 at 4:26 PM J Lannoy <notifications@github.com> wrote:

[2020-04-01 19:29] #6 closed

[2020-04-01 19:31] tchiotludo commented on #6
:cry:

[2020-04-01 19:33] jameskleeh commented on #6
@tchiotludo Do you realize the milestone set on this issue means it is set to be released for that version? It being closed means its finished.

[2020-04-01 19:36] tchiotludo commented on #6
sorry @jameskleeh didn't notice.
Most of the time, we link a commit or a PR for any issue, and don't see it this time :)

Sorry and thanks for that :+1:

[2020-04-01 19:38] jameskleeh commented on #6
https://github.com/micronaut-projects/micronaut-security/commit/bab9de3c7e60aef98e8cef5c4ab258498bc3e00d

[2020-04-01 19:43] tchiotludo commented on #6
nice work, just a boolean to configure it
thanks :smile:

[2020-04-01 20:06] jlannoy commented on #6
And for the record, it fixes what I was describing too.

[2020-04-06 17:26] leonidasv opened #209 "MACProvider NullPointerException when validating JWT"
We have a Micronaut application deployed via Kubernetes. We use 3 pods with the same image.

Our Micronaut setup has JWT enabled with Oauth2 via Cognito for authentication. Our main development language is Kotlin.

Locally, the setup works. However, in production and staging/develop environment, we are getting intermittent `NullPointerException`s from `MACProvider.java` after the pods have been ru

[2020-04-07 08:46] mathwizard opened #211 "DefaultSecurityService.hasRole(String roleName) should honor custom roles-name setting of token"
The DefaultSecurityService.hasRole(String roleName) currently by default searches the the "roles" attribute of token. This method should honor the custom settings set in property micronaut.security.service.token.roles-name

### Steps to Reproduce

1. Set custom roles-name property
2. Attempt to call securityService.hasRole("roleName")

### Expected Behaviour

The role should be found

### Actual B

[2020-04-07 09:13] mathwizard commented on #211
#212

[2020-04-07 12:24] #211 closed

[2020-04-08 07:46] phxql opened #214 "Does micronaut closes the connection when the JWT expires?"
Hi,

I have a strange problem. We have JWT access tokens which expire after 1 minute. We also have long-running requests which take longer than 1 minute to complete. At the exact same time the JWT expires, the client gets a `ClosedChannelException`. Is Micronaut closing the connection when the JWT expires? If so, can this be disabled?

Thanks!

[2020-04-09 11:32] welovelain commented on #197
I, too, happened to meet this error with micronaut 1.3.2

Message: io.micronaut.caffeine.cache.SSAW
Path Taken: new HealthMonitorTask(CurrentHealthStatus currentHealthStatus,[List healthIndicators]) --> new DiscoveryClientHealthIndicator([DiscoveryClient discoveryClient]) --> new $CachingCompositeDiscoveryClientDefinition$Intercepted(DiscoveryClient[] discoveryClients,BeanContext beanContext,Quali

[2020-04-15 05:05] sdelamo commented on #214
No, we are not.

JWT validation is performed when you go through [SecurityFilter](https://github.com/micronaut-projects/micronaut-security/blob/1.3.x/security/src/main/java/io/micronaut/security/filters/SecurityFilter.java). In particular, the JWT is validated by [JwtTokenValidator](https://github.com/micronaut-projects/micronaut-security/blob/1.3.x/security-jwt/src/main/java/io/micronaut/security

[2020-04-15 07:38] phxql commented on #214
Okay, thanks for the clarification - I will check the other components in my setup, maybe they close the connection. I'll reopen the ticket if I suspect the culprit in micronaut.

[2020-04-15 07:38] #214 closed

[2020-04-16 13:52] sdelamo commented on #209
which micronaut version and which version of Micronaut security ?

[2020-04-16 13:54] sdelamo commented on #214
thanks @phxql  sorry for not being of more help.

[2020-04-16 14:43] phxql commented on #214
Yeah, no problem - I have read through the SecurityFilter code and haven't found anything. Just wanted to make sure that you as the developers don't have something in there I just didn't find :)

[2020-04-19 13:39] abedurftig opened #217 "Add SameSite property to JwtConfigurationProperties"
After this https://github.com/micronaut-projects/micronaut-core/pull/2956, it should be possible to configure the SameSite setting via the application properties.

[2020-04-20 08:43] ilopmar commented on #197
@welovelain can you please provide a sample application that reproduces the problem?

[2020-04-20 19:50] dgbmariano commented on #209
micronaut-bom:1.3.3, micronaut-security-jwt:1.3.0, micronaut.configuration:micronaut-security-oauth2:1.3.0

[2020-04-20 22:34] ronhitchens opened #221 "Auth0EndSessionEndpoint mangles URLs"
I observed that the URL location returned from the Auth0 EndSession handler was malformed, which caused OAuth logout operations to not work properly.  The URL I saw in the redirect response was:

`https:/mydomain.com/v2/logout`

Note the single slash after https.

After much digging into the Micronaut code, I determined that the URL being generated in `Auth0EndSessionEndpoint.getUrl()` was the sou

[2020-04-21 07:29] sdelamo opened #219 "IPatternsRule does not protect against InetSocketAddress::getAddress can return null"
[code]

I found this was causing failing tests in AWS module when migrating to Micronaut 2.0

[2020-04-21 07:53] graemerocher opened #220 "OpenIdClientCondition causing circular bean reference"
The build is currently failing because `OpenIdClientCondition` has a circular reference.

[code]

[2020-04-21 08:35] #219 closed

[2020-04-22 07:00] graemerocher commented on #221
I never implied you misused the API it is indeed a bug and thanks for the report. I would encourage you to communicate with Open Source maintainers in a less passive aggressive tone however. Also PRs welcome.

[2020-04-22 19:21] ronhitchens commented on #221
Hmm.  When I clearly describe a problem, with an example, and point at the exact place where the bug exists, and you reply with:

That sure seems like you're telling me I'm wrong and there is no bug.  If I misunderstood what you meant to say, I apologize for that.  I would encourage you to communicate with Bug Reporters in less ambiguous language.

Thank you.

[2020-04-27 02:49] ronhitchens commented on #209
We are experiencing the identical intermittent failure on a system that we are trying to prepare for Production.  For us it is happening on AWS Elastic Beanstalk, with Micronaut version 1.3.4 and the Auth0 OAuth setup.  We see exactly the same stack trace.  It appears that in class `SecretSignature` an incomplete config bean was injected.  It seems that `config.getSecret()` is returning null, whic

[2020-04-27 07:19] graemerocher commented on #209
Thanks for the report. The NPE does need to be handled more gracefully but I believe a better fix is to add more validation at startup.

Could you try this as a workaround whilst we investigate:

[code]

Then set `GENERATOR_SECRET` environment variable.

If you are able to provide an example with steps to reproduce (even if it happens intermittently) that would help too.

Thanks for the report.

[2020-04-27 13:48] #221 closed

[2020-04-27 13:51] jameskleeh commented on #217
The security classes inherit from the ones changed in core so nothing to do on our end except compile with that version of core

[2020-04-27 15:44] ronhitchens commented on #209
Thank you for the workaround.  I was about to do something like that anyway so you've saved me the trouble of creating the bean myself.  I only hope it doesn't have the same issue resolving that property as it does the original one.  If it does, I guess that will be a useful thing to know.

In terms of more gracefully handling the exception, I was referring to startup as well as a more helpful err

[2020-04-27 15:56] graemerocher commented on #209
Yes I agree that the verification should be done as early as possible. Thanks for your feedback

[2020-04-27 16:48] dgbmariano commented on #209
Thanks for the workaround. We will test and post here the results.

[2020-04-27 18:28] dgbmariano commented on #209
Tried, but we now receive an 401 response.

[2020-04-27 18:54] dgbmariano commented on #209
Some notes:
Only setting `GENERATOR_SECRET` environment variable instead of `MICRONAUT_SECURITY_TOKEN_JWT_SIGNATURES_SECRET_GENERATOR_SECRET` seems to make this error stop. I don't have any idea of why this is working.

[2020-04-27 19:04] graemerocher commented on #209
Yes with my suggested workaround you have to remove MICRONAUT_SECURITY_TOKEN_JWT_SIGNATURES_SECRET_GENERATOR_SECRET

[2020-04-27 19:08] dgbmariano commented on #209
I removed the MICRONAUT_SECURITY_TOKEN_JWT_SIGNATURES_SECRET_GENERATOR_SECRET and added the GENERATOR_SECRET with the workaround and didn't work. I removed the workaround and let only the GENERATOR_SECRET environment variable and worked

[2020-04-27 20:27] pditommaso opened #223 "LoginSuccessfulEvent is invoked twice when using OAuth security"
I've noticed that the `LoginSuccessfulEvent` is invoked twice when using MN OAuth security module once before the LoginHandler and the second time after.

It should be added that I'm using a custom `RedirectingLoginHandler`.

MN version 1.3.4.

[2020-04-28 06:52] abedurftig commented on #217
@jameskleeh, there is some work. The `JwtConfigurationProperties` need to updated, like I have shown in the PR or do I miss something?

[2020-04-28 09:51] t139n opened #225 "Oauth scopes lead to NullPointerException"
A NullPointerException occurs if scopes have been added to a oauth2 client in the application configuration.

Configuration using Auth0:
` scopes:
     - read:roles`

Exception:

`[nioEventLoopGroup-1-74] ERROR i.m.h.s.netty.RoutingInBoundHandler - Unexpected error occurred: null
java.lang.NullPointerException: null
	at com.nimbusds.jwt.JWTParser.parse(JWTParser.java:58)
	at io.micronaut.security.

[2020-04-28 16:36] dgbmariano commented on #209
Just to update: Just renaming the environment variable MICRONAUT_SECURITY_TOKEN_JWT_SIGNATURES_SECRET_GENERATOR_SECRET to GENERATOR_SECRET didn't seems to work. I think that we had some problems with the kubernets pod configuration that keep the old var setted.

[2020-04-28 20:56] #189 closed

[2020-04-28 20:56] #175 closed

[2020-04-28 20:56] #174 closed

[2020-04-28 20:57] #217 closed

[2020-04-28 20:59] jameskleeh commented on #223
@pditommaso Are you using the password grant? Can you upload an example that reproduces the issue? I can see the event is emitted in the login controller and the callback of the oauth controller. I can't envision a case where both of those methods are called for a single login

[2020-04-28 21:01] jameskleeh commented on #225
@t139n That could only happen if the provider is not returning a token. I would assume that means there is some problem on your end or the provider

[2020-04-29 07:40] pditommaso commented on #223
I've realised there's a problem in my login flow. Closing. Tx!

[2020-04-29 07:40] #223 closed

[2020-04-29 15:33] jameskleeh commented on #209
I have improved the error message, however without an example that reproduces the issue of the config being null, I don't know what to do there. If there is an issue, it would likely be in core as this library is reading config in a standard way.

[2020-04-29 16:14] ronhitchens commented on #209
I did some experimentation with this yesterday and can reliably and easily reproduce this problem.  It basically boils down to the fact that specifying the property via an environment variable doesn't work.  There's also an issue that *not* specifying the signing secret does *not* cause a startup failure.

Without the workaround bean above in place, I tried the four combinations, defining the prop

[2020-04-29 16:45] graemerocher commented on #209
Thanks for the comprehensive feedback. @jameskleeh the change we should make is to initialize the config early and add validation to fail fast. This should be done for all security related configuration IMO.

[2020-04-29 17:35] jameskleeh commented on #209
If the secret is null it will now fail on application startup

[2020-04-29 17:35] #209 closed

[2020-04-29 17:59] graemerocher commented on #209
@jameskleeh can you reference the commit with the change?

[2020-04-29 18:00] jameskleeh commented on #209
Sure https://github.com/micronaut-projects/micronaut-security/commit/425d705d53cfb4078863953c7dff4cd01c070253#diff-d96718ecadd7ec87058eb11faa702616

[2020-04-30 18:22] dgbmariano commented on #209
Thanks for the workaround. I made some testing and made a Koltin variation of the code written by  @ronhitchens and now is working. Probably I was facing some problems with the environment variables.

[2020-05-03 22:14] StephenOTT opened #228 "Pattern or provide override for additional Login info in Login controller"
MN 1.3.4

Using LoginController, you are provided with username/password credentials using UsernamePasswordCredentials.class.

If additional info should be provided (such as Tenant, or other principal attributes), Is it better to replace the LoginController?  Or should LoginController provide the functionality to configure the Login body?
https://github.com/micronaut-projects/micronaut-security/bl

[2020-05-06 07:13] Fuyukai opened #229 "No way of signalling invalid refresh tokens"
In a RefreshTokenPersistence, `getUserDetails` can only ever return a valid UserDetails; failing to do so causes a 500 errror with `The source Publisher is empty`. There should be a way to return a 401/403/whatever if the refresh token is invalid in some way.

[2020-05-08 18:03] jameskleeh commented on #228
@StephenOTT The body type can't be configurable because a static type has to be in place for the method. If you need additional information, the solution is to override the controller

[2020-05-08 18:04] #228 closed

[2020-05-08 18:04] StephenOTT commented on #228
Thank you

[2020-05-08 18:05] jameskleeh commented on #229
That isn't true. It can return a publisher than emits an exception

[2020-05-08 18:06] #229 closed

[2020-05-10 06:47] jameskleeh commented on #225
Closing due to a lack of feedback. If you decide to pursue this further please let me know and I'll reopen

[2020-05-10 06:47] #225 closed

[2020-05-14 06:58] sdelamo opened #231 "Improve RefreshTokenConfigurationProperties Javadoc and docs default value for enabled"
![Screenshot 2020-05-14 at 08 57 13](https://user-images.githubusercontent.com/864788/81902835-18788600-95c1-11ea-9438-e7badb21e0de.png)

[2020-05-14 07:53] sdelamo opened #232 "io.micronaut.security.oauth2.ApplicationContextSpecification starts embeeded server"
The abstract class was designed to to be extended by tests which did not need an EmbeddedServer.

`AudienceClaimValidatorSpec`, `AuthorizedPartyClaimValidatorSpec`

This is causing the build to fail:

For example that test does not need a server to be started:

[code]

[2020-05-14 09:16] sdelamo opened #233 "Create ErrorResponse contract"
See [RFC 6479 Error Response](https://tools.ietf.org/html/rfc6749#section-5.2)

Token renewal via refresh token should respond such errors when a failure occurs:

[Refreshing an Access Token](https://tools.ietf.org/html/rfc6749#section-6)

[2020-05-14 09:20] #232 closed

[2020-05-14 09:21] sdelamo commented on #231
Changes lived at: https://micronaut-projects.github.io/micronaut-security/snapshot/guide/index.html

[2020-05-14 09:21] #231 closed

[2020-05-14 10:55] sdelamo opened #234 "wrong response JSON body for invalid refresh request"
A `POST /oauth/access_token` request with body:

[code]

should return:

HTTP Status 400

[code]

Instead it returns:

[code]

[Refreshing an Access token](https://tools.ietf.org/html/rfc6749#section-6)
....

   token as described in Section 5.1.  If the request failed
   verification or is invalid, the authorization server returns an error
   response as described in Section 5.2.

[2020-05-14 14:31] #234 closed

[2020-05-14 14:32] #233 closed

[2020-05-14 15:52] sdelamo opened #235 "invalid refresh token should return 400"
Trying to get a new access token with an invalid refresh token should return 400 {error: invalid_grant}

Currently, it returns 500.

[Issuing Access Token - Error Response](https://tools.ietf.org/html/rfc6749#section-5.2)

**invalid_grant**

[2020-05-15 11:35] #235 closed

[2020-05-15 11:46] om-sharma opened #236 "Version 1.4.0 Support for request/request-headers in TokenValidator"
We need to access request headers so that this could be send to third party identity provider to validate token.

https://github.com/micronaut-projects/micronaut-security/blob/042661da14590d93faba6122df815bed1e1d39fa/security/src/main/java/io/micronaut/security/token/validator/TokenValidator.java#L36

Authenticator.authenticate method is hardcoding request as null. Either somehow framework need to

[2020-05-15 11:53] graemerocher commented on #236
Would you like to submit a PR?

[2020-05-16 05:33] jameskleeh commented on #236
@om-sharma The code you referenced in `Authenticator` is for backward compatibility. I don't believe that method is getting called.

[2020-05-19 05:54] sdelamo opened #241 "Keys endpoint enabled by default"
Currently the keys endpoint must be enabled with

`micronaut.security.endpoints.keys.enabled: true`

It should be enabled by default but require at lest a bean of type `JwkProvider`.

[2020-05-19 07:47] sdelamo opened #242 "refresh controller enabled by default"
Currently the oauth endpoint must be enabled with

`micronaut.security.endpoints.oauth.enabled: true
`
It should be enabled by default but require beans of type: `AccessRefreshTokenGenerator`, `RefreshTokenPersistence`,  `RefreshTokenValidator`

[2020-05-20 04:35] sdelamo opened #243 "logout controller enabled by default"
Currently you need to enable the logout endpoint

`micronaut.security.endpoints.logout.enabled: true`

[2020-05-20 05:06] sdelamo opened #244 "login controller enabled by default"
Currently you need to enable it with

`micronaut.security.endpoints.login.enabled: true`

Instead, enable it by default but require a `LoginHandler`.

[2020-05-20 05:24] sdelamo commented on #244
Closed by https://github.com/micronaut-projects/micronaut-security/commit/2c0f2f58d4052e4ce5e94c8bcb9a3ed42bbf0b92

[2020-05-20 05:24] #244 closed

[2020-05-20 05:24] #243 closed

[2020-05-20 05:25] sdelamo commented on #242
Closed by: https://github.com/micronaut-projects/micronaut-security/commit/b6e1ae7bfdecc445928b65be69a5cceb4fc94f21

[2020-05-20 05:25] #242 closed

[2020-05-20 05:25] sdelamo commented on #241
Closed by https://github.com/micronaut-projects/micronaut-security/commit/2c2daa3b4540f4e47df29b3467fde017037cc417

[2020-05-20 05:25] #241 closed

[2020-05-20 09:06] sdelamo opened #245 "Simplify redirect configuration"
Currently we have configuration such as:

[code]

Also:

[code]

Simplify it and have the redirection configuration in a single place

[code]

[2020-05-20 10:21] om-sharma commented on #236
@jameskleeh We implement the validateToken method from TokenValidator interface. This doesn't provide request object. In the implementation we are calling Authenticator.authenticate() method. I know in this version you added the authenticate method with request but in validateToken the request is not provided so we can not pass the request headers to thirdparty.

[2020-05-20 10:52] #245 closed

[2020-05-20 10:52] sdelamo opened #246 "Simplify the configuration of LoginHandlers and Logout Handlers"
Currently, `AccessRefreshTokenLoginHandler` is enabled by default.

It is confusing how to enable `JwtCookieLoginHandler`.  You had to disable the bearer and enable cookie.

[code]

[2020-05-20 13:06] #246 closed

[2020-05-20 13:10] sdelamo opened #247 "Deprecate JwtGeneratorConfiguration"
`JwtGeneratorConfiguration` and `JwtGeneratorConfigurationProperties` were removed at [b2c45f206c318b7b41789f70014b4f05c637766d](https://github.com/micronaut-projects/micronaut-security/commit/b2c45f206c318b7b41789f70014b4f05c637766d). Deprecated instead.

[2020-05-21 04:30] ibmsoft opened #248 "Token Propagation section document"
may be this is not right

![image](https://user-images.githubusercontent.com/26042/82523456-e1751800-9b5e-11ea-92f2-69f2d1a0b568.png)

a HttpHeaderTokenWriter and a and a propagation filte

[2020-05-21 06:49] l0co opened #251 "RefreshTokenPersistence response in case of invalid refresh token"
In `2.0.0.M3`.

When a request to get a new access token with refresh token is sent to `/oauth/access_token` and underlying `RefreshTokenPersistence` can't find the refresh token because the token is invalid or expired, I return empty publisher from `RefreshTokenPersistence.getUserDetails()`. In such a scenario the response to the client is HTTP 500, while I believe it should be [HTTP 401 with som

[2020-05-22 06:14] #247 closed

[2020-05-22 06:38] sdelamo commented on #236
what do you exactly need to send to a third party ? Multiple HTTP Header values? can you provide an example? what are you using as a `TokenReader`

[2020-05-22 06:40] sdelamo commented on #251
Hello @l0co

I have updated the JWT guide with an example.

https://guides.micronaut.io/micronaut-security-jwt/guide/index.html#refreshToken

Please, reopen if you consider the issue unresovled.

[2020-05-22 06:40] #251 closed

[2020-05-22 07:03] l0co commented on #251
OK, I see. I'd also add info in `RefreshTokenPersistence.getUserDetails()` comment that in case of
any problem you should publish `OauthErrorResponseException`.

[2020-05-23 20:13] jcassee opened #252 "Authorization header prefix treated case-sensitive"
The implementation of `HttpHeaderTokenReader.extractTokenFromAuthorization` [treats the header value prefix as case sensitive](https://github.com/micronaut-projects/micronaut-security/blob/987e3d3c1962c1152dc74eaeed0bdba2e48cbc81/security/src/main/java/io/micronaut/security/token/reader/HttpHeaderTokenReader.java#L74). Although [the OAuth spec seems to suggest that is it](https://tools.ietf.org/ht

[2020-05-23 20:23] hydroid7 opened #253 "Mistake in the Documentation, Section CustomClaimSetGenerator Guide"
The [example](https://micronaut-projects.github.io/micronaut-security/2.0.0.M1/guide/index.html#claimsGeneration) uses `@Singleton` annotation for the custom claim set generator.
However, the Bean is initialized lazy and there is no `ClaimSetGenerator` Bean in the context when required. This causes an error and the injection fails.

The issue can be fixed when using  `@Context` instead of `@Single

[2020-05-23 21:33] jcassee opened #254 "Please document / implement securing routes by JWT scope"
Micronaut supports JSON Web Tokens as an authentication mechanism. Often, a JWT was obtained from OAuth 2 and represents a client performing a request on behalf of a user. The ["scope" claim](https://tools.ietf.org/id/draft-bertocci-oauth-access-token-jwt-00.html#AuthorizationClaims) is used to tell the server what authorizations the user has entrusted the client with.

Take for example, an API re

[2020-05-23 22:13] jcassee commented on #254
This is a skeleton implementation of using JWT scope for securing routes:

https://gist.github.com/jcassee/8ce917387263d40b9908506af5b5c578

[2020-05-25 04:46] ovargas opened #255 "Ability to set the token expiration time dinamically."
I'm currently in the middle of my custom implementation of client_credentials and grant_type, I have achieved it by implementing:
1. CustomLoginController
2. CustomAuthenticationRequest to include identity (client_id), secret, username, password and grant type.
3. CustomAuthenticationProvider

I would like to be able to set a different token expiration time per client_id, so far setting `exp` in U

[2020-05-25 14:52] sdelamo commented on #255
You could create a bean replacement for `AccessRefreshTokenGenerator`, the bean responsible of generating the expiration.

Probably something like:

[code]

[2020-05-25 14:52] #255 closed

[2020-05-25 14:53] sdelamo commented on #255
see: https://github.com/micronaut-projects/micronaut-security/commit/8f37763d002c1d1727e88ed5c0290c6840267acc

[2020-05-25 14:55] sdelamo commented on #254
Yes, currently we only support `roles` but this is something we could do in the future.

[2020-05-25 15:01] sdelamo commented on #252
We currently support:

`Bearer xx.yy.zz => xx.yy.zz `

and you want to support as well:

`bearer xx.yy.zz => xx.yy.zz`

right?

[2020-05-25 15:03] sdelamo commented on #252
And of course PRs are welcomed.

[2020-05-26 10:07] jcassee commented on #252
@sdelamo Yes, all lower-case is my immediate use case, but "BeArEr" is also valid.

I'll create a PR. I see there are no immediate tests for this class. Do you want me to create one? If so, what would be a good location?

[2020-05-26 11:50] ashwini-desai opened #256 "Securing routes by JWT Claims"
It is a common practice in claim based authorization approach, to allow or disallow a user from accessing a resource, based on claims available in JWT.

I see we have @RolesAllowed annotation that lets us do the same for role based authorization. Similar to [Issue#254](https://github.com/micronaut-projects/micronaut-security/issues/254), a SecurityRule could be provided for checking claims. This w

[2020-05-26 12:07] graemerocher commented on #256
Not that I am aware of, maybe @jameskleeh can provide a better answer

PRs are of course welcome

[2020-05-27 08:33] #193 closed

[2020-05-27 15:58] sdelamo opened #258 "Enhance DefaultProviderResolver to resolve provider via iss claim"

[2020-05-27 16:03] #258 closed

[2020-05-29 02:02] jameskleeh opened #260 "Idtoken should support session"
Currently idtoken assumes cookies, however it should support session as well

[2020-05-29 02:32] jameskleeh commented on #256
@ashwini-desai Can you provide an example of what claim you want to check? How would the framework know:

1. What claim to check
2. What value to compare it against
3. How to compare the values

Is this specific to scope? If so, this would duplicate https://github.com/micronaut-projects/micronaut-security/issues/254

[2020-05-29 02:34] jameskleeh opened #261 "Security-session only looks for old config"
[code]

If someone moves to the new config and sets `authentication = cookie`, with security-session on the classpath, session related beans will still override

[2020-05-29 05:26] sdelamo commented on #261
Not sure if I am understand.

If you have both `security-jwt` and `security-session`.

If you have `micronaut.micronaut.authentication: cookie'.

`SecuritySessionLoginHandler` will not be loaded because the class will be annotated with [`@Requires(property = SecurityConfigurationProperties.PREFIX + ".authentication", value = "session")`](https://github.com/micronaut-projects/micronaut-security/blo

[2020-05-29 10:46] jameskleeh commented on #260
Nevermind - this doesn't make sense

[2020-05-29 10:46] #260 closed

[2020-05-29 14:05] sdelamo opened #262 "Improvements of Refresh Token behaviour for security.authentication.cookie"
Notes:

Adding method to LoginHandler

[code]

We woudl call this method from "OAuthController" -> RefreshController.

We discussed reading the refresh token from other places than @Body

We currenlty have this

`public Single<HttpResponse<AccessRefreshToken>> index(@Nullable TokenRefreshRequest tokenRefreshRequest,`

We support both:

    @Consumes({MediaType.APPLICATION_FORM_URLENCODED, MediaTyp

[2020-05-30 03:04] #261 closed

[2020-05-30 05:47] sdelamo opened #263 "Handling logout for Okta when micronaut.security.idtoken is used"

[2020-05-30 07:36] #252 closed

[2020-05-30 07:40] sdelamo commented on #252
You will see many places int he framework where we don't have unit tests but the class is tested in a functional tests which engages the bean.

However, it is great that you added the functional test.

[2020-06-02 13:35] graemerocher commented on #263
Can this be closed?

[2020-06-05 10:02] sdelamo opened #270 "TokenCookieConfiguration not being loaded"
See annotated tests with `@PendinFeature` in reference comment

[2020-06-05 10:47] graemerocher commented on #270
The update to the build picked up that some tests were seemingly not being run and there are failures that depend on this issue before #268 can be merged

[2020-06-05 11:11] #263 closed

[2020-06-05 14:29] sdelamo commented on #270
I've merged #268 However, we still ned to fix test flagged with `@PendingFeature` at https://github.com/micronaut-projects/micronaut-security/commit/0af75498ae29740660584be760c0e6c33c4d3617

[2020-06-06 07:19] bugbuilder commented on #197
@welovelain I got the "same" error when I tried to use micronaut-kubernetes with graalVM

I fixed it with this:

[code]

Also it would be great to add this settings to micronaut-kubernetes to make it easier to use.

[2020-06-06 07:39] graemerocher commented on #197
Can you report the issue the Micronaut Kubernetes project so it doesn’t get forgotten? Thanks

[2020-06-06 07:49] bugbuilder commented on #197
done

[2020-06-06 08:15] graemerocher commented on #197
Thanks

[2020-06-06 11:23] franz-see opened #271 "Micronaut Security JWT guide references 2.0.0.BUILD-SNAPSHOT and classes not available in any stable release"
The guide https://guides.micronaut.io/micronaut-security-jwt/guide/index.html

Classes not available in any stable release
 * OauthErrorResponseException
 * IssuingAnAccessTokenErrorCode

And there are no other micronaut security jwt guide except this one

[2020-06-06 13:09] franz-see opened #272 "The Micronaut JWT Authentication guide's UnsignedRefreshTokenSpec does not hit CustomRefreshTokenPersistence"
I was reading this guide - https://guides.micronaut.io/micronaut-security-jwt/guide/index.html
And I cloned this project - https://github.com/micronaut-guides/micronaut-security-jwt

1. I loaded up the project's `complete` directory into my IDE
2. I added break points to `example.micronaut.CustomRefreshTokenPersistence#persistToken()` and to `example.micronaut.CustomRefreshTokenPersistence#getUser

[2020-06-08 13:38] jameskleeh commented on #272
That test simply tests the failure case of submitting an invalid token. Only if the token is valid does it get passed to the token persistence layer

[2020-06-08 13:58] #270 closed

[2020-06-08 18:08] morki opened #275 "JWT's cookie and bearer are mutually exclusive"
When setting both `security.token.jwt.cookie.enabled` and `security.token.jwt.bearer.enabled` to `true`, only bearer token is returned from `/login` endpoint.

It would be helpful, if both are used, so bearer token is returned and cookie is set.

For example, for web application, the browser will use cookie and ignore the bearer response, but mobile app will ignore cookie and use bearer instead.

[2020-06-08 20:04] #236 closed

[2020-06-08 20:04] jameskleeh commented on #220
Should be resolved for 2.0

[2020-06-08 20:04] #220 closed

[2020-06-08 20:06] jameskleeh commented on #275
I don't think we will be supporting this. We already support a wide array of use cases and this would only complicate matters further. You could achieve this by overriding the login handler to also add a cookie.

[2020-06-08 20:06] #275 closed

[2020-06-10 14:03] sdelamo opened #281 "Schedule LdapAuthenticationProvider to IO"
With the change of thread-selection to Manual in Micronaut 2.0 I think we should subscribe the Flowable created for LDAP authentication provider to IO:

See: https://github.com/micronaut-projects/micronaut-security/blob/master/security-ldap/src/main/java/io/micronaut/configuration/security/ldap/LdapAuthenticationProvider.java#L179

[2020-06-11 09:42] sdelamo opened #282 "Delete UserDetails and just use Authentication"
I think one of the more confusing parts of the security API is the use of `UserDetails`, an implementation, instead of `Authentication` the interface.

The correct way to instantiate a `UserDetails` should be

[code]

and then we should be able to expose a `getAttributes()` method in `UserDetails`.

Initially `UserDetails` did not have attributes. Moreover, the above instantiation is cumbersome. W

[2020-06-12 13:19] #272 closed

[2020-06-12 13:20] #262 closed

[2020-06-12 14:55] sdelamo opened #284 "BasicAuthAuthenticationConfiguration defines its own roles key but TokenConfiguration should be used instead"
Steps to reproduce:

[code]

[code]

`curl "http://localhost:8080"   -u 'admin:admin'` returns `admin`.

If I set:

[code]

and restart the app

`curl "http://localhost:8080"   -u 'admin:admin'` returns `403`.

Micronaut Security 2.0.0.M3

[2020-06-12 15:09] sdelamo opened #286 "Key for the user's name in the authentication attributes is hardcoded"
It should be configurable.

For example `IdTokenLoginHandler`

[code]

[2020-06-13 00:02] sdelamo commented on #253
Hi @hydroid7 Not sure I understand the problem. I think @Singleton is the correct scope for the replacement. Please, provide an example app which reproduces the issue.

[2020-06-13 00:05] sdelamo commented on #23
@jameskleeh this is implemented right?

[2020-06-13 00:06] jameskleeh commented on #23
Yes

[2020-06-13 00:06] sdelamo commented on #271
I've included link to 1.x guide in the top of the guide:

https://guides.micronaut.io/1.x/micronaut-guides/micronaut-security-jwt/index.html

[2020-06-13 00:06] #271 closed

[2020-06-13 09:04] mikaelhg commented on #23
Unfortunately, I'm unable to verify the solution and close the ticket, as I no longer have that component at hand.

[2020-06-15 02:25] #23 closed

[2020-06-15 15:01] #281 closed

[2020-06-15 15:01] #284 closed

[2020-06-15 15:01] #286 closed

[2020-06-16 10:36] traycho commented on #256
I think this topic becomes more popular, i was working on something similar.

@jameskleeh  Is it possible to incorporate something of this kind https://github.com/traycho/pulsarix-micronaut-security-jwt under `micronaut-security-jwt`

[2020-06-16 10:38] traycho commented on #254
I have something similar in this context.

https://github.com/micronaut-projects/micronaut-security/issues/256#issuecomment-644682219

[2020-06-17 10:55] traycho commented on #186
Has anybody tried this working with docker ?

[code]
It seems getAddress() is returning null
[code]

[2020-06-17 18:04] morki opened #290 "SAML Support"
Is SAML support on the roadmap or is it not planned, because Micronaut is focused on microservices?

[2020-06-22 09:19] ashwini-desai commented on #256
@jameskleeh Missed this thread earlier.

Example could be very similar to how @RolesAllowed is implemented.
To answer your questions:

1. What claim to check - It could support a key value check like @ClaimAllowed("sub", "xyz") or like how we can configure a key for roles, we could let users defined custom key which could be an array etc that holds custom claims in a token and @ClaimsAllowed("valu

[2020-06-22 18:15] fmayoral opened #292 "Extending and replacing SecurityFilter makes the UserPrincipal non-injectable"
Because of how the [PrincipalArgumentBinder](https://github.com/micronaut-projects/micronaut-security/blob/1.3.x/security/src/main/java/io/micronaut/security/authentication/PrincipalArgumentBinder.java#L45) works, extending the SecurityFilter breaks the injection of the user principal if the extending class is named anything else other than `SecurityFilter`.
This looks intentional, however it's ra

[2020-06-23 03:37] dstepanov commented on #256
You can override `RolesFinder` and provide extra roles from claims.

[2020-06-23 03:39] dstepanov commented on #254
I think this one can be also solved by custom `RolesFinder`.

[2020-06-23 09:33] jcassee commented on #254
@dstepanov I would not mix roles and scopes, I think they really are different things.

[2020-06-24 14:56] SushmaReddyLoka opened #298 "jwt authentication support in http/2"
How is jwt token authentication handled for http/2 requests.
Does the authentication happen when connection establishes or for every stream in the connection ?
For http/1 requests i see that token validation OOTB happens by providing bean of type  RSASignatureConfiguration and security filter takes care of validation using the publickey provided by  RSASignatureConfiguration bean. How does it happ

[2020-06-26 11:19] SushmaReddyLoka opened #300 "jwt authentication support in http/2"
With recent support for http/2. How is jwt token authentication handled for http/2 requests. Does the authentication happen when connection establishes or for every stream in the connection ? For http/1 requests i see that token validation OOTB happens by providing bean of type RSASignatureConfiguration and security filter takes care of validation using the publickey provided by RSASignatureConfig

[2020-07-07 09:54] morki commented on #290
We resolved this using Keycloak as identity broker.

[2020-07-07 09:54] #290 closed

[2020-07-09 23:15] HelLViS69 opened #307 "Token Propagation not working in environment properties"
Hello, I have a strange problem with the token propagation.
I just updated to Micronaut 2.0.0, and following the migration steps I changed some properties to adapt to new behaviour.

My environment is as follow:
1. authentication service, which generates the JWT token
2. GraphQL service, which validates the token and then propagates it to the underlying services
3. other services, which validate t

[2020-07-11 05:15] #300 closed

[2020-07-11 05:15] jameskleeh opened #308 "Authentication attributes should be convertable"
It would be nice to do `getAttributes.get("id", Long.class)` for example

[2020-07-12 17:44] jameskleeh opened #309 "Deprecate DefaultOpenIdUserDetailsMapper#createUserDetails"
The interface method is deprecated, but not the default implementation

Also, we need to either run the publisher returned by the openid response hander on the IO loop, or have the details mapper return a publisher. Currently if a custom details mapper is used and blocking operations are done, its not possible for them to not block the event loop.

[2020-07-13 00:37] jameskleeh opened #310 "Oauth routes need to produce text/html"
They aren't getting chosen over generic routes for SPAs because they don't define a produces type

[2020-07-14 07:55] phillwatson commented on #175
io.micronaut.security.token.jwt.cookie.JwtCookieLoginHandler
Uses the same configuration (including max-age) for both access-token and refresh-token. There doesn't appear to be a way of specifying the refresh-token should not expire.

[2020-07-16 07:20] alvarosanchez opened #312 "Micronaut Security: master as the default branch"
2.0.0 was released. Any reason why master isn't yet the default branch?

[2020-07-16 15:44] sebastianlavender opened #313 "@ExecuteOn is ignored when using Micronaut Token Validator"
When using @ExecuteOn from within a controller in conjunction with Micronauts Token Validator the effect of the @ExecuteOn is ignored. The Token Validator uses the eventloop and carries this over to the controller and any subsequent method from within the controller continues on the eventloop.

This causes the same issue as reported in micronaut-projects/micronaut-core#3694 meaning that the client

[2020-07-17 15:28] istvanszoboszlai opened #315 "Token refresh process improvements"
The new refresh mechanism in MN 2.0 is really great. It does, however need some improvement to be fully usable out-of-the-box.
The task list below is my opinion only. This was formulated while implementing refresh mechanism for an Angular SPA.

I would like to start a discussion based on the task list bellow. I am also glad to add a PR if Micronaut OGs agree with my view :)

### Task List
- JWT_RE

[2020-07-17 15:41] graemerocher commented on #315
Good suggestions, fancy sending a PR? :)

[2020-07-17 15:41] graemerocher commented on #315
Actually maybe if @jameskleeh can ship in with his thoughts first

[2020-07-17 15:47] istvanszoboszlai commented on #315
@graemerocher, thanks for the fast feedback :)

I have these things now implemented in kotlin in my controllers that are replacing the default implementations. I think they are relatively easy to port to the default implentations. You guy's code is really easy to read imho :)

One thing I would need some help with is writing some proper unit tests. I do not have much experience with that in MN.

A

[2020-07-17 15:52] jameskleeh commented on #315
The first 3 items I agree with for sure

I'm a bit weary about adding a method that is only useful for one of the implementations, however it could be useful in general so I guess I'm OK with this. Note it would have to be a default method to not break existing implementations.

This should be configurable, and if not set, use the configured value for the controller (the controller path is configu

[2020-07-20 13:09] istvanszoboszlai commented on #315
Thanks for the feedback. I will try to do it in the beginning of this week.
One more thing that my implementation contains (and which turned out to be more complex than I anticipated before) is the serialization of the access_token. It does not work out-of-the box with any json ser/deser implementation, as the `Map<String,Object>` type is not easy to serialize (and also has some security implicati

[2020-07-20 13:13] jameskleeh commented on #315
@istvanszoboszlai The in memory implementation shouldn't be designed to be extensible and serialization is not necessary. For example:

[code]

[2020-07-20 14:58] istvanszoboszlai commented on #315
@jameskleeh, of course for putting UserDetails in a HashMap we do not need any serialization, but the next step for any user would be to persist UserDetails in some DB, and in that case serialization is hard to avoid.

I get it, however, that you would not like refresh token persistence and serialization to be part of the framework. That is totally fine.

[2020-07-20 15:06] jameskleeh commented on #315
@istvanszoboszlai I don't think the data would be serialized in any case. The idea would be to create a new UserDetails from the database, pulling in data from perhaps multiple places. The existing UserDetails would never be returned because it wouldn't take into account any change of roles or any other user information.

[2020-07-21 11:39] istvanszoboszlai commented on #315
@jameskleeh I was thinking about some kind of an invalidation mechanism, but thinking a bit further about the issue, I think you are right.
I would just like to avoid having to write the access_token generation logic twice.

I will look into the code more deeply to know where I can hook into the existing UserData generation process in my case of using OpenId Connect.

If I forward every refresh ca

[2020-07-21 12:48] jameskleeh commented on #315
@istvanszoboszlai Unfortunately, there is no standard there so we can't implement something generic. If you're using the token directly from the provider its up to you to call the provider to refresh it

[2020-07-23 09:00] sdelamo commented on #312
I think it should be changed to `master` as well.

[2020-07-23 09:04] lehotskysamuel opened #319 "Session not saved during calling OAuth callback"
Hi,
I have a following scenario:

1) user is logged out, clicks on login button (GET /oauth/login/keycloak) and is redirected to keycloak login page
2) user submits his credentials and is redirected back to my service (GET /oauth/callback/keycloak?\<parameters\>)
3) micronaut security valides tokens and jumps into login handler.
    - I'm using `DefaultOpenIdClient`, `DefaultOauthController` and `

[2020-07-23 09:07] lehotskysamuel commented on #319
One more note: I've tried adding relevant parts from `HttpSessionFilter` at the end of `SessionLoginHandler` and it started working. Although that was just to test my hypothesis, it's a blocking code, so not a fix.

[code]

[2020-07-23 14:32] alvarosanchez commented on #312
Changed.

[2020-07-23 14:32] #312 closed

[2020-07-23 15:41] sdelamo opened #325 "SecurityService::hasRole should be case sensitive both for collections and strings"
Defining roles with `@Secured` annotation or with[ intercept url maps](https://micronaut-projects.github.io/micronaut-security/latest/guide/index.html#interceptUrlMap) is case sensitive.

However, `SecurityService:hasRoles` is case insensitive for roles exposed as a String by `Authentication`

The following test fails for the last condition:

[code]

See https://github.com/micronaut-projects/micro

[2020-07-23 16:26] sdelamo opened #327 "Roles should be case insensitive"
I think the best default is what we currently have. That it is case sensitive.

However, some users expect them to be case insensitive:

[hasRole check should case insensitive validation in both ways for String and Collections](https://github.com/micronaut-projects/micronaut-security/pull/297).

Maybe, we can make it configurable.

[2020-07-23 17:00] #325 closed

[2020-07-24 08:45] sdelamo commented on #327
You will be able to achieve case insensitive by overriding `RolesFinder`

[code]

[2020-07-27 11:10] sdelamo commented on #319
It seems an issue with the order of the filters. In Micronaut 2.0 we introduced  [SeverFilterPhase](https://github.com/micronaut-projects/micronaut-core/blob/master/http/src/main/java/io/micronaut/http/filter/ServerFilterPhase.java).

You will see our filters filters typically do something like:

[code]

Would it be possible for you to create filter [replacements](https://docs.micronaut.io/latest/

[2020-07-27 11:25] sdelamo commented on #315
@istvanszoboszlai

@jameskleeh

We have already an example with persistence in the JWT guide. I would prefer us to maintain that example with as many good practice as possible than provide an in-memory implementation.

[2020-07-27 11:27] sdelamo opened #331 "Limit JWT_REFRESH_TOKEN cookie paths"
@istvanszoboszlai

@jameskleeh

[2020-07-27 11:28] sdelamo commented on #315
I've moved part of this conversation to its own issue

[Limit JWT_REFRESH_TOKEN cookie paths](https://github.com/micronaut-projects/micronaut-security/issues/331)

[2020-07-27 11:31] sdelamo opened #332 "Logout Handler should also clear JWT_REFRESH_TOKEN cookie and invalidate token"
@istvanszoboszlai

@sdelamo

@istvanszoboszlai

This is a subtask from https://github.com/micronaut-projects/micronaut-security/issues/315

[2020-07-27 11:31] sdelamo commented on #315
I've created a sub-task for: [Logout Handler should also clear JWT_REFRESH_TOKEN cookie](https://github.com/micronaut-projects/micronaut-security/issues/332)

[2020-07-27 11:39] sdelamo commented on #315
@istvanszoboszlai

it defaults already defaults to secure:

https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/cookie/JwtCookieConfigurationProperties.java#L52

By default we don't specify a same site policy but you could specify it with:

`micronaut.security.token.jwt.cookie.cookie-same-site: Strict`

Unless, we consider

[2020-07-27 11:51] sdelamo opened #333 "Token Refresh Cookie max-age should be configurable"
@istvanszoboszlai

This is a subtask of:

https://github.com/micronaut-projects/micronaut-security/issues/315

[2020-07-27 11:51] sdelamo commented on #315
I've extracted an issue for: https://github.com/micronaut-projects/micronaut-security/issues/333

[2020-07-27 12:47] istvanszoboszlai commented on #315
Hello @sdelamo, thanks for breaking down this issue further and for all Your valuable input.

So in this main issue remains only the task of "RefreshTokenPersistence should have a new method `invalidateToken(String refreshToken), and JwtClearingLogoutHandler should call this method by default.", right?

Do you guys expect PR-s for each subtask?

I totally agree. And this also realtes to @jamesklee

[2020-07-27 12:49] istvanszoboszlai commented on #331
@sdelamo , did you not mean to quote "JWT_REFRESH_TOKEN cookie should have it's path set to /oauth/access_token and /logout so that it is not sent with other requests." from the umbrella issue of #315?

[2020-07-27 13:52] sdelamo commented on #315
I think a PR per subtask would be ideal.

[2020-07-27 13:59] sdelamo commented on #315
I am not sure about this this method. But probably there is not harm to add it, specially if we want to enforce that behaviour in logout endpoint.

I see any application using `refresh token` to need something to revoke refresh tokens. In the [guide](https://guides.micronaut.io/micronaut-security-jwt/guide/index.html#refreshToken), what I did was to add a `revoked` property to the entity used to p

[2020-07-27 14:01] sdelamo commented on #333
I think we should probably add to [RefreshTokenConfiguration](https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/generator/RefreshTokenConfiguration.java) a method
`@NonNull Duration getCookieMaxAge()`.

Then, we will need to inject `RefreshTokenConfiguration` to `JwtCookieLoginHandler`

[2020-07-27 14:02] sdelamo commented on #331
@istvanszoboszlai I have updated the issue description.

[2020-07-27 14:03] sdelamo commented on #331
Logout path is configurable via [`LogoutControllerConfiguration::getPath()`](https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/endpoints/LogoutControllerConfiguration.java#L30) and here it is a related test: https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/test/groovy/io/micronaut/security/endpoints/Lo

[2020-07-27 14:06] sdelamo commented on #331
Refresh token path is configured via: [OauthControllerConfiguration::getPath](https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/endpoints/OauthControllerConfiguration.java#L33).

It is used in the [OauthController](https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronau

[2020-07-27 14:10] sdelamo opened #334 "Refresh Token Cookie name should be configurable"
Currently it is harcoded as `JWT_REFRESH_TOKEN`

https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/cookie/JwtCookieLoginHandler.java#L120

https://github.com/micronaut-projects/micronaut-security/blob/master/security-jwt/src/main/java/io/micronaut/security/token/jwt/endpoints/OauthController.java#L84

https://github.com/

[2020-07-27 14:10] sdelamo commented on #315
I've added a related task https://github.com/micronaut-projects/micronaut-security/issues/334

[2020-07-27 14:13] istvanszoboszlai commented on #315
Yes this is exactly the reasoning, which actually happened to me, when I implemented the refresh mechanism. I also think that it is a (not to severe, but) security issue if the user's machine possesses a token that grants access to a system after logging out form that system.

[2020-07-27 14:31] sdelamo commented on #315
To sum up:

Moved to: https://github.com/micronaut-projects/micronaut-security/issues/333

`secure` already the default. `strict` can be configured via `micronaut.security.token.jwt.cookie.cookie-same-site: Strict`. Changing the latter, it will be breaking. I don't think not having a default is a bug.

Both moved to issue: https://github.com/micronaut-projects/micronaut-security/issues/332

Move t

[2020-07-27 14:31] #315 closed

[2020-07-28 16:55] lehotskysamuel commented on #319
Hi, I think that filters are ordered correctly. I've tried adding copy of the HttpSessionFilter at the end but it didn't help.

The SessionLoginHandler I mentioned is called **after** the whole filter chain and the chain is responsible for saving session. This means that any changes to the session in SessionLoginHandler are not saved (filters are done at this moment).

[2020-07-30 08:18] funnyleolee opened #339 "micronaut cookie max-age session value"
How set `micronaut.security.token.jwt.cookie.cookie-max-age` for session value
eg:
![github](https://user-images.githubusercontent.com/1265291/88899045-2b295f80-d280-11ea-838b-04bedf4508c5.png)

[2020-08-05 16:42] pditommaso opened #344 "Unnecessary warning: Invalid JWT serialization"
### Steps to Reproduce

After upgrading to MN 1.3.7 I'm getting the log flooded with the following message

[code]

The JWT failing is expected since we are using multiple auth provider. This looks the same as #75.

Indeed it looks produced by this snippet:

[code]

### Expected Behaviour

The message is reported as trace level.

### Actual Behaviour

Unncessary warning message

### Environment In

[2020-08-15 01:14] dgbmariano opened #346 "JWT validation failed using Cognito with Google Oauth2"
We are updating to Micronaut 2.0, but a problem occur with our current login workflow. We use cognito as our authentication provider and the login is made using Google.
When we try to sign in in the first time, we receive the following error:
[code]
If we go back to the sign in page and try again the authentication proccess is successful.

### Steps to Reproduce

1. Clone this repo: https://github

[2020-08-17 13:43] sdelamo commented on #346
We include a nonce. More info about nonce validation https://openid.net/specs/openid-connect-core-1_0.html#IDToken

[2020-08-17 14:05] sdelamo commented on #346
Nevermind about nonce validation above. The problem is we are not persisting the nonce and thus we are not able to validate.  This is a bug.

[2020-08-17 17:01] dgbmariano commented on #346
Thanks for the workaround (and looking into the problem)!
 It is a serious security issue to ignore the nonce?

[2020-08-18 05:54] sdelamo commented on #346
@dgbmariano

Instead of disabling validation (delete `NonceClaimValidatorReplacement`), just add this class to your project:

[code]

This will persist the nonce into a cookie and you will be able to validate it with the regular validator (without disabling it).

This will be shipped into the micronuat security module see(linked PRS) in the next patch version.

[2020-08-18 13:03] dgbmariano commented on #346
Thanks @sdelamo!

[2020-08-19 13:45] #346 closed

[2020-08-19 17:29] gauravphoenix opened #359 "Micronaut doesn't validate the security settings at launch time"
Micronaut application start-up should fail if the `application.yml` file has invalid security setting.

### Steps to Reproduce

Generate a project from https://micronaut.io/launch/ and do not select any features i.e. create a micronaut project with the default feature set.

Now modify your `application.yml` file to enable security. Something like this-

[code]

### Expected Behaviour
The above con

[2020-08-20 06:46] sdelamo commented on #359
If I understand you correctly what you suggesting is that if you forgot to add security dependencies to your build but you have security related configuration in your app, the app should fail.

I am of the opinion that developers should be responsible to add the necessary dependencies to enable micronaut to understand their configuration. Moreover, in case of security they should have tests to ens

[2020-08-20 06:46] #359 closed

[2020-08-20 06:47] #344 closed

[2020-08-21 13:57] sdelamo opened #366 "Add Release History section to Micronaut security documentation"
It should point to: https://github.com/micronaut-projects/micronaut-security/releases

[2020-08-24 10:45] ashwini-desai commented on #256
@dstepanov `RolesFinder` by the name is meant for checking `Roles` only. We could provide an implementation, but doesn't sound correct. Also, in general there could be a lot of rules between different claims in the token which could be provided as rules, which will be helpful. So just overriding `RolesFinder` might not help in the longer run. Check [this](https://gist.github.com/jcassee/8ce9173872

[2020-08-24 11:16] sdelamo commented on #256
Yes, I think this is a new feature. I think we could support a `@ScopesAllowed` annotation or a similar name.

[2020-08-24 11:36] ashwini-desai commented on #256
@sdelamo Yes, we could provide generic annotation which can take one or many security attributes from the token and expected values, give enhancement options for AND/OR between them. This will make it work for all attributes, we won't have to make specific annotations like `@ScopesAllowed` then.

[2020-08-24 14:24] dgbmariano commented on #346
One question: I was creating a test to make this workaround pass the coverage quality gate test, and when I tested `retrieveNonce` I received the following error:
[code]
This function is being called? Because according to the test and the file `NettyClientHttpRequest.java` `getCookies` is not implemented. Did I messed up in the test?

The test file (incomplete):
[code]

[2020-08-28 13:32] brent777 opened #369 "JWT "secure" and "SameSite" configs seem to be ignored"
I have a Micronaut-based web-app and I have been having some issues on the authentication side. The problem is specifically related to the change browsers are undergoing where SameSite defaults to Lax and if you use SameSite: none then the cookie must be secure. I am using all of the latest stable versions, e.g. Micronaut 2.0.1.

Chrome gives me the following exception:
`
A cookie associated with

[2020-08-28 14:08] brent777 opened #370 "Recognise absolute oauth2 callback-uri as absolute and don't append it to the base uri"
Would it be possible for the callback-uri to be recognised as absolute if it begins with http / https? Right now, it is considered relative no matter what, it seems.

I need to do this to try workaround a very strange issue that I experience with my Micronaut app in some environments (but not all) where it is trying to make the callback over http instead of https (no idea why since my application

[2020-09-01 14:22] sdelamo opened #372 "Add Introspection endpoint"
Allow the user to expose an [Introspection Endpoint](https://www.oauth.com/oauth2-servers/token-introspection-endpoint/)

[rfc7662](https://tools.ietf.org/html/rfc7662)

[2020-09-03 11:34] alphawolf1988 opened #374 "Multiple Login Handler"
It would be really nice, if we could enable multiple login handlers at the same time, because it seems to be that the configuration:

`micronaut.security.authentication: ....`

only supports one configuration. As a scenario, i want to enable the login handler for IdToken in order to use Goolge, facebook, etc. OAuth 2.0 and i also want to enable the login handler for cookie jwt for my own email / p

[2020-09-05 16:40] mphouston commented on #333
I think this is an important task.  The refresh token cookie expires at the same time as the access token.  Not super critical, but that defeats the purpose of the refresh token cookie (I think).

I have had to work around this by using a _@replaces()_ subclass for JwtCookieLoginHandler.

BTW, I do appreciate the core security work.  Along with -data, it helps me avoid a lot of work :).

[2020-09-07 10:03] vanga commented on #186
I see this error during load testing even when I am on 1.3.2

[code]

[2020-09-09 19:26] jameskleeh commented on #370
@brent777 What is the use case for providing the full URL there? The host resolver should resolve the current server URL

[2020-09-09 19:50] jameskleeh commented on #369
@brent777 Can I summarize this issue as if `same-site` is set to None that the attribute is not set on the cookie when it should be set to "None" ?

[2020-09-09 19:57] jameskleeh commented on #339
This is currently not possible because if you don't set that value the expiration from the access token configuration will be used. That expiration setting has a default so it's not possible to not have a value. In order to use session no max age must be sent.

[2020-09-15 10:50] makubit opened #378 "NullPointerException in IpPatternsRules"
We're facing issues when testing our service (especially during load tests) and getting NullPointerException on IpPatternsRules.

micronaut: 1.3.2

`
4","level":"ERROR","level_value":40000,"stack_trace":"java.lang.NullPointerException: null\n\tat io.micronaut.security.rules.IpPatternsRule.check(IpPatternsRule.java:97)\n\tat io.micronaut.security.filters.SecurityFilter.checkRules(SecurityFilter.jav

[2020-09-15 13:55] graemerocher commented on #378
Please provide an example with steps to reproduce

[2020-09-17 12:06] pmcneil commented on #13
I know this is a little down the track, but... It's a little obscure but you can change the way the roles are mapped in Keycloak to produce a simple roles: ["role1", role2"] mapping.
You can find it in the keycloak UI via `Client Scopes -> roles -> Mappers -> client roles` and change the `token claim name` from something like `resource_access.${client_id}.roles` to just `roles`

hope that helps so

[2020-09-17 13:50] makubit commented on #378
I don't think it can be reproducible with simple application (I will try to create one and reproduce the issue).
Anything else that I can provide you?

We don't use setting `ip-patterns` in application configuration, but adding
[code]
seems to help with this error. I see it can be a workaround, not solution for this issue.

[2020-09-18 11:13] arunapi opened #381 "Support HttpRequest as a method parameter in JWTClaimsValidator"
In order to reduce the (bot)attack surface of my endpoint, I want to tie down a JWT token to the user agent (HTTP request header) and session (an HTTP Cookie).
I want to validate if the HTTP request made with a JWT token (Authorization header) has the user_agent and session claims and it matches the user-agent header and session cookie in the HTTP request.

As per the documentation, I have an easy

[2020-09-23 19:22] jameskleeh commented on #378
It is included in 1.3.2 of Micronaut Security, which was not included by default in Micronaut until 1.3.4. Please test this works with at least that Micronaut version

[2020-09-23 19:22] #378 closed

[2020-09-23 19:22] #370 closed

[2020-09-23 19:25] jameskleeh commented on #374
@alphawolf1988 You realize that will lead to the application handling multiple different types of jwt tokens? Ones from your oauth providers and ones for your own login? You can simply set `micronaut.security.authentication: cookie` and then you can normalize the tokens so you can rely on a consistent format.

I don't know how we could support multiple values there? How could we choose what to do

[2020-09-23 19:27] jameskleeh commented on #339
@funnyleolee Can you describe why you would want to do that?

[2020-09-24 05:15] #366 closed

[2020-09-24 10:00] alphawolf1988 commented on #374
@jameskleeh Of course, the applications needs to handle different jwt token types, but i mean the use case of having multiple login realms like google, facebook, email etc. is some common user experience. In the end micronaut needs to create a principal from a capable login facade and all following processes should work as expected. Micronaut could decide the login realm for example by cookie / he

[2020-09-24 13:01] jameskleeh commented on #374
It doesn't have to. Like I said above you can normalize all authentication sources into a common token format and have all tokens generated from Micronaut.

[2020-09-24 13:50] alphawolf1988 commented on #374
@jameskleeh Is there any good starting point / example in order to do this?

[2020-09-24 13:51] jameskleeh commented on #374
@alphawolf1988 It works that way by default with `micronaut.security.authentication: cookie`

[2020-09-24 13:52] jameskleeh commented on #374
The `OpenIdUserDetailsMapper` is responsible for converting the Oauth provider JWT claims into the UserDetails, which would be the common format

[2020-09-24 14:02] alphawolf1988 commented on #374
@jameskleeh thanks, i'll look into it. Feel free to close this ticket.

[2020-09-24 15:06] #374 closed

[2020-09-25 08:50] sdelamo opened #401 "Document ClaimsAudienceProvider"

[2020-09-25 08:51] sdelamo opened #402 "Document JwtIdGenerator"

[2020-09-25 14:27] #381 closed

[2020-09-25 16:05] jameskleeh commented on #369
Closing due to a lack of feedback. I've attempted to reproduce the issue and I cannot. I'll re-open if you can provide an example application that reproduces the issue

[2020-09-25 16:05] #369 closed

[2020-09-25 16:14] #331 closed

[2020-09-25 16:14] #332 closed

[2020-09-25 16:14] #333 closed

[2020-09-25 16:14] #334 closed

[2020-09-25 16:24] jameskleeh commented on #319
@lehotskysamuel The session is added to the request attributes in `SessionForRequest.create`. The session filter should then be retrieving that session here https://github.com/micronaut-projects/micronaut-core/blob/2.0.x/session/src/main/java/io/micronaut/session/http/HttpSessionFilter.java#L126 and then encoding it.

[2020-09-25 17:25] lightoze commented on #319
@jameskleeh I believe that due to the bug linked above cookie header set by HttpSessionFilter is not returned to the client.

[2020-09-25 19:42] jameskleeh commented on #292
@fmayoral The binder needs to know whether filters have been executed yet or not. There isn't a standard way in Micronaut to determine that so we are using the request attribute for SecurityFilter. You can still extend the class, however you would have to set that attribute in order for that logic to work.

[2020-09-26 09:05] #319 closed

[2020-09-28 15:48] #372 closed

[2020-09-29 08:24] sdelamo opened #408 "Micronaut security exposes micronaut-management as a transitive dependency"
By adding `micronaut-security` you automatically get a `/health` endpoint exposed

[2020-10-03 11:34] p1729 commented on #308
@jameskleeh I would like to contribute to this. Are you looking for something like a default method in `io.micronaut.security.authentication.Authentication` interface
[code]

[2020-10-06 12:54] JouperCoding opened #410 "JWT Refresh Tokens RFC 7519"
Hello,

When following this guide - https://guides.micronaut.io/micronaut-security-jwt/guide/index.html to create Refresh Tokens. The end result JWT tokens in 2.0.1 RC is creating invalid token per the https://jwt.io/ validator.

![image](https://user-images.githubusercontent.com/4056655/95203436-0bb03500-07e3-11eb-935c-5bee12124a59.png)

When investigating the SignedRefreshTokenGenerator.class th

[2020-10-06 13:07] JouperCoding opened #411 "JWT Rotate Signature Secrets"
When creating Access Tokens / Refresh Tokens, there seems to be no way to rotate the secret without breaking all of the already issued JWT tokens for each users.

An example workaround for Refresh Tokens would be to create a custom class which

@Replaces(SignedRefreshTokenGenerator.class)

And then gets 2 secrets and validates tokens against both secrets and only issues new tokens by a primary sig

[2020-10-06 13:38] JouperCoding commented on #410
Closing this issue - This is referring to JWS and not JWT and JWS does not require the payload to be JSON formatted.

[2020-10-06 13:38] #410 closed

[2020-10-06 17:43] jameskleeh commented on #411
So the issue I think with this in general is that when the app restarts all previous tokens will no longer validate because the previous signature is stored in memory. We can make this api extensible to allow for this sort of custom behavior but I'm not sure we could implement this sort of thing by default. There are a lot of variables that we couldn't make assumptions about

[2020-10-06 18:36] #309 closed

[2020-10-07 12:00] JouperCoding commented on #411
@jameskleeh  Yes, im running this in a AWS Lambda function so the secret is only "okay" for the 15 min that context is running. If we change secret at any points all of the tokens given out would start failing. So it would be nice to at least be able to validate issued tokens by the old secrets but as soon we have changed to a new secret all new tokens should be issued with the new secret.

[2020-10-08 08:58] JouperCoding commented on #411
Hello @jameskleeh after some more testing I think I was able to get it to work with the following.

I registered two beans of primary & secondary which both has two different secrets. Then I used the primary secret for the secret signature. i.e the token that is returned from /login will always have a signature based on my primary secret.

And any other endpoint will allow both tokens from secret

[2020-10-12 14:56] sebastianlavender commented on #313
@jameskleeh is there any progress on this?

[2020-10-13 06:55] graemerocher commented on #313
Submitted PR https://github.com/micronaut-projects/micronaut-core/pull/4301

[2020-10-13 07:44] funnyleolee commented on #339
I want token auto clean when browser closing. Now I use javascript add token to cookie, but not support httponly. If server side add that can be  httponly.however, I can just do my job on client side.

[2020-10-13 16:24] #313 closed

[2020-10-14 12:33] graemerocher opened #414 "Micronaut Security is pulling in the kotlin standard lib"
Same issue as in core, the Kotlin plugin now applys the standard lib as an API dependency. Has to be disabled with this property https://github.com/micronaut-projects/micronaut-core/blob/2.1.x/gradle.properties#L147

[2020-10-20 12:58] Panthaaaa opened #419 "JWT Cookies only work if micronaut.security.authentication is set to cookie"
io.micronaut.security.token.jwt.cookie.JwtCookieConfigurationProperties requires  io.micronaut.security.authentication.CookieBasedAuthenticationModeCondition which should only be used if login/logout is handled by micronaut. We use header and cookie based auth with externally (keycloak) provided tokens and don't want to enable login/logout in micronaut.

This was added a few weeks ago by #397  at

[2020-10-26 16:05] Archcry opened #422 "micronaut-bom 2.0.1 (in micronaut-security) requires a non-existent version of ktor-bom (1.3.2)"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Clone https://github.com/Archcry/micronaut-security-bom-bug-reproduction.git
2. Run `mvn clean compile`
3. Observe the error

### Expected Behaviour

When using the `

[2020-10-27 11:33] #414 closed

[2020-10-27 15:00] sdelamo commented on #411
@JouperCoding it is easy to create rotating keys with JWK and Micronaut.

This is what I typically do:

I have a CLI application to generate JWK as JSON:

[code]

I generate two keys and I setup in config:

[code]

NOTE: Don't commit those private keys in application configuration but in env. variables or other external configuration.

I create a config file to read them:

[code]

Then I have a si

[2020-10-27 15:00] #411 closed

[2020-10-29 12:58] dreaneii commented on #422
We're also experiencing this problem.
We see that version `2.1.2` of `micronaut-security` (released on 27 October) is still using version `2.0.1` of the `micronaut-bom`

[2020-11-05 18:18] h4t0n opened #439 "OpenId Validation Features without OAuth login handler(s)"
I use Micronaut to validate a Google OpenID JWTs without needing the oauth login handler. I know that I can use jwks url with bearer token validation configuration. But for google the standard endpoint is the openid configuration, indeed jwks uri may change.

Is it possibile to use openid configuration only for token validation?

[2020-11-08 22:25] drvdijk commented on #422
Also see:

- https://github.com/ktorio/ktor/issues/1942
- https://youtrack.jetbrains.com/issue/KTOR-342

It seems micronaut 2.1.3 is using ktor version 1.4.0 which is in maven central. However the 2.1.3 bom specifies dependencies that in turn again use the 2.0.1 version of the bom (eg micronaut-openapi is at 2.1.1 that again uses 2.0.1 of the micronaut bom).

[2020-11-09 08:29] sdelamo commented on #439
I think we should support this.

how do you envision this to work @h4t0n ?

We could support:

[code]

and if you specify a type of openid-configuration we search for the jwks_uri exposed in the well-known/openid-configuration

or did you just want to have something like this:

[code]

We probably need to add a claims validator to ensure we only accept tokens addressed to an OAuth 2.0 client.

[2020-11-09 08:58] h4t0n commented on #439
What about something like that?
[code]

Because here we can use the client-id to validate only its tokens. And do we need the client-secret? I think it can be omitted to verify the token.

[2020-11-09 09:39] graemerocher commented on #422
All modules need to be upgraded to Micronaut 2.1.3 and not use 2.0.x.

In the meantime the workaround is to add `jcenter()` to your repositories in Gradle

[2020-11-09 18:32] drvdijk commented on #422
@graemerocher we're still using Maven, adding jcenter is quite a hassle with creating custom images with custom settings.xml files in our build pipelines. Not quite worth it I guess when new Micronaut module versions might be available soon

[2020-11-09 20:52] sdelamo commented on #439
I agree with you, `client_secret` should not be necessary.

Probably, we should not require `type: verify` either.

[2020-11-09 21:43] h4t0n commented on #439
The type 'verify' or something similar should be used to disable OAuth login endpoints probably. So it is clear that the OAuth2 configuration is only used to verify tokens.

[2020-11-10 10:16] matt-snider commented on #419
Just chiming in with another use case relating to refresh cookies, which also use the same Condition in several spots.

https://github.com/micronaut-projects/micronaut-security/blob/e1ec5ab0e46ce2972cc05b95d47468c663a81da3/security-jwt/src/main/java/io/micronaut/security/token/jwt/cookie/JwtCookieClearerLogoutHandler.java#L39

https://github.com/micronaut-projects/micronaut-security/blob/062135aab

[2020-11-10 11:07] alvarosanchez commented on #422
@drvdijk can you not simply add JCenter as a `<repository>` in your POM?

[2020-11-10 15:02] sdelamo commented on #422
I am going to try to release new versions of micronaut security 2.1.x and 2.2.x

[2020-11-10 16:01] #422 closed

[2020-11-10 16:08] sdelamo commented on #422
I've released Micronaut security 2.1.3

I think you error will be gone if you replace your security dependencies with:

[code]

[2020-11-10 18:36] Archcry commented on #422
That's awesome, thanks!

[2020-11-10 19:11] drvdijk commented on #422
@alvarosanchez yes right, I wasn't thinking straight there 😊 We'll dig into seeing if that's a good temporary solution.

@sdelamo thanks for the release!

Next step I suppose is waiting for other modules to upgrade as well, and then to wait for the micronaut bill of materials to be updated to point to all these new module versions, right?

[2020-11-18 14:57] sdelamo commented on #439
@h4t0n using authentication mode `idtoken` should be what you need. We already have a factory which registers the JWKS uri obtained through discovery:

[JwksUriSignatureFactory](https://github.com/micronaut-projects/micronaut-security/blob/master/security-oauth2/src/main/java/io/micronaut/security/oauth2/client/JwksUriSignatureFactory.java)

I've created a [PR](https://github.com/micronaut-project

[2020-11-18 15:43] h4t0n commented on #439
Sounds really good. So if I don't use the client-secret It means that no OAuth2 login/logout endpoint are created right?

[2020-11-18 19:42] #12 closed

[2020-11-18 19:46] jameskleeh commented on #419
@Panthaaaa If you are using external tokens then the value should be `micronaut.security.authentication: idtoken`, which will enable that bean the same as `cookie`

[2020-11-18 19:48] jameskleeh commented on #419
@matt-snider I think I understand what you want to achieve, but that isn't related to this issue I don't think. You can file a new issue and explain in detail what we could do to improve this library

[2020-11-18 19:51] #292 closed

[2020-11-18 19:52] #91 closed

[2020-11-20 03:43] sdelamo commented on #135
I've added a claims validation section which should help

https://micronaut-projects.github.io/micronaut-security/latest/guide/index.html#claimsValidation

[2020-11-21 01:25] nobleach commented on #135
Thank you so much! I sincerely appreciate the work on this.

[2020-11-24 05:51] Bagurp opened #469 "Update property description in Configuration Reference"
_URL_ - https://micronaut-projects.github.io/micronaut-security/snapshot/guide/configurationreference.html#io.micronaut.security.session.SecuritySessionConfigurationProperties_
_Version_ - 2.2.1.BUILD-SNAPSHOT / 2.0.0

1. _Section_ - Security Session Config Properties
_Property_ - micronaut.security.session.login-failure-target-url
_Description needs to be updated to_ - micronaut.security.redirect

[2020-11-28 15:55] sdelamo commented on #439
@h4t0n I have created a PR and a test to ensoure the callback routes are not defined if you don't have a client secret:

see:

https://github.com/micronaut-projects/micronaut-security/pull/475

[2020-11-29 07:15] #469 closed

[2020-12-01 00:10] ritikmishra opened #479 "Trying to get an attribute from AttributesConvertibleValues raises NPE if attribute does not exist"
To reproduce:
[code]

Stacktrace:
[code]

https://github.com/micronaut-projects/micronaut-security/blob/39eef7d3d3cfe6a25ba957026d725a78b769cbb8/security-ldap/src/main/java/io/micronaut/configuration/security/ldap/context/AttributesConvertibleValues.java#L78

[2020-12-01 15:08] dllewellyn opened #480 "Oauth redirect without https in elastic beanstalk"
I am having an issue with auth when hosting an app in elastic beanstalk. The configuration is setup so that the elastic beanstalk load balancer handles the SSL connection. When I go to /oauth/login/<provider> it redirects me correctly to the auth provider's login page, but with the redirect_uri set as http rather than https

### Steps to Reproduce

1. Run app in elasticbeanstalk
2. Configure app w

[2020-12-01 16:48] h4t0n commented on #439
@sdelamo thanks. Waiting for the merge then.

[2020-12-06 20:15] rafaelrenanpacheco opened #486 "Wrong micronaut-security-oauth2 and jwt reference?"
Hello!

When following the [OAuth 2 installation guide](https://micronaut-projects.github.io/micronaut-security/latest/guide/#installation) it tell us to import this:

[code]

Which didn't work. What did work was this one:

[code]

I tried to fix the docs but I didn't found where to change this dependency reference.

[2020-12-07 11:11] nikomakela commented on #370
It seems like this feature does not work anymore.

[2020-12-07 15:15] jameskleeh commented on #370
@nikomakela As you can see in the commit we have a test for this case. If there is a problem please file a new issue with an example app to reproduce

[2020-12-09 00:46] rafaelrenanpacheco opened #493 "Move login and refresh under the same endpoint"
Hello!

Currently the login flow is handled by the `/login` endpoint. The OAuth2 Refresh Token is handled by the `/oauth/access_token` endpoint. The OAuth2 Password delegates everything to the normal login flow, which is the `/login` endpoint.

So, when using the password + refresh token to authenticate (do not mistake with authorization through 3rd party), we need to use 2 different endpoints. Si

[2020-12-11 02:53] rafaelrenanpacheco opened #495 "JWT roles are ignored when creating UserDetails"
Hello!

What is the reason for the [createAuthentication(JWT token)](https://github.com/micronaut-projects/micronaut-security/blob/7c044c50407f6258e95b93a0f6a0a0e97d918dcb/security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/DefaultJwtAuthenticationFactory.java#L57) to ignore the roles from the token, even tho they match the default `roles` attribute name?

For instance, when sendi

[2020-12-14 06:43] ritikmishra opened #500 "Concurrency bug in CacheableProcessor (used by DefaultClientCredentialsClient)"
### Task List

- [ ] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. Add necessary configuration to `application.yaml` to enable the `ClientCredentialsHttpClientFilter`
2. Make multiple, **simultaneous** API calls to an API for which t

[2020-12-15 01:17] rafaelrenanpacheco opened #501 "Validate userinfo endpoint in each request"
Hello!

When using JWT as an authorization strategy the server will accept requests until the `exp` claim expires. If the user account is disabled, blocked, or even if the user chooses to "logout from all devices", there is currently no way to refuse incoming requests that have a valid, not expired, JWT token.

Even tho JWT authentication is used for stateless application, there is still the conce

[2020-12-16 05:34] sdelamo opened #504 "Support Paseto tokens"
Support Platform Agnostic SEcurity TOkens (PASETO) . Probably using [JPaseto](https://github.com/paseto-toolkit/jpaseto)

See [Introducing JPaseto](https://developer.okta.com/blog/2020/07/23/introducing-jpaseto)

[2020-12-17 12:13] anandjaisy opened #506 "Custom Security Rules not working Micronaut 2.2.1"
am trying to implement the custom security rules with Micronaut 2.2.1, but it is not working.

[code]

Security Rules

[code]

**Controller**

[code]

**Application.yml**

[code]

**AdminRequirement implements SecurityRule the override check() method is never executed, something I am missing.**

[2020-12-17 13:05] sdelamo commented on #506
There are multiple security rules in the system. Maybe your route is being authorised or rejected before it reaches your `SecurityRule`.  Try overriding `getOrder()` method in your SecurityRule coming from the  `Ordered` interface.

I am not sure this is an issue. Thus, I am moving this temporarily to discussions.

[2020-12-17 13:05] #506 closed

[2020-12-19 19:53] bschalme opened #507 "As a Client, Provide an Option to Use OAuth 2.0 Without OpenID"
My experience with Micronaut 2.2.1 and Micronaut Security 2.2.0 is authenticating as a client using the OAUth 2.0 Authorization Code grant expects the authorization server to support OpenID. However, not all authorization servers support OpenID. For example, the [FreshBooks API](https://www.freshbooks.com/api/authentication) only deals with authorization codes, access tokens, refresh tokens, and (

[2020-12-20 05:42] sdelamo commented on #507
Our module already provides OAuth 2.0 support without OpenID Connect.

See our [OAuth 2.0](https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth2-authorization-code) documentation. We have an example with Github which does not involve OpenID Connect.

I am going to keep this issue open to investigate Freshbook API because if they don't use JWT you may need to provide a bean r

[2020-12-21 00:20] bschalme commented on #507
Ah hah! As I read section 15.3.1.1.2 (User Details Mapper) more carefully than I did previously, I see the first paragraph specifically calls out the requirement to define an implementation of OauthUserDetailsMapper. Once I did this, Micronaut was able to register the various OAuth 2.0 endpoints. There is no need for me to define an "opened" hierarchy in application.yml.

I am seeing Micronaut cob

[2020-12-21 04:15] sdelamo commented on #507
You are probably using `cookie` authentication mode. To use the Freshbook access token directly you will need to do something like we are doing when we set `idtoken` authentication mode.

[2020-12-21 05:56] sdelamo commented on #495
The code was behaving ok (it did not matter ignoring the roles when instantiating the user details) but I agree with you is confusing. I have refactor it here:

https://github.com/micronaut-projects/micronaut-security/pull/508

[2020-12-21 06:00] sdelamo commented on #501
Moving this to discussion

[2020-12-21 06:01] #501 closed

[2020-12-21 06:11] sdelamo commented on #493
If we choose to merge them, we could not do it until Micronaut 3.0.0; the next mayor version. Since it will be a breaking change. I am not familiar with [Insomnia](https://insomnia.rest)

I don't know what to think about merging them. They are doing different things. The login endpoint sometimes will not issue an access token. E.g. you are login but you are using session based auth.

Having differ

[2020-12-21 06:33] sdelamo commented on #486
@rafaelrenanpacheco thanks for reporting the issue.

[2020-12-21 06:44] sdelamo commented on #479
@ritikmishra thanks for reporting.

[2020-12-21 07:04] sdelamo commented on #480
It is not an issue of the security module.  You have to configure Micronaut's [HTTP Host Resolution](https://docs.micronaut.io/latest/guide/index.html#hostResolution)

You will need to configure it to use X-Forwarded headers used by AWS:

https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html

Probably something close to:

[code]

You can troubleshoot how your hos

[2020-12-21 07:04] #480 closed

[2020-12-21 07:05] #486 closed

[2020-12-21 07:11] robbietree8 opened #512 "micronaut-security-ldap fails with docker-native"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-12-21 11:58] #479 closed

[2020-12-21 11:58] #495 closed

[2020-12-21 13:25] rafaelrenanpacheco commented on #493
Hello @sdelamo!

I understand the complexity that you explained. IMO I think the bigger "issue" here is micronaut-security handling oauth + traditional authentication and authorization all together based on which property you have activated, which leads to this situation where the password access token and refresh access token have different routes. If you use keycloak, both password and refresh t

[2020-12-21 20:06] bschalme commented on #507
Hmmm... FreshBooks' access token is just a randomly-generated 32-byte string. I'll see what I can do with `idtoken` authentication mode; I may need to JWT-ify their access token.

[2020-12-22 10:14] sdelamo commented on #507
we should support flows which do not involve JWT tokens

[2020-12-22 10:27] sdelamo commented on #500
I've fixed `ConcurrentModificationException` in the above PR. But I am seeing some other issues. Thus, I am keeping the issue opened.

[2020-12-22 11:12] graemerocher commented on #500
@sdelamo I really recommend not writing your own RxJava operators. I did mention in the original PR to use one of the built in processors already provided by RxJava

[2020-12-22 13:10] sdelamo commented on #500
I agree with you @graemerocher

I did not know how to do the current functionality with one of the built-in processors. Probably, my lack of RxJava expertise. I will try again to see if I can make it work with one of the built-in processors. it will be my preferred option.

[2020-12-22 20:40] bschalme commented on #507
I got it to work!
I retained the `cookie` authentication mode, and ensured my `OauthUserDetailsMapper` populated the UserDetail's `attributes` map with the access and refresh tokens. Now a cookie named `JWT` is sent to the browser, and is used as the Bearer token in the Authorization header in subsequent requests. Recent updates to my repo [freshbooks-auth](https://github.com/bschalme/freshbooks-a

[2020-12-25 05:47] VinitTomar opened #526 "Getting null HttpRequest object in custom GenericJwtClaimsValidator implementation"
- [x] Steps to reproduce provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided

### Steps to Reproduce

1. Run cmd `./gradlew -t run`

2. Get jwt token with below curl
[code]
3. Execute below curl for `secured` endpoint
[code]
4. See the console

### Expected Behaviour

validator with request => (HttpRequest Object reference)

### Actual

[2020-12-29 09:53] jaecktec commented on #12
I know this is closed, but it's the first result on common search engines, therefore I'm linking to the docs:
https://micronaut-projects.github.io/micronaut-security/latest/guide/#clientcredentials

[2021-01-16 11:33] sdhimmar006 opened #541 "ClientCredentialsClient not injected in BeanContext"
I am trying to use client credentials in micronaut as specified by https://micronaut-projects.github.io/micronaut-security/latest/guide/#clientcredentials

1. In application.yml put following configuration

2. Put the below line in a function that gets called by controller method.

ClientCredentialsClient client=beanContext.getBean(ClientCredentialsClient.class, Qualifiers.byName("companyauthserve

[2021-01-20 14:31] sdelamo commented on #541
What configuration?

[2021-01-22 06:35] ritikmishra commented on #500
I tried the example application on micronaut-security 2.2.2 and it seems to be fixed now

thanks for all the help!

[2021-01-22 06:35] #500 closed

[2021-01-27 06:27] sdhimmar006 commented on #541
Able to do it now. Upgraded to micronaut-parent 2.x + and it worked. Closing the issue

[2021-01-27 06:27] #541 closed

[2021-01-28 16:09] #507 closed

[2021-01-29 07:02] sdelamo commented on #526
To avoid introducing a breaking change we introduce several methods which allow you to supply the request through the validation chain.

But the request will not be passed unless you provide a  replacement of `JwtTokenValidator::validateToken(String, HttpRequest)`

E.g.:

@Singleton
@Replaces(JwtTokenValidator.class)
public JwtTokenValidatorReplacement extends JwtTokenValidator {
@Override
public

[2021-01-29 07:02] #526 closed

[2021-01-29 14:51] LtTempletonPeck opened #550 "Cannot disable endpoint security and enable HTTP client credentials filter"
I am building a native image lamba with Micronaut that is called via AWS API Gateway (APIG). Auth is handled by APIG so is not required on the apps controller. The app has a client that uses OAUTH2 client credentials to call a secured external API. I cannot find a way to disable endpoint security but enable the HTTP client filter for client credentials `ClientCredentialsHttpClientFilter`.

### Exp

[2021-02-03 14:21] ilopmar commented on #512
@robbietree8 Can you please provide the file `ldap.ldif` that you use to configure the LDAP server?

[2021-02-03 14:44] ilopmar opened #558 "security-ldap uses old package"
The module `security-ldap` is still using the old `io.micronaut.configuration.security.ldap` package instead of the new `io.micronaut.security.ldap`. The rest of the modules are using correctly an `io.micronaut.security.xxxx` package.

[2021-02-03 16:05] sdelamo commented on #558
I think we should change it in Micronaut security 3.0

The maven group is correct:

https://mvnrepository.com/artifact/io.micronaut.security/micronaut-security-ldap

[2021-02-03 16:09] sdelamo commented on #550
Just to be clear,  you want all your controller endpoints to be open?

[2021-02-03 16:12] ilopmar opened #559 "StackoverflowError after authenticate a user in LDAP"
There is an StackoverflowError after a user is authenticated against an LDAP server.

### Steps to Reproduce

- `git clone https://github.com/micronaut-graal-tests/micronaut-security-ldap-graal`
- `cd micronaut-security-ldap-graal`
- `git checkout 2.3.x`
- Start LDAP in a docker container: `docker run -it --rm -p 389:389 pgarrett/ldap-alpine`
- `./gradlew run`

Send curl request:
[code]

Error:

[

[2021-02-03 16:15] ilopmar commented on #558
Yes, make sense to wait until next major version

[2021-02-04 03:06] robbietree8 commented on #512
@ilopmar It's uploaded, even without this file, it's reproducible

[2021-02-04 07:50] ilopmar commented on #512
@robbietree8 I know, I just wanted to have the full example in case it matters. I've discovered that LDAP authentication doesn't work when running on the JVM. I've opened #559. Once that is fixed I'll work on this one.

[2021-02-11 07:33] sdhimmar006 opened #568 "Token propagation not working in native image"
I have a use case where i need to automatically add an oauth2 access token to every outgoing request.

I have followed this configuration https://micronaut-projects.github.io/micronaut-security/latest/guide/#clientcredentials. It works fine on my IntelliJ IDE when i run using GraalVM 20.3.0 But when i create a native image, token is never added to request Please look into it.

### Task List

- [ ]

[2021-02-12 17:58] jameskleeh opened #570 "Support configuring the state implementation type"
Currently you can provide your own state implementation, however StateSerDes will only deserialize into the `DefaultState` class. The type should be configurable

[2021-02-17 08:35] fivig opened #574 "Unnecessary invocation"
Please move
`Map<String, Object> attributes = authentication.getAttributes();`
to the log condition othewise attributes never used. Should be:
`
                    if (LOG.isDebugEnabled()) {
 Map<String, Object> attributes = authentication.getAttributes();
                        LOG.debug("Attributes: {}", attributes
                                .entrySet()
                                .s

[2021-02-17 09:21] graemerocher commented on #574
Sounds like a great opportunity to send a PR 😉

[2021-03-01 12:39] pfyod commented on #12
@sdelamo: any plans to also support the `password` grant? We have an API that we'd like to talk to using Micronaut's declarative HTTP client, but it requires us to use the `password` grant (with a special "system" username/password). Would be great if it was possible to do that using just configuration.

[2021-03-02 15:33] sdelamo commented on #12
@pfyod we support password grant already https://micronaut-projects.github.io/micronaut-security/latest/guide/#password ?

[2021-03-02 15:52] pfyod commented on #12
@sdelamo: Unless I'm missing something, https://micronaut-projects.github.io/micronaut-security/latest/guide/#password is about forwarding user provided credentials to a third party OAuth2 provider. I our use-case, we need to get tokens with _configured_ credentials. Something like this:
[code]

Obviously, we can implement it, but the only differences to the current built-in "client credentials" h

[2021-03-03 07:50] jaecktec commented on #12
Don't want to be the annoying person, but this issue is about client_credentials. 🙈

[2021-03-03 08:02] pfyod commented on #12
Sorry if it was not appropriate for me to ask questions here, but supporting getting tokens with the `password` grant in a manner that I described above is essentially the same code as the one that currently handles `client_credentials`.

Also, the issue was renamed from "Question: Is this going to implement OAuth2 client?" to "Feature Request: Support Client Credentials Grant" and there was a dis

[2021-03-03 12:38] sdelamo commented on #12
@pfyod can we move this to [Discussions](https://github.com/micronaut-projects/micronaut-security/discussions)?

[2021-03-03 22:11] pfyod commented on #12
@sdelamo https://github.com/micronaut-projects/micronaut-security/discussions/585

[2021-03-11 12:55] #574 closed

[2021-03-11 12:55] sdelamo commented on #559
It is not an bug with Ldap.

the issue is that you are attempting to serialize a 'UserDetails' object as JSON with Jackson and that it is not supported. 'UserDetails' has a method 'Optional<UserDetails> getUserDetails' which causes the infinite loop.

[2021-03-11 12:55] #559 closed

[2021-03-11 13:52] sdelamo commented on #559
You will get the same error:

[code]

[2021-03-12 11:39] sdelamo opened #591 "GraalVM and Micronaut Security LDAP not working"
## Step to reproduce

Create an app:

JDK: 11
Micronaut Version: 2.4.0
Language: Java
Test Framework: Spock
Features:
`security-jwt`
`security-ldap`

dependencies:
[code]

Configuration:

[code]

Create a POJO annotated with `@Introspected`

[code]

Without a micronaut bean or a `@Introspected` class `META-INF/native-image/com.example/demo/reflect-config.json` is not created.

Use GraalVM:  21.0.0

[2021-03-12 14:06] #591 closed

[2021-03-12 16:20] #512 closed

[2021-03-23 14:43] fireXtract opened #602 "Application times out when combining oauth2 with @Client"
### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Launch with IntelliJ or whateva
2. Setup keycloak ala readme in example application
2. GET /test as an entry point
3. View HttpClient trace logs on running applicatio

[2021-03-24 10:41] ilopmar commented on #512
@robbietree8 This is a working application with LDAP and Micronaut 2.4: https://github.com/micronaut-graal-tests/micronaut-security-ldap-graal/tree/2.4.x

It only works with Java 11, for Java 8 it fails with an error that seems a GraalVM bug. I've reported it here: https://github.com/oracle/graal/issues/3305

[2021-03-24 10:56] sdelamo commented on #602
hi @fireXtract I don't think it is a security issue. Your sample app does not work without security module.

is this controller supposed to return the HTML page when you visit https://google.com?

[code]

Should not the media type be `MediaType.TEXT_PLAIN`.

Also, `https://www.google.com` seems to be causing a 301 redirection to `https://www.google.com/` which I think causes a loop.

I am going to

[2021-03-24 10:56] #602 closed

[2021-03-24 10:58] sdelamo commented on #512
`robbietree8` please not that you don't need to create a login controller. Micronaut security ships with a built-in Login controller which integrates with the LDAP module. Moreover, you cannot return in any controller `UserDetails`. that class does not play well with Jackson.

[2021-03-25 07:45] robbietree8 commented on #512
@ilopmar thanks, I've updated micronaut version to 2.4.1 in the demo app, and it's working fine now.

@sdelamo the demo was created to show the bug only, actually ldap is only one of mechanisms to authenticate our customs, so we don't use the build-in login controller.

[2021-03-25 11:02] brunodomenici opened #603 "Slack OAuth"
Hi,

I'm trying to configure Slack's OAuth provider in my application, but in this provider, we have a parameter (out of OAuth Spec in my opinion) which is the `user_scope` in addition of `scopes` and we can't configure it in oauth config section.
Without this config, the redirect url generated to Slack misses the parameter `user_scope`.

Example:

[code]

Slack OAuth doc: https://api.slack.com/au

[2021-03-25 15:42] elliott-pope-smarsh opened #604 "Okta OpenID Connect Configuration causing target registration timeouts in AWS ECS"
### Steps to Reproduce

1. Create an HTTP API protected with Okta OpenID Connect Configuration and the `/health` endpoint enabled
`build.gradle`
[code]
`application.yml`
[code]
2. Deploy that on a `t2.micro` instance on AWS ECS
3. Configure an Application Load Balancer to call the `/health` endpoint to register the target

### Expected Behaviour

Container should become healthy and target should b

[2021-03-25 17:58] ednesic opened #605 "Oauth callback returns internal server error on apple login cancel"
I configured an apple provider to login and it works fine but when I click on "cancel" button at Apple login page,

`/oauth/callback/apple` returns internal server error with `No enum constant io.micronaut.security.oauth2.endpoint.authorization.response.AuthorizationErrorCode.USER_CANCELLED_AUTHORIZE` message.

This error code is not documented on https://openid.net/specs/openid-connect-core-1_0.h

[2021-03-25 21:10] fireXtract commented on #602
The endpoint and body of greet are arbitrary, it never gets called when viewing the trace logs for HTTPClient. How are you seeing it 301?

[2021-03-26 04:03] sdelamo commented on #602
I added logs

<logger name="io.micronaut.http.client" level="TRACE"/>

I will create a sample app with another url other than google.com

[2021-03-26 04:10] sdelamo commented on #605
thanks @ednesic which version of Micronaut & Micronaut security are you using? I will investigate this.

[2021-03-26 04:30] sdelamo commented on #604
Please, update a sample app if you can.

Without doing changes to the event loop could you try also to increase Micronaut HTTP Client read timeout.

`http.client.read-timeout`

[2021-03-26 04:44] oscarcitoz opened #606 "Security endpoints sentitive by roles"
Sensitive endpoints are exposed to all logged in users regardless of their role, that is, everyone can have access to these endpoints, which causes a security breach due to the information they handle.

It will create a pr
https://github.com/micronaut-projects/micronaut-security/pull/589

with the option to configure the users who can access them through roles (without affecting the default config

[2021-03-26 09:52] graemerocher commented on #604
increasing the read timeout is not the solution to this. Need to review why the okta config is blocking the event loop

[2021-03-26 09:55] graemerocher commented on #604
Likely culprit https://github.com/micronaut-projects/micronaut-security/blob/ee9e964a70c4bf263a9cdc9bb5dc190777627fea/security-oauth2/src/main/java/io/micronaut/security/oauth2/client/OpenIdClientFactory.java#L93

[2021-03-26 13:09] ednesic commented on #605
@sdelamo core: 2.3.3, Security: 2.3.0

[2021-03-26 16:41] fireXtract commented on #602
Strange. I look forward to your modified app to see if we've got more WOMM behavior.
https://github.com/fireXtract/micronaut-blocking-issue/blob/9edc0cd24dbd48cb8a91170889db16f4ca78e8ad/src/main/resources/logback.xml#L12

[2021-03-29 14:00] sdelamo commented on #605
@ednesic I've written a [Linked in Guide](https://github.com/micronaut-projects/micronaut-guides-poc/pull/169)

[2021-03-29 14:19] sdelamo opened #612 "ErrorResponse::getError return string instead of enum"
To be more flexible and support providers which return error codes which are not defined in https://openid.net/specs/openid-connect-core-1_0.html#AuthError we could change:

[code]

to return  a String instead of an enum:

[code]

[2021-03-29 14:20] sdelamo commented on #605
I think the longer term solution is to have a less ambitious interface which returns error code as a String instead of an enum.

Please, upvote this if you are in agreement with this https://github.com/micronaut-projects/micronaut-security/issues/612

[2021-03-29 14:37] sdelamo commented on #602
what does WOMM stand for?

[2021-03-29 14:42] fireXtract commented on #602
Works on my machine :)

[2021-03-29 14:49] #605 closed

[2021-03-29 14:59] sdelamo commented on #605
@ednesic Micronaut security 1.3.2 contains a fix. Reopen if it does not work for you.

if you are using Gradle you may need to force the version to be picked up over the one in the bom

[code]

[2021-04-03 07:14] JasonTypesCodes opened #623 "StackOverflowError When Eureka and OAuth2/OpenID Configured in Same App"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a Micronaut Application with Eureka and OAuth2 support
2. Update config to support OpenID Connect
3. Try to start application

### Expected Behaviour

Applicat

[2021-04-10 18:13] turretadotcom commented on #419
Hi Team,

We are getting the same error with 2.4.2/2.4.3, but not with 2.0.2. The codes work fine with 2.0.2. We are migrating one service to Micronaut. Is there any way around this issue?

![image](https://user-images.githubusercontent.com/78635009/114280189-b9d6b900-9a6a-11eb-9793-9f1d40e1bb3f.png)

You can check out the codes [here](https://github.com/turretadotcom/micronaut-oauth2-keycloak-mic

[2021-04-11 14:41] sdelamo commented on #603
I think this is what you are looking for can be achieved by replacing `DefaultAuthorizationRedirectHandler`:

[code]

Could you please confirm this work for you?

[2021-04-11 14:45] #603 closed

[2021-04-12 17:12] #606 closed

[2021-04-15 13:47] sdelamo commented on #623
I will do the change @graemerocher Thanks for looking into the root cause.

[2021-04-19 05:22] sdelamo opened #628 "Explore integration with 1Password Secrets Automation"
See: https://support.1password.com/secrets-automation/

See: https://support.1password.com/connect-api-reference/

[2021-04-21 00:14] LGalabov opened #629 "AbstractSecurityRule#getRoles adds mutually exclusive roles"
Hi guys,

I was reading through the library classes and I believe the _getRoles()_ method of class _AbstractSecurityRule_ is adding mutually exclusive roles to the _roles_ list.

If the _claims_ map is not _null_, its content (nothing if empty) plus _IS_ANONYMOUS_ and _IS_AUTHENTICATED_ are added to the result.
I don't have broad knowledge of how Micronaut's security rules work, but it seems that

[2021-04-22 05:14] sdelamo commented on #629
I think the problem is `IS_ANONYMOUS` is not a great name.

If you secure your controller with `@Secured(SecurityRules.IS_ANONYMOUS)` is the same as if you used `@PermitAll`. That it is to say authenticated users or users who are not authenticated will be able to access that resource. That it is the reason of the logic you highlight.

[2021-04-22 05:14] #629 closed

[2021-04-22 06:50] #623 closed

[2021-04-22 18:23] katoquro commented on #282
Hello! Initially I wanted to ask a question like "We have username in our system optional and we relay on id and email so how we should manage UserDetails?". Currently I see that this PR should solve my problem and we won't see usage and casting to user details in security classes.

How long does it take to release this PR?
Thanks

P.S.
Currently we put "user id" at "username" like a workaround an

[2021-04-26 13:27] sdelamo commented on #282
This is a breaking change. So it will go in the next mayor version of Micronaut Security. That it is to say. It may take several weeks go to be released.

[2021-04-27 20:07] adrnola commented on #256
@sdelamo / @jameskleeh - Can you provide an update on this issue [256](https://github.com/micronaut-projects/micronaut-security/issues/256) which relates to [254](https://github.com/micronaut-projects/micronaut-security/issues/254). Do you foresee this being implemented anytime soon ? This would be especially useful for the [OAUTH 2.0 Credentials Flow (Machine-To-Machine)](https://auth0.com/docs/f

[2021-04-27 21:01] jameskleeh commented on #256
@adrnola I'm not convinced its feasible to implement claims validation at the framework level because there is no sensible default on how to verify the value of the claim is correct. We could implement a simple `@ClaimEquals(claim, value)` sort of annotation but I'm not sure how valuable that is. We could also implement an annotation to assert one of the provided scopes is set in the claims, howev

[2021-04-28 00:03] adrnola commented on #256
@jameskleeh - Thanks for the prompt response.

Your right, Security is paramount in any application. Why not have the Micronaut framework have the "best" OAUTH 2.0 Developer user story. Why not have a "fully" consistent OAUTH 2.0 implementation for validating JWT Claims ? Rather than each developer rolling their own. I'm just thinking of the DRY principle here. Wouldn't this be another win for Mic